﻿@model HMSMemri.Models.GetContractRequestDetails
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
ViewData["Title"] = "AddEditContract";
Layout = "_Layout";
}
<style>
    .text-action{
        position:relative;
        bottom:70%;
        left:50%;
    }
</style>
<div class="headertag">
   @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
    {
        <a class="header-brand" href="/Customer">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a>
    }
    else
    {
       <a class="header-brand" href="/Inventory">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a> 
    }
   <span class="r-arrow">
      <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
      </svg>
   </span>
   <a class="header-brand headtagname" href="/Contracts">Contract</a>
   <span class="r-arrow">
      <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
      </svg>
   </span>
    @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
    {
        <span class="header-brand headtagname" id="ContractTilte"></span>
    }
    else
    {
        <span class="header-brand headtagname" >View Contract</span>
    }
</div>
<div class="row">
   <div class="col-md-12">
      <div class="add-edit-section">
          
         @using (Html.BeginForm("EditContract", "Contracts", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "AddEdiContractForm", onSubmit = "return SaveContractForm(this)" }))
         {
          @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
         {
             if (@Model.contractrequest != null && @Model.contractrequest.contract_id > 0)
             {
             <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                   <h4 class="form-page-title">Edit Contract</h4>
                </div>
             </div>
             }
             else
             {
             <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                   <h4 class="form-page-title">Add Contract</h4>
                </div>
             </div>
             }
         }
         else 
         {
             <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                   <h4 class="form-page-title">View Contract</h4>
                </div>
             </div>
         }
         
                <hr />
         

                 @Html.HiddenFor(model => model.contractrequest.contract_id, new {id="contract_id" })
                 @Html.HiddenFor(model => model.contractrequest.cust_id, new {id="cust_id" })
                 @Html.HiddenFor(model => model.contractrequest.facility_id, new {id="facility_id" })
                 @*@Html.HiddenFor(model => model.contractrequest.contract_tp_id, new {id="Iscontract_tp_id" })
                 @Html.HiddenFor(model => model.contractrequest.Notes, new {id="IsNotes" })*@
                 @Html.HiddenFor(model => model.contractrequest.service_tp_id, new {id="ServiceType"})
                 @Html.HiddenFor(model => model.ServiceTypeModule, new {id="ServiceTypeModule"})
                 <label>Customer :</label>
                 @Html.DisplayFor(model => model.contractrequest.cust_name, new {id="cust_name" })
                 <br />
                 <label>Facility :</label>
                 @Html.DisplayFor(model => model.contractrequest.facility_name, new {id="facility_name" })
                 <div class="row">
             <div class="col-lg-5 col-md-12">
                 <div class="form-section">
                    <div class="row">
                       <div class="col-lg-10 col-md-12">
                           <div class="form-group">
                             <label class="col-md-6 control-label"> @Html.DisplayNameFor(model=>model.contractrequest.contract_tp_id) <span class="spanvalidate"> * </span></label>
                             <div class="col-md-10">
                                <div class="input-group selct-opt">
                                   @Html.DropDownListFor(m=>m.contractrequest.contract_tp_id,Model.ContractTypeList,new { @class = "form-control" ,id="Iscontract_tp_id", tabindex = 13, Class="status"} )
                                   @Html.ValidationMessageFor(model => model.contractrequest.contract_tp_id, "", new { @class = "text-danger" })
                                </div>
                             </div>
                          </div>
                           <div class="form-group">
                                <label class="col-md-6 control-label">Service Type <span class="spanvalidate"> * </span></label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(model => model.contractrequest.service_tp_id,Model.ServiceTypeModule,new { @class = "form-control" ,id="IsServiceType",  tabindex = 2, Class="serviceClass"} )
                                        @Html.ValidationMessageFor(Model=>Model.contractrequest.service_tp_id,"",new { @class = "text-danger w-100" })
                                    </div>
                                </div>
                            </div>
                          <div class="form-group">
                             <label class="col-md-6 control-label"> @Html.DisplayNameFor(model=>model.contractrequest.Notes) </label>
                             <div class="col-md-10">
                                <div class="input-group">
                                   @Html.TextAreaFor(model => model.contractrequest.Notes, new { @class = "form-control col-md-12",id="IsNotes",tabindex = 1 })
                                   @Html.ValidationMessageFor(Model=>Model.contractrequest.Notes,"",new { @class = "text-danger  col-md-12" })
                                </div>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="col-md-6 control-label"> @Html.DisplayNameFor(model=>model.contractrequest.contract_po)</label>
                             <div class="col-md-10">
                                <div class="input-group">
                                   @Html.TextBoxFor(model => model.contractrequest.contract_po, new { @class = "form-control col-md-12",id="Iscontract_po",tabindex = 1 })
                                </div>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="col-md-6 control-label"> @Html.DisplayNameFor(model=>model.contractrequest.parts_po)</label>
                             <div class="col-md-10">
                                <div class="input-group">
                                   @Html.TextBoxFor(model => model.contractrequest.parts_po, new { @class = "form-control col-md-12",id="Isparts_po",tabindex = 1 })
                                </div>
                             </div>
                          </div>
                        <div class="form-group d-none">
                             <div class="col-md-10">
                                <div class="input-group flex-nowrap">
                                   @Html.CheckBoxFor(model => model.contractrequest.Isactive, new { @checked = "checked",id="Isactive"})
                                   <span class="col-md-6 control-label">Active </span>
                                </div>
                             </div>
                          </div>
                          <h5 class="mt-4">Client Charges</h5>
                          <div class="form-group">
                             <label class="col-md-6 control-label"> @Html.DisplayNameFor(model=>model.contractrequest.contract_labor_rate)</label>
                             <div class="col-md-10">
                                <div class="input-group">
                                   @Html.TextBoxFor(model => model.contractrequest.contract_labor_rate, new { @class = "form-control col-md-12",id="Iscontract_labor_rate",tabindex = 1, @onkeypress = "return isNumberKey(this,event)" })
                                </div>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="col-md-6 control-label"> @Html.DisplayNameFor(model=>model.contractrequest.contract_travel_chg)</label>
                             <div class="col-md-10">
                                <div class="input-group">
                                   @Html.TextBoxFor(model => model.contractrequest.contract_travel_chg, new { @class = "form-control col-md-12",id="Iscontract_travel_chg",tabindex = 1 , @onkeypress = "return isNumberKey(this,event)"})
                                </div>
                             </div>
                          </div>
                          <h5 class="mt-4">Select the Vendor</h5>
                          <div class="form-group">
                             <label class="col-md-6 control-label"> @Html.DisplayNameFor(model=>model.contractrequest.vendor_id) <span class="spanvalidate"> * </span></label>
                             <div class="col-md-10">
                                <div class="input-group selct-opt">
                                   @Html.DropDownListFor(m=>m.contractrequest.vendor_id,Model.VendorListModule,new { @class = "form-control" ,id="Isvendor_id", tabindex = 13, Class="status"} )
                                   @Html.ValidationMessageFor(model => model.contractrequest.vendor_id, "", new { @class = "text-danger" })
                                </div>
                             </div>
                          </div>
                          <h5 class="mt-4">Contract Details</h5>
                          <div class="form-group">
                             <label class="col-md-6 control-label"> @Html.DisplayNameFor(model=>model.contractrequest.start_dt) <span class="spanvalidate"> * </span></label>
                             <div class="col-md-10">
                                <div class="input-group">
                                   @Html.TextBoxFor(model => model.contractrequest.start_dt,"{0:yyyy-MM-dd}", new { @class = "form-control col-md-12 DatePicker",id="IsStartTermDate",data_mask = "00/00/0000" ,max="12/31/9999",min="01/01/1990"})
                                   @Html.ValidationMessageFor(Model=>Model.contractrequest.start_dt,"",new { @class = "text-danger  col-md-12" })
                                </div>
                             </div>
                          </div>
                          <div class="form-group">
                             <label class="col-md-6 control-label"> @Html.DisplayNameFor(model=>model.contractrequest.enddate_dt) <span class="spanvalidate"> * </span></label>
                             <div class="col-md-10">
                                <div class="input-group">
                                   @Html.TextBoxFor(model => model.contractrequest.enddate_dt,"{0:yyyy-MM-dd}", new { @class = "form-control col-md-12 DatePicker",id="IsEndTermDate",data_mask = "00/00/0000" ,max="12/31/9999",min="01/01/1990"})
                                   @Html.ValidationMessageFor(Model=>Model.contractrequest.enddate_dt,"",new { @class = "text-danger  col-md-12" })
                                </div>
                             </div>
                          </div>
                       </div>
                       @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
                         {
                             <div class="col-12">
                                <input type="submit" value="Save" class="btn btnloginColor" id=btn tabindex="14" />
                             </div>
                          }
                      </div>
                 </div>
             </div>
             @*File Attachment Page*@
            <div class="col-lg-7 col-md-12  ">
                <div class="attachment-col">
                    <div id="container">
                        <label class="control-label mb-1">Attachments</label>
                        <div id="gridFileContract" class="custom-grid"></div>
                    </div>
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
                    {
                    <div class="row">
                        <div class="col-12">
                            <input class="m-t-10 mb-0" type="file" id="IsFileExtension" name="IsFileExtension" onchange="checkFileAttachment()" />
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-12">
                            <input type="button" id="btnfileUpload" value="Add File" class="btn btnloginColor m-t-10" onclick="SaveContractAttachment()" />             
                        </div>
                    </div>
                    }
                </div>
                <div class="contract-tablecol mt-3">
                    @*Inv Contract Load*@                 
                         <div id="container">
                            <label class="control-label">Facility Inventory</label>
                            <div id="gridInvContracts" class="custom-grid mt-1"></div>
                        </div>          
                </div>
            </div>
        </div>
         }

      </div>
   </div>
   
</div>
        


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
   $(document).ready(function() {      
       var ContractId = document.getElementById("contract_id").value;
       if (ContractId == 0 || ContractId == undefined) {
           $('#ContractTilte').append("Add Contract");
       }
       else {
           $('#ContractTilte').append("Edit Contract");
       }

   });
   
   // Only enter the numbers
   function isNumberKey(el, evt) {
       var charCode = (evt.which) ? evt.which : event.keyCode;
       var number = el.value.split('.');
   
       if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
           return false;
       }
       //just one dot
       if (number.length > 1 && charCode == 46) {
           return false;
       }
       //get the carat position
       var caratPos = getSelectionStart(el);
   
       var dotPos = el.value.indexOf(".");
       var maxNum = number[0];
       if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
           return false;
       }
       return true;
   }
   function getSelectionStart(o) {
       if (o.createTextRange) {
           var r = document.selection.createRange().duplicate()
           r.moveEnd('character', o.value.length)
           if (r.text == '') return o.value.length
           return o.value.lastIndexOf(r.text)
       } else return o.selectionStart
   }
   function onChangeVendorContact(VendorId) {
       var VendorID = document.getElementById("VendorId").value;
       var link = '@Url.Action("AddEditVendorContact", "VendorContact")';
       link = link.replace("replace", VendorID);
       window.location.href = link;
   }
        $(function () {
              $('.DatePicker').datepicker({
                format: 'mm/dd/yyyy', 
                autoclose: true,
                todayHighlight: true
            });
        });
         

    function LoadTicketFileAttachment() {
     var contract_id = document.getElementById('contract_id').value;
        $.loadingBlockShow();
        $.ajax({
            type: 'POST',
            url: "/Contracts/LoadTicketFileAttachment",
            data: {
                contract_id:contract_id
            },
            pageSize: 10,
            success: function(result) { 
               
                if (result.success == null) {
                    var grid = $("#gridFileContract").data("kendoGrid");
                    var currPage = grid.dataSource.page();
                    var dataSource = new kendo.data.DataSource({
                        data: result.data,
                        pageSize: 15,
                        page: 0,
                        schema: {
                        },
                    });                  
                    grid.setDataSource(dataSource);
                    $.loadingBlockHide();
                }
                else {
                    $("#alert_error").text(result.message).show();
                    window.location.href ="/Home/Error_Log";
                }
            }
        });
    }

  $(document).ready(function() {
        LoadTicketFileAttachment();
        var dataSource = new kendo.data.DataSource({});
      if (localStorage.getItem("Is_cust_login") != "true") {
            $("#gridFileContract").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                resizable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5,
                    messages: {
                        itemsPerPage: "Items Per Page"
                    },
                    pageSizes: [10, 15, 25, 50, 100]
                },
                columns: [
                {
                    field: "file_name",
                    title: "File Name",
                    template: "<a class='anchorNavLinkStyle' href='javascript:void(0)' data-ID='#= file_path #' onclick='Download(this)'>#=file_name#</a>",
                     width: '70%',
                },
                {
                    field: "file_size",
                    title: "File Size",
                    attributes: {
                        title: "#=file_size#"
                    },
                     width: '100px',
                },
                {
                        field: "",
                        title: "",
                        template: "<input type='button' value='Remove' class='btn btnloginColor mt-0' data-ID='#= file_attach_id #' onclick='InvAttachmentDelete(this)'/>",
                        width:'100px',
                },

                ]
            });
      }
      else{
            $("#gridFileContract").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                resizable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5,
                    messages: {
                        itemsPerPage: "Items Per Page"
                    },
                    pageSizes: [10, 15, 25, 50, 100]
                },
                columns: [
                {
                    field: "file_name",
                    title: "File Name",
                    template: "<a class='anchorNavLinkStyle' href='javascript:void(0)' data-ID='#= file_path #' onclick='Download(this)'>#=file_name#</a>",
                     width: '20%',
                },
                {
                    field: "file_size",
                    title: "File Size",
                    attributes: {
                        title: "#=file_size#"
                    },
                     width: '3%',
                },

                ]
            });
      }
        
         
  });

    function Download(arg) {
        window.open(arg.dataset.id, '_blank');
    };


 

    function LoadInvContract() {
     var contract_id = document.getElementById('contract_id').value;
        $.loadingBlockShow();
        $.ajax({
            type: 'POST',
            url: "/Contracts/LoadInvContract",
            data: {
                contract_id:contract_id
            },
            pageSize: 10,
            success: function(result) { 
                if (result.success == null) {
                    var grid = $("#gridInvContracts").data("kendoGrid");
                    var currPage = grid.dataSource.page();
                    var dataSource = new kendo.data.DataSource({
                        data: result.data,
                        pageSize: 15,
                        page: 0,
                        schema: {
                        },
                    });                  
                    grid.setDataSource(dataSource);
                    $.loadingBlockHide();
                }
                else {
                    $("#alert_error").text(result.message).show();
                    window.location.href ="/Home/Error_Log";
                }
            }
        });
    }


    $(document).ready(function() {
             LoadInvContract();
             var dataSource = new kendo.data.DataSource({});
            $("#gridInvContracts").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                resizable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5,
                    messages: {
                        itemsPerPage: "Items Per Page"
                    },
                    pageSizes: [10, 15, 25, 50, 100]
                },
                columns: [
                {
                    field: "rowNumber",
                    title: "#",
                    template: "<span class='row-number'></span>",
                    width: '20px',
                },
                {
                    field: "mfg_name",
                    title: "Manufacturer",
                    attributes: {
                      title: "#=mfg_name#"
                    },
                     width: "100px",
                },
                {
                    field: "prod_class_desc",
                    title: "RootClass",
                    attributes: {
                      title: "#=prod_class_desc#"
                    },
                     width: "100px",
                },
                {
                    field: "prod_sub_class_desc",
                    title: "SubClass",
                    attributes: {
                      title: "#=prod_sub_class_desc#"
                    },
                     width: "100px",
                },
                {
                    field: "model",
                    title: "Model #",
                    attributes: {
                      title: "#=model#"
                    },
                     width: "100px",
                },
                {
                    field: "serial_no",
                    title: "Serial #",
                    attributes: {
                      title: "#=serial_no#"
                    },
                     width: "100px",
                },
                ],dataBound: function () {
                    var rows = this.items();
                    $(rows).each(function () {
                        var index = $(this).index() + 1;
                        var rowLabel = $(this).find(".row-number");
                        $(rowLabel).html(index);
                    });
                }
            }).data("kendoGrid");      
    });
</script>