﻿@using Kendo.Mvc.UI
@using HMSMemri.Models
@model HMSMemri.Models.GetContractResponse
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Contracts";
    Layout = "_Layout";
    bool showAll = (bool)ViewBag.ShowAll;
    bool showAllCustFacility = false;
}
<style type="text/css">    
    #gridContracts thead th:first-child .k-icon.k-i-more-vertical {
        display: none;
    }
</style>
<div class="headertag">
    
    @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
    {
        <a class="header-brand" href="/Customer">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a>
    }
    else
    {
       <a class="header-brand" href="/Inventory">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a> 
    }
    
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
    <span class="headtagname">Contracts</span>
</div>

@if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
{
 <div class="flex-wrap contract-sec">
    <div class="row">
   <div class="col-md-12 col-xl-9">
      <div class="new-customer-sec d-flex align-items-md-end">
         <div class="pr-2">
            <div id="AddContracts" class="AddCont">
               <a href="@Url.Action("AddEditContract", "Contracts")" class="btn btnDefault nowrap newContracts m-t-15 mr-2">
               <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 4V0H4V4H0V6H4V10H6V6H10V4H6Z" fill="white" />
               </svg>
               New Contract</a>
            </div>
         </div>
         <div class="d-flex contract-dropdown-sec flex-grow-auto mt-3">
            <div class="customer-dd">
               <label for="Customers" class="pr-2 mb-0">Customers</label><input class="size-width" id="customers" />
            </div>
            <div id="hidefacility" class="pl-2">
               <label for="Facilities" class="pr-2 mb-0">Facilities</label><input class="size-width" id="facility" /> 
            </div>
         </div>
         <button id="save" class="btn btnDefault nowrap m-l-15">Save View</button>
         <a href="#" onclick="onclickExport()" class="right-arrow export-link nowrap"><svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.00007 14C1.8657 14 1.73445 13.975 1.60945 13.9219C1.4907 13.8719 1.38132 13.8 1.2907 13.7063C1.20007 13.6156 1.12507 13.5062 1.07507 13.3875C1.02195 13.2656 0.996948 13.1312 0.996948 12.9969V5C0.996948 4.86562 1.02195 4.73438 1.07507 4.60938C1.12507 4.49062 1.19695 4.38125 1.2907 4.29063C1.38132 4.2 1.4907 4.125 1.60945 4.075C1.73132 4.02187 1.8657 3.99687 2.00007 3.99687H5.00945V4.99375H2.01257V13.0031H11.9844V4.99687H8.98757V4H12.0001C12.5532 4 13.0001 4.44687 13.0001 4.99687C13.0001 4.99687 13.0001 4.99687 13.0001 5V13C13.0001 13.5531 12.5532 14 12.0032 14C12.0032 14 12.0032 14 12.0001 14H2.00007ZM8.00007 9V2.9375H10.0157L7.00007 0L3.98445 2.9375H6.00007V9H8.00007Z" fill="#D56126" /></svg> Export</a>
         <button id="load" class="btn btnDefault m-t-15 d-none">Load State</button>
      </div>
   </div>
   <div class="col-md-12 col-xl-3">
      <div class="toolbar d-flex flex-grow-1">
         <div class="right-toolbar-only d-flex align-items-end m-t-15">
            <div class="custom-input-group d-flex flex-wrap flex-sm-nowrap">
               <span class="custom-input-group checkbox-group">
               <label for="showAll" class="d-flex align-items-center"><input name="showAll" id="showAll" type="checkbox" @(showAll ? "checked" : "") onclick="toggleCheckbox(this)" /> Include Inactive Contracts</label>
               </span>
            </div>
            <div class="custom-input-group search-block">
               <span class="input-group-btn">
               <input type="text" id="filter" class="form-control search-field" oninput="filter()" placeholder="Search" />
               </span>
            </div>
            <input type="text" class="text-hide" />
         </div>
      </div>
   </div>
    </div>
</div>
}
else
{
    <div class="flex-wrap contract-sec contact-customer-login">
     <div class="row">
   <div class="col-md-12 col-xl-9">
      <div class="new-customer-sec d-flex align-items-md-end">
         <div class="d-flex contract-dropdown-sec flex-grow-auto mt-3 flex-wrap">
            <div class="customer-dd mb-sm-2">
               <label for="Customers" class="pr-2 mb-0">Customers : </label><span  id="customers" /> @HttpContextAccessor.HttpContext.Session.GetString("CustomerName") 
            </div>
            <div id="hidefacility" class="flex-wrap">
               <label for="Facilities" class="pr-2 mb-0">Facilities</label><input class="size-width mr-sm-3" id="facilitybycustlogin" /> <span class="checkbox mt-md-0 mt-2"><input name="showAllCustFacility" id="showAllCustFacility" type="checkbox" @(showAllCustFacility ? "checked" : "") onclick="toggleCheckboxFacility(this)" class="mr-1" />Include Inactive Facilities</span>
            </div>
         </div>
         <div class="d-flex justify-content-between flex-wrap ">
                <a id="HideExport" href="#" onclick="onclickExport()" class="right-arrow nowrap m-t-15 export-link"><svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.00007 14C1.8657 14 1.73445 13.975 1.60945 13.9219C1.4907 13.8719 1.38132 13.8 1.2907 13.7063C1.20007 13.6156 1.12507 13.5062 1.07507 13.3875C1.02195 13.2656 0.996948 13.1312 0.996948 12.9969V5C0.996948 4.86562 1.02195 4.73438 1.07507 4.60938C1.12507 4.49062 1.19695 4.38125 1.2907 4.29063C1.38132 4.2 1.4907 4.125 1.60945 4.075C1.73132 4.02187 1.8657 3.99687 2.00007 3.99687H5.00945V4.99375H2.01257V13.0031H11.9844V4.99687H8.98757V4H12.0001C12.5532 4 13.0001 4.44687 13.0001 4.99687C13.0001 4.99687 13.0001 4.99687 13.0001 5V13C13.0001 13.5531 12.5532 14 12.0032 14C12.0032 14 12.0032 14 12.0001 14H2.00007ZM8.00007 9V2.9375H10.0157L7.00007 0L3.98445 2.9375H6.00007V9H8.00007Z" fill="#D56126" /></svg> Export</a>
         </div>
      </div>
   </div>
   <div class="col-md-12 col-xl-3">
      <div class="toolbar d-flex flex-grow-1">
         <div class="right-toolbar-only d-flex align-items-end m-t-15">
            <div class="custom-input-group d-flex flex-wrap flex-sm-nowrap">
               <span class="custom-input-group checkbox-group">
               <label for="showAll" class="d-flex align-items-center"><input name="showAll" id="showAll" type="checkbox" @(showAll ? "checked" : "") onclick="toggleCheckbox(this)" /> Include Inactive Contracts</label>
               </span>
            </div>
            <div class="custom-input-group search-block">
               <span class="input-group-btn">
               <input type="text" id="filter" class="form-control search-field" oninput="filter()" placeholder="Search" />
               </span>
            </div>
            <input type="text" class="text-hide" />
         </div>
      </div>
   </div>
    </div>
    </div>
}
<script type="text/x-kendo-template" id="toolbarRMA">
   <div class="toolbar d-flex">
       <div class="right-toolbar-only">
           <div class="custom-input-group">
   <div hidden>
       </div>
           </div>
       </div>
   </div>
</script>
<div id="container">
   <div id="gridContracts" class="custom-grid m-t-15"></div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
<script src="~/js/jquery.loading.block.js"></script>
<script type="text/javascript">
   $(document).ready(function() 
   {
       if (localStorage.getItem("Is_cust_login") != "true") 
       {
           // Initially hide the Add Contracts button
           $("#AddContracts").hide();
           $("#HideExport").hide();
           /*if($("#hidefacility").is(":hidden").length) {
              $(".contract-dropdown-sec").addClass("flex-grow-auto");
          }*/
           //Contracts  grid load
           loadData(false, false);
           // Dropdown for customer
           LoadCustomerDropdowns(true, false);

           // Check the CustID and facility id based the Add Contracts  Hide and Show
           if (sessionStorage.getItem("cust_id") != '0' && sessionStorage.getItem("facility_id") != null && sessionStorage.getItem("facility_id") != 0) {
               $("#customers").val(sessionStorage.getItem("cust_id"));
               $("#facility").val(sessionStorage.getItem("facility_id"));
               LoadFacilityDropdowns(true, false);
               $("#hidefacility").show();
               $("#AddContracts").show();
               $("#HideExport").show();
               loadData(false, false);
           }
           else if (sessionStorage.getItem("cust_id") == 0 && sessionStorage.getItem("facility_id") == 0 ) {
               loadData(false, false);
               $("#AddContracts").hide();
               $("#HideExport").show();
           }
       }  else {
               LoadFacilityDropdownsbycustomerLoign(false, false);
               $("#customers").val(sessionStorage.getItem("cust_id"));
               $("#facilitybycustlogin").val(sessionStorage.getItem("facility_id"));           
               loadData(false, false);
               $("#HideExport").hide();               
               if (sessionStorage.getItem("facility_id") != null && sessionStorage.getItem("facility_id") != 'null' && sessionStorage.getItem("facility_id") != 0) {
                    $("#HideExport").show(); 
               } 
        }
            
   });
   
   //Customer Dropdown
   function LoadCustomerDropdowns(isactive, toggleActive) {
       $("#hidefacility").hide();
       /*if($("#hidefacility").is(":hidden").length) {
           $(".contract-dropdown-sec").addClass("flex-grow-auto");           
       }*/
       $.ajax({
           type: 'POST',
           url: "/Customer/LoadCustomerDropdown",
           data: { isactive: isactive, toggleActive: toggleActive },
           pageSize: 10,
           success: function(result) {
               if (result.errors == "true") {
               }
               if (result.success == null) {
                   var dataSource = new kendo.data.DataSource({
                       data: result.data,
                   });
   
                   $("#customers").kendoDropDownList({
                       dataSource: dataSource.options.data,
                       dataTextField: "cust_name",
                       dataValueField: "cust_id",
                       //Change Event
                       change: function(e) {
                           var value = this.value();
                           sessionStorage.setItem("cust_id", value);
                           $("#hidefacility").show();
                           $(".contract-dropdown-sec").removeClass("flex-grow-auto");
                            $("#AddContracts").hide();
                            $("#HideExport").hide();
                            LoadFacilityDropdowns(true, false);
                               
                           if (sessionStorage.getItem("cust_id") == 0) {
                               loadData(false, false);
                               $("#hidefacility").hide();
                               $(".contract-dropdown-sec").addClass("flex-grow-auto");
                               $("#AddContracts").hide();
                           }
                       }
                   });
               }
               else {
                   $("#alert_error").text(result.message).show();
               }
           }
       });
   }
   
   //Facility Dropdown
   function LoadFacilityDropdowns(isactive, toggleActive) {
       var custID = sessionStorage.getItem("cust_id");
   
       $.ajax({
           type: 'POST',
           url: "/Facilities/LoadFacilitiesDropdown",
           data: { isactive: isactive, toggleActive: toggleActive, custID: custID },
           pageSize: 10,
           success: function(result) {
               if (result.errors == "true") {
                   document.getElementById('load').click();
               }
               if (result.success == null) {
                   var dataSource = new kendo.data.DataSource({
                       data: result.data,
                   });
                   $("#facility").kendoDropDownList({
                       dataSource: dataSource.options.data,
                       dataTextField: "facility_name",
                       dataValueField: "facility_id",
                       //Change Event
                       change: function(e) {
                          var value = this.value();
                           sessionStorage.setItem("facility_id", value);
                           $("#AddContracts").show();
                           $("#HideExport").hide();
                           //Contracts  grid load
                               $("#showAll").toggleClass('checked');
                               const cb = document.querySelector('#showAll');
                               loadData(cb.checked, false);
                           if (sessionStorage.getItem("cust_id") == 0 || sessionStorage.getItem("facility_id")== 0) {
                               $("#AddContracts").hide();
   
                           }
                       }
                   });
               }
               else {
                   $("#alert_error").text(result.message).show();
               }
           }
       });
   }
   
   
    function LoadFacilityDropdownsbycustomerLoign(isactive, toggleActive) {
        
        var custID = sessionStorage.getItem("cust_id");
        $.ajax({
            type: 'POST',
            url: "/Facilities/LoadFacilitiesDropdownbycustomerLoign",
            data: { isactive: isactive, toggleActive: toggleActive },
            pageSize: 10,
            success: function(result) {
                if (result.errors == "true") {
                    document.getElementById('load').click();
                }
                if (result.success == null) {
                    var dataSource = new kendo.data.DataSource({
                        data: result.data,
                    });
                    $("#facilitybycustlogin").kendoDropDownList({
                        dataSource: dataSource.options.data,
                        dataTextField: "facility_name",
                        dataValueField: "facility_id",
                        //Change Event
                        change: function(e) {
                            
                            var value = this.value();
                            $("#HideExport").show();
                            sessionStorage.setItem("facility_id", value);
                             $("#showAll").toggleClass('checked');
                               const cb2 = document.querySelector('#showAll');
                               loadData(cb2.checked, false);     
                              if (sessionStorage.getItem("facility_id") == 0) {
                                $("#HideExport").hide();
                            }

                        }
                    });
                }
                else {
                    $("#alert_error").text(result.message).show();
                    window.location.href ="/Home/Error_Log";
                }
            }
        });
    }

   // Grid Load
   function loadData(isactive, toggleActive) {
       if (localStorage.getItem("Is_cust_login") != "true") {
           if (sessionStorage.getItem("cust_id") != null && sessionStorage.getItem("facility_id") != null) {
               var custID = sessionStorage.getItem("cust_id");
               var facilityID = sessionStorage.getItem("facility_id");
           }
       }
       else {
           var facilityID = sessionStorage.getItem("facility_id");
       }
       $.loadingBlockShow();
   
       $.ajax({
           type: 'POST',
           url: "/Contracts/LoadContractData",
           data: { isactive: isactive, toggleActive: toggleActive, custID: custID, facilityID: facilityID },
           pageSize: 10,
           success: function(result) {
               if (result.errors == "true") {
                   document.getElementById('load').click();
               }
               if (result.success == null) {
                   var grid = $("#gridContracts").data("kendoGrid");
                   var currPage = grid.dataSource.page();
                   var dataSource = new kendo.data.DataSource({
                       data: result.data,
                       pageSize: 15,
                       page: 0,
                       schema: {
                           model: {
                               fields: {
                                   Zip: { type: "number" },
                                   start_dt: { type: "date" },
                                   enddate_dt: { type: "date" },
                               }
                           }
                       },
                   });
                   grid.setDataSource(dataSource);
                   $.loadingBlockHide();
               }
               else {
                   $("#alert_error").text(result.message).show();
                   window.location.href ="/Home/Error_Log";
               }
           }
       });
   }
   function toggleCheckbox(arg) {
       //Initially clear the session values
       //Set Session storage when get the export
       localStorage.setItem("CheckUser", arg.checked);
   
       sessionStorage.getItem("cust_id");
       sessionStorage.getItem("facility_id");
       $("#showAll").toggleClass('checked');
       const cb = document.querySelector('#showAll');
   
       loadData((cb.checked), false);
   
       document.getElementById('filter').value = '';
   }
   function toggleCheckboxFacility(arg) {
        $("#showAllCustFacility").toggleClass('checked');
        const cb = document.querySelector('#showAllCustFacility');
        LoadFacilityDropdownsbycustomerLoign((cb.checked), false);
    }
   $("#filter").keydown(function(e) {
       $.loadingBlockShow();
       if (e.keyCode === 13) {
           filter();
       }
   });
   function filter() {          
       //Initially clear the session values
       localStorage.clear()
       var queryString = $("#filter").val();
   
       //Set Session storage when get the export
       localStorage.setItem("search", queryString);
        
       var grid = $("#gridContracts").data("kendoGrid");
       var orfilter = { logic: "or", filters: [] };
       orfilter.filters.push(
           { field: "contract_id", operator: "eq", value: queryString },
           { field: "vendor_name", operator: "contains", value: queryString },
           { field: "facility_name", operator: "contains", value: queryString },
           { field: "contract_ref", operator: "contains", value: queryString },
           { field: "contract_in_ref", operator: "contains", value: queryString },
       );
       if (queryString) {
           grid.dataSource.filter(orfilter);
           $.loadingBlockHide();
       } else {
           grid.dataSource.filter({});
           $("#filter").val('');
           grid.dataSource.read();
       }
   }
</script>
<script type="text/javascript">
   $(document).ready(function() {
       var filterOption = {
           extra: false,
           operators: {
               string: {
                   eq: "Is Equal To",
                   startswith: "Starts With",
                   contains: "Contains",
                   endswith: "Ends With"
               }
           }
       };
       var dataSource = new kendo.data.DataSource({}); 
       var nonReordableColumn;
       $("#gridContracts").kendoGrid({
           dataSource: dataSource,
           toolbar: kendo.template($("#toolbarRMA").html()),
           sortable: true,
           resizable: true,
           pageable: {
               refresh: true,
               pageSizes: true,
               buttonCount: 5,
               messages: { itemsPerPage: "Items Per Page" },
               pageSizes: [10, 15, 25, 50, 100]
           },
           scrollable: true,
           sortable: true,
           navigatable: true,
           resizable: true,
           reorderable: true,
           filterable: true,
           columnMenu: true,
           //detailTemplate: kendo.template($("#toolbarRMA").html()),
           detailExpand: function(e) {
           },
           columns: [
               {
                   field: "contract_id",
                   title: "Contract ",
                   template: "<i class='showId' href='javascript:void(0)' data-ID='#= contract_id #' onclick='onChangeContract(this)'> <img src='/images/Edit.png' width='25px'></i> <p class='hideId'>#= contract_id #</p>",
                   width: '4.5%',
                   menu: false, 
                   sortable: false,
               },
               {
                   field: "facility_name",
                   title: "Facility",
                   width: '38%',
               },
               {
                   field: "vendor_name",
                   title: "Vendor Name",                        
                   filterable: filterOption,
                   width: '35%',
               },
   
               {
                   field: "start_dt",
                   title: "Start Date",
                   attributes: { title: "#=start_dt#" },
                   format: "{0: MM/dd/yyyy}",
                   width: '10%',
               },
               {
                   field: "enddate_dt",
                   title: "End Date",
                   attributes: { title: "#=enddate_dt#" },
                   format: "{0: MM/dd/yyyy}",
                   width: '10%',
               }
           ],
   
                dataBound: function(e){
                nonReordableColumn = e.sender.columns[0];
               },
                 reorderable: true,
                 columnReorder: function(e) {
                   var gridContracts = e.sender;
   
                   setTimeout(function (e) {
                       gridContracts.reorderColumn(0, nonReordableColumn);
                   }, 1)
                 }
       });


       if ($("#hidefacility").is(":visible")) {
           $(".contract-dropdown-sec").removeClass("flex-grow-auto");
       } else {
           $(".contract-dropdown-sec").addClass("flex-grow-auto");
       }

            $(function(){
                $('#gridContracts .k-header-column-menu').eq(0).hide();
            })
   });
   // Contracts name click event to trigger the Edit form based the ContractsID
   function onChange(arg) {
       $.loadingBlockShow();
       encodedStr = btoa(arg.dataset.id);
       var link = '@Url.Action("AddEditVendor", "Vendors", new { id = "replace" })';
       link = link.replace("replace", encodedStr);
       window.location.href = link;
       //$.loadingBlockHide();
   }
   
   function onChangefacility(arg) {
       encodedStr = btoa(arg.dataset.id);
       $.loadingBlockShow();
       var link = '@Url.Action("AddEditFacility", "Facilities", new { id = "replace" })';
       link = link.replace("replace", encodedStr);
       window.location.href = link;
       //$.loadingBlockHide();
   }
   
   function onChangeContract(arg) {
       $.loadingBlockShow();
       encodedStr = btoa(arg.dataset.id);
       var link = '@Url.Action("EditContract", "Contracts", new { id = "replace" })';
       link = link.replace("replace", encodedStr);
       window.location.href = link;
       //$.loadingBlockHide();
   }
   
      
   //Save State
   var grid_contracts = $("#gridContracts").data("kendoGrid");
       $("#save").click(function(e) {
       $.loadingBlockShow();
       e.preventDefault();
   
    dataSource = $("#gridContracts").data("kendoGrid").dataSource,
       state = {
               sortable: true,
               resizable: true,
               pageable: {
                   refresh: true,
                   pageSizes: true,
                   buttonCount: 5,
                   messages: { itemsPerPage: "Items Per Page" },
                   pageSizes: [10, 15, 25, 50, 100]
               },
               scrollable: true,
               sortable: true,
               navigatable: true,
               resizable: true,
               reorderable: true,
               filterable: true,
               columnMenu: true,
           columns: $("#gridContracts").data("kendoGrid").columns,
       }
   var KeyValue = JSON.stringify(state);
   localStorage.setItem("Key", KeyValue);
   
   var usr_id = localStorage.getItem("UserId");
   var grid_id = 50;
   var json_col_ord = localStorage.getItem("Key");
   $.ajax({
       type: "POST",
       url: "/Customer/SaveStateData",
       data: { usr_id: usr_id, grid_id: grid_id, json_col_ord: json_col_ord },
       success: function(result) {
           if (result) {
               result = kendo.stringify($("#gridContracts").data("kendoGrid").getOptions());
               var columnOptionsForSaving = kendo.stringify($("#gridContracts").data("kendoGrid").dataSource.columns);
               var options = $("#gridContracts").data("kendoGrid").getOptions();
                $.iaoAlert({
                   msg: "Save View Successfully",
                   type: "success",
                   mode: "dark",
               })
               $.loadingBlockHide();
           }
       }
   });
   });
   
   //Load State
   $("#load").click(function (e) {
   $.loadingBlockShow();
   var usr_id=localStorage.getItem("UserId");
   var grid_id=50;
   $.ajax({
        type:"POST",
       url: "/Customer/LoadCustomerState",
        data: { usr_id: usr_id, grid_id: grid_id },
       success: function(result) {
           if (result.loadState) {   
                var options = result.loadState.json_col_ord;
             if (options) {
               $("#gridContracts").data("kendoGrid").setOptions(JSON.parse(options));
             }
               $.loadingBlockHide();
           }
       }
   });
   });
   
   //Contract Export
    function onclickExport() {
        var dataSource = $("#gridContracts").data("kendoGrid").dataSource;
        var filters = dataSource.filter();
        var allData = dataSource.data();
        var query = new kendo.data.Query(allData);
        var data = query.filter(filters).data;
        var list = data.map(x => x.contract_id);
        if (list.length != 0) {
            $.loadingBlockShow();
            $.ajax({
                type: "POST",
                url: "/Contracts/ExportContracts",
                data: { ContractList: JSON.parse(JSON.stringify(list)) },
                success: function(result) {
                   if (result.excelLink != null) {
                      var link = result.excelLink;
                      window.location = link;
                      $.loadingBlockHide();
                   }
                   else {
                     window.location.href ="/Home/Error_Log";
                   }
                }
            });
        }
        else {
            $.iaoAlert({
                msg: "No Record!!",
                type: "error",
                mode: "dark",
            })
        }
    }
</script>
    
    