﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model HMSMemri.Models.GetInventoiesResponse
@{
    ViewData["Title"] = "Inventory";
    Layout = "_Layout";
    bool showAll = (bool)ViewBag.ShowAll;
}
<link rel="stylesheet" href="~/css/site.css" />

<div class="headertag">
    @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
    {
        <a class="header-brand" href="/Customer">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a>
    }
    else
    {
       <a class="header-brand" href="/Inventory">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a> 
    }
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
    <a class="header-brand headtagname" href="/Inventory">Inventory</a>
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
    @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
    {
        <span class="header-brand headtagname" id="InventoryTilte"> </span>
    }
    else
    {
        <span class="header-brand headtagname" >View Inventory</span>
    }
    
</div>

<div class="row">
    <div class="col-md-12">
        <div class="add-edit-section">
            @using (Html.BeginForm("AddEditInventory", "Inventory", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "AddEditInventoryForm", onSubmit = "return SaveInventoryForm()" }))
            {
                @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
                {
                    if (@Model.Inventorydetail != null && @Model.Inventorydetail.inv_id > 0)
                    {
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <h4 class="form-page-title">Edit Inventory  </h4>
                            </div>
                            @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
                            {
                                <div class="col-lg-6 text-lg-right">
                                     <input type="button" value="Clone Inventory" class="ml-1 btn btnloginColor pull-right w-20" tabindex="15" onclick="CloneInventory()" />
                                     <input type="button" value="Move Inventory" class="ml-1 btn btnloginColor pull-right w-20" onclick="Invmove()" tabindex="15" />
                                     <input type="button" value="Delete" class="ml-1 btn btnloginColor pull-right w-20" onclick='InventoryDelete()' tabindex="15" />
                                </div>
                            }
                            
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <h4 class="form-page-title">Add Inventory</h4>
                            </div>
                            </div>
                    }
                }
                else
                {
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <h4 class="form-page-title">View Inventory</h4>
                        </div>
                    </div>
                }
               
                <hr />
                @Html.HiddenFor(model => model.Inventorydetail.inv_id, new {id="inv_id" })
                @Html.HiddenFor(model => model.Inventorydetail.facility_id, new {id="FacilityId" })
                @Html.HiddenFor(model => model.Inventorydetail.cust_id, new {id="CustomerId" })
                @Html.HiddenFor(model => model.Inventorydetail.ServiceType, new {id="ServiceType"})
                @Html.HiddenFor(model => model.ServiceTypeModule, new {id="ServiceTypeModule"})
                <label>Customer :</label>
                @Html.DisplayFor(model => model.Inventorydetail.CustomerName, new {id="CustomerName" })

                <br />
                <label>Facility :</label>
                @Html.DisplayFor(model => model.Inventorydetail.FacilityName, new {id="FacilityName" })
                <div class="form-section">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label class="col-md-6 control-label"> @Html.DisplayNameFor(model=>model.Inventorydetail.ManufactureList)  </label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(model => model.Inventorydetail.ManufactureList,Model.ManufactureModule,new { @class = "form-control" ,id="IsManufactureList",  tabindex = 13, Class="status"} )
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.ManufactureList,"",new { @class = "text-danger w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> @Html.DisplayNameFor(model=>model.Inventorydetail.RootClass)  </label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(model => model.Inventorydetail.RootClass,Model.RootClassModule,new { @class = "form-control" ,id="IsRootClass",  tabindex = 2, Class="status", @onchange = "OnChangeEvent(this.value);" } )
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.RootClass,"",new { @class = "text-danger w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> Sub Class</label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(model => model.Inventorydetail.SubClass,Model.SubRootClassModule,new { @class = "form-control" ,id="IsSubRootClass",  tabindex = 2, Class="status"} )
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label">Service Type <span class="spanvalidate"> * </span></label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(model => model.Inventorydetail.ServiceType,Model.ServiceTypeModule,new { @class = "form-control" ,id="IsServiceType",  tabindex = 2, Class="serviceClass"} )
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.ServiceType,"",new { @class = "text-danger w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> @Html.DisplayNameFor(model=>model.Inventorydetail.SelectedModelDescription) </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Inventorydetail.SelectedModelDescription, new { @class = "form-control col-md-12",id="IsModelDescription"})
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.SelectedModelDescription,"",new { @class = "text-danger w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> @Html.DisplayNameFor(model=>model.Inventorydetail.EquipmentSerial) </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Inventorydetail.EquipmentSerial, new { @class = "form-control col-md-12",id="IsEquipmentSerial",tabindex = 5 })
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.EquipmentSerial,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> @Html.DisplayNameFor(model=>model.Inventorydetail.HospitalControl) </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Inventorydetail.HospitalControl, new { @class = "form-control col-md-12",id="IsHospitalControl",tabindex = 6 })
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.HospitalControl,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> @Html.DisplayNameFor(model=>model.Inventorydetail.Control) </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Inventorydetail.Control, new { @class = "form-control col-md-12",id="IsControl",tabindex = 7 })
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.Control,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> @Html.DisplayNameFor(model=>model.Inventorydetail.PreviousControl) </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Inventorydetail.PreviousControl, new { @class = "form-control col-md-12",id="IsPreviousControl",tabindex = 8 })
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.PreviousControl,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> @Html.DisplayNameFor(model=>model.Inventorydetail.SystemId) </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Inventorydetail.SystemId, new { @class = "form-control col-md-12",id="IsSystemId",tabindex =9 })
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.SystemId,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> @Html.DisplayNameFor(model=>model.Inventorydetail.Department)<span class="spanvalidate"> * </span> </label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(model => model.Inventorydetail.Department,Model.DepartmentModule, new { @class = "form-control col-md-12",id="IsDepartment",tabindex =9 })
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.Department,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> @Html.DisplayNameFor(model=>model.Inventorydetail.Room) </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Inventorydetail.Room, new { @class = "form-control col-md-12",id="IsRoom",tabindex = 10 })
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.Room,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> @Html.DisplayNameFor(model=>model.Inventorydetail.InventoryNotes) </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextAreaFor(model => model.Inventorydetail.InventoryNotes, new { @class = "form-control col-md-12",id="IsInventoryNotes",tabindex = 11 })
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.InventoryNotes,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group d-none">
                                <div class="col-md-10">
                                    <div class="input-group flex-nowrap">
                                        @Html.CheckBoxFor(model => model.Inventorydetail.IsActive, new { @checked = "checked",id="IsActive" ,tabindex = 12})
                                        <span class="col-md-10 control-label">Active </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!------>
                        <div class="col-lg-4 col-md-4">
                            <h5>Owner/Warranty/PM Information</h5>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> @Html.DisplayNameFor(model=>model.Inventorydetail.Ownership)</label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(model => model.Inventorydetail.Ownership,Model.OwnerShipModule,new { @class = "form-control" ,id="IsOwnerShip",  tabindex = 13, Class="status"} )
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.Ownership,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> Managed Entity <span class="spanvalidate"> * </span></label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(model => model.Inventorydetail.ManagedEntity,Model.ManagedEntityModule,new { @class = "form-control" ,id="IsManagedEntity",  tabindex = 1, Class="status"} )
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.ManagedEntity,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> Install Date</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Inventorydetail.InstalledDate,"{0:yyyy-MM-dd}", new { @class = "form-control col-md-12 DatePicker",id="IsInstalledDate",data_mask = "00/00/0000" ,max="12/31/9999",min="01/01/1990"})
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.InstalledDate,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> Warrenty Status <span class="spanvalidate"> * </span> </label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(model => model.Inventorydetail.WarrentyStatus,Model.WarrentyStatusModule,new { @class = "form-control" ,id="IsWarrentyStatus",  tabindex = 14, Class="status"} )
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.WarrentyStatus,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> Warrenty Expires</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Inventorydetail.WarrentyExpires,"{0:yyyy-MM-dd}", new { @class = "form-control col-md-12 DatePicker",id="IsWarrentyExpires",data_mask = "00/00/0000" ,max="12/31/9999",min="01/01/1990"})
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.WarrentyExpires,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> Last Pm Completed</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Inventorydetail.LastPmCompleted,"{0:yyyy-MM-dd}", new { @class = "form-control col-md-12 DatePicker",id="IsLastPmCompleted",data_mask = "00/00/0000" ,max="12/31/9999",min="01/01/1990"})
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.LastPmCompleted,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> Next Scheduled Pm</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Inventorydetail.NextSchedulePm, "{0:yyyy-MM-dd}", new { @class = "form-control col-md-12 DatePicker",id="IsNextSchedulePm",data_mask = "00/00/0000" ,max="12/31/9999",min="01/01/1990"})
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.NextSchedulePm,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label">Pm Interval <span class="spanvalidate"> * </span></label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(model => model.Inventorydetail.PmInterval,Model.IntervalPmModule,new { @class = "form-control" ,id="IsPmInterval",  tabindex = 13, Class="status"} )
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.PmInterval,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label">Alarm <span class="spanvalidate"> * </span></label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(model => model.Inventorydetail.Alarm,Model.AlarmModule,new { @class = "form-control" ,id="IsAlarm",  tabindex = 13, Class="status"} )
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.Alarm,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <h5>Inventory Item Coverage</h5>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> Item Coverage  </label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(model => model.Inventorydetail.ItemCoverage,Model.ItemCoverageModule,new { @class = "form-control" ,id="IsItemCoverage",  tabindex = 13, Class="status"} )
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.ItemCoverage,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> Status <span class="spanvalidate"> * </span> </label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(model => model.Inventorydetail.Status,Model.StatusModule,new { @class = "form-control" ,id="IsStatus",  tabindex = 13, Class="status"} )
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.Status,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-4">
                            <h5>Service Coverage & Provider</h5>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> Provider 1  </label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(model => model.Inventorydetail.Provider1,Model.VendorListModule,new { @class = "form-control" ,id="IsProvider1",  tabindex = 13, Class="status"} )
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.Provider1,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> Srv Coverage 1  </label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(model => model.Inventorydetail.SrvCoverage1,Model.ServiceCoverModule,new { @class = "form-control" ,id="IsSrvCoverage1",  tabindex = 13, Class="status"} )
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.SrvCoverage1,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label">Provider 2 </label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(model => model.Inventorydetail.Provider2,Model.VendorListModule,new { @class = "form-control" ,id="IsProvider2",  tabindex = 13, Class="status"} )
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.Provider2,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> Srv Coverage 2  </label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(model => model.Inventorydetail.SrvCoverage2,Model.ServiceCoverModule,new { @class = "form-control" ,id="IsSrvCoverage2",  tabindex = 13, Class="status"} )
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.SrvCoverage2,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <h5>Battery</h5>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div class="input-group flex-nowrap">
                                        @Html.CheckBoxFor(model => model.Inventorydetail.HasBattery, new {id="IsHasBattery" ,tabindex = 1,@onchange = "OnChange(this);"})
                                        <span class="col-md-10 control-label">Has Battery </span>
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.HasBattery,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label">Battery Last Changed </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Inventorydetail.BatteryLastChanged, "{0:yyyy-MM-dd}", new { @class = "form-control col-md-12 DatePicker",id="IsBatteryLastChanged",data_mask = "00/00/0000" ,max="12/31/9999",min="01/01/1990"})
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.BatteryLastChanged,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> Battery Change Interval </label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(model => model.Inventorydetail.BatteryChangeInterval,Model.BatteryChangeModule,new { @class = "form-control" ,id="IsBatteryChangeInterval",  tabindex = 13, Class="status"} )
                                        @Html.ValidationMessageFor(Model=>Model.Inventorydetail.BatteryChangeInterval,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                             <div  id="container">
                                    <div id="gridFileInv" class="custom-grid m-t-15 "></div>
                             </div>
                             @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
                            {
                                <div class="row">
                                    <div class="col-12">
                                        <input class="mt-3 mb-0" type="file" id="IsFileExtension" name="IsFileExtension" onchange="checkFileAttachment()" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <input type="button" id="btnfileUpload" value="Add File" class="btn btnloginColor mt-3" onclick="SaveInvAttachment()" />             
                                    </div>
                                </div>
                            }
                        </div>
                    </div> 
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
                    {
                        <div class="row">
                            <div class="col-12">
                                <input type="submit" value="Save" class="btn btnloginColor" id=btn tabindex="14" />
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

@*DeletePopup*@
<div class="modal fade" id="InvDeletePopModal" role="dialog" aria-labelledby="invtitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content repair-content">
            <div class="modal-header repair header ticketheader">            
                <div><h4><span id="invtitle"></span>Delete Inventory</h4></div>
                <button type="button" class="close modalheader" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.41562L6.41563 5L10 8.58438L8.58438 10L5 6.41563L1.41562 10L0 8.58438L3.58437 5L0 1.41562L1.41562 0L5 3.58437L8.58438 0L10 1.41562Z" fill="white"/></svg>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-section ticketpopup">
                    <h5 class="mt-4 mb-4 text-center">Are you sure want to delete this Inventory details? </h5>
                    <div class="content-bot d-flex">
                        <input type="submit" value="No" class="mr-1 btn btncancelColor pull-right w-50" onclick="Confirm(this)" tabindex="15" />                      
                        <input type="submit" value="Yes" class="ml-1 btn btnloginColor pull-right w-50" onclick="DeleteInv(this)" tabindex="15" />                      
                    </div>                                    
                </div>
            </div>
        </div>
    </div>
</div>

@*Move inv popup*@
<div class="modal fade" id="InvMovePopModal" role="dialog" aria-labelledby="invmovetitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content repair-content">
            <div class="modal-header repair header ticketheader">            
                <div><h4><span id="invmovetitle"></span>Move Inventory</h4></div>
                <button type="button" class="close modalheader" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.41562L6.41563 5L10 8.58438L8.58438 10L5 6.41563L1.41562 10L0 8.58438L3.58437 5L0 1.41562L1.41562 0L5 3.58437L8.58438 0L10 1.41562Z" fill="white"/></svg>
                    </span>
                </button>
            </div>
            @Html.HiddenFor(model => model.Inventorydetail.facility_id, new {id="FacilityId" })
            @Html.HiddenFor(model => model.Inventorydetail.cust_id, new {id="CustomerId" })
            <div class="modal-body">
                <div class="form-section ticketpopup">
                    <div class="flex-wrap inven-sec">
                        <div class="row">
						    <div class="col-md-12">
					            <div id="customer-dd" class="form-group moveinventory-data">
                                    <div class="row">
                                        <div class="col-sm-3"><label class="text">Customer</label></div>
                                        <div class="col-sm-9"><input class="size-width mr-6" id="myListCustomer" /></div>
                                    </div>  
                                </div>
					            <div id="hidefacility" class="form-group moveinventory-data">
                                    <div class="row">
                                        <div class="col-sm-3"><label class="text">Facility</label> </div>
                                        <div class="col-sm-9"><input class="size-width mr-6" id="myListfacility"/>     </div>
                                    </div>                         
                                </div>			                    
						    </div>
					    </div>
                    </div>
                    <div class="content-bot d-flex">
                        <input type="submit" value="Cancel" class="mr-1 btn btncancelColor pull-right w-50" onclick="Cancelmove(this)" tabindex="15" />                      
                        <input type="submit" value="Move Inventory" class="ml-1 btn btnloginColor pull-right w-50" onclick="MoveInv(this)" tabindex="15" />                      
                    </div>                                    
                </div>
            </div>
        </div>
    </div>
</div>

@*Clone Popup*@
<div class="modal fade bd-example-modal-lg" id="CloneModal" role="dialog" aria-labelledby="repairtitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content repair-content">
            <div class="modal-header repair header ticketheader">            
                <div><h4> <span id="repairTitle"></span>Clone Inventory</h4> </div>
                <button type="button" class="close modalheader" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.41562L6.41563 5L10 8.58438L8.58438 10L5 6.41563L1.41562 10L0 8.58438L3.58437 5L0 1.41562L1.41562 0L5 3.58437L8.58438 0L10 1.41562Z" fill="white"/></svg>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-section ticketpopup">
                    <form autocomplete="off" >
                    <div class="row">
                        <div class="col-md-12">
                            
                           <div class="form-group">
                               <div class="row">
                                   <div class="col-sm-4">
                                       <label class="text"><span id="Id">Control #:</span></label>
                                   </div>
                                   <div class="col-sm-8">
                                       <input  type="text" id="IsControl1" class="form-control"/>
                                   </div>
                               </div>
                                
                                
                           </div>  
                           <div class="form-group">
                               <div class="row">
                                   <div class="col-sm-4">
                                       <label class="text"><span id="Id">Hospital CTRL#:</span></label>
                                   </div>
                                   <div class="col-sm-8">
                                       <input  type="text" id="IsHospital1" class="form-control"/>
                                   </div>
                               </div>
                                
                                
                           </div> 
                             <div class="form-group">
                                <div class="row">
                                   <div class="col-sm-4"><label class="text"><span id="Id">Serial #:</span></label></div>
                                   <div class="col-sm-8"><input  type="text"id="IsSerial1" autocomplete="off" class="form-control"/></div>
                               </div>
                                
                                
                           </div>   
                               
                            <div class="form-group">
                                <div class="row">
                                   <div class="col-sm-4">
                                       <label class="text">Department:	<span id="deptlable" class="spanvalidate">*</span></label> 
                                   </div>
                                   <div class="col-sm-8">
                                       <div class="input-group selct-opt">
                                            <select id="deptList" name="deptList1" class="form-control" onchange="DeptValidation(this)" ></select>
                                            <label class="text-danger" id="deptid" required="required" hidden></label>
                                        </div>
                                   </div>
                               </div> 
                            </div> 
                            </div> 
                    </div>
                    </form>
                    <div class="content-bot d-flex">
                        <button class="btn btnloginColor w-100 mr-1" id="btn-cancel" type="button" data-dismiss="modal">Cancel</button>
                        <input type="submit" value="Save" class="ml-1 btn btnloginColor pull-right w-100" onclick="return SaveCloneInvdata()" tabindex="15" />
                    </div>                                    
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
   
    $(document).ready(function() {

        var ServiceType = document.getElementsByClassName("serviceClass")[0].innerText;
        var serviceTypeList = [];
        var serviceTypesMultiple = '';
        ServiceType = ServiceType.split('\n');
        var InventoryID = document.getElementById("inv_id").value;
        if (InventoryID == 0 || InventoryID == undefined) {
            $('#InventoryTilte').append("Add Inventory");
            $("#IsSubRootClass").attr('disabled', true);
        }
        else {
            $('#InventoryTilte').append("Edit Inventory");
        }

        $("#IsHasBattery").toggleClass('checked');
        const cb = document.querySelector('#IsHasBattery');
        if (cb.checked == false) {
            $("#IsBatteryLastChanged").attr('disabled', true);
            $("#IsBatteryChangeInterval").attr('disabled', true);
        }
        else {
            $("#IsBatteryLastChanged").removeAttr('disabled');
            $("#IsBatteryChangeInterval").removeAttr('disabled');
        }

       @* Get the value for customer dropdown*@
        $("#customer-dd").show();
            // Check the CustID and facility id based the Add Contracts  Hide and Show
            if (sessionStorage.getItem("inventoryMove_custid") != '0' && sessionStorage.getItem("inventoryMove_fac_id") !='null' && sessionStorage.getItem("inventoryMove_fac_id") != 0) {
               var customerid= document.getElementById("CustomerId").value;
                 if (InvMovePopModal.open){
                        sessionStorage.setItem("inventoryMove_custid", customerid);
                 }
                LoadFacilityDropdowns(false, false);
            }
    });

    function OnChangeEvent(id) {

        $.ajax({
            type: 'POST',
            url: "/Inventory/SubClassDropDown",
            data: { "id": id },
            success: function(response) {
                result = response;
                $("#IsSubRootClass").empty();
                $("#IsSubRootClass").attr('disabled', false);
                $("#IsSubRootClass").append($('<option></option>').val(0).html("* Select One *"));
                var subRootClassID = response.data.map(x => x.prod_class_id);
                $.each(result.data, function(id, data) {
                    $("#IsSubRootClass").append($('<option></option>').val(data.prod_sub_class_id).html(data.prod_sub_class_desc));
                });
            }
        });
    }
    function OnChange(value) {
        $("#IsHasBattery").toggleClass('checked');
        const cb = document.querySelector('#IsHasBattery');
        if (cb.checked == false) {
            $("#IsBatteryLastChanged").attr('disabled', true);
            $("#IsBatteryChangeInterval").attr('disabled', true);
        }
        else {
            $("#IsBatteryLastChanged").removeAttr('disabled');
            $("#IsBatteryChangeInterval").removeAttr('disabled');
        }
    }

    function clkAddModel() {
        // Get the Mfg_ID,Root class ID,Sub Class in edit view
        var Mfg_ID = document.getElementById("IsManufactureList").value;
        var RootClassID = document.getElementById("IsRootClass").value;
        var SubClassID = $("#subclass").val();

        // Get the add modex text values
        var textModel = document.getElementById("IsAddModel").value;

        if (Mfg_ID != null && RootClassID != null && SubClassID != null) {
            let postUrl = "/Inventory/AddModels";
            var request = {
                mfg_id: Mfg_ID,
                model_name: textModel,
                model_desc: "",
                facility_id: RootClassID,
                prod_sub_class_id: SubClassID,
                is_active: document.getElementById("IsActive").checked

            }
            $.ajax({
                cache: false,
                type: "POST",
                url: postUrl,
                data: { 'request': request },
                success: function(result) {
                    if (result.status == "Success") {
                        $.iaoAlert({
                            msg: "Saved successfully",
                            type: "success",
                            mode: "dark",
                        })
                        window.location.href = "/Inventory";
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    return false;
                }
            });
        }
    }
        $(function () {
              $('.DatePicker').datepicker({
                format: 'mm/dd/yyyy', 
                autoclose: true,
                todayHighlight: true
            });
        });

        @*Move and delete*@
        function InventoryDelete() {
	        $("#InvDeletePopModal").modal();
        }

        function Confirm(){
            $("#InvDeletePopModal .close").click();
        }

        function Invmove() {
          $("#InvMovePopModal").modal();
        }
        function Cancelmove(){
             $("#InvMovePopModal .close").click();
        }


    $(document).ready(function() {
        LoadInvFileAttachment();
        var dataSource = new kendo.data.DataSource({});
      if (localStorage.getItem("Is_cust_login") != "true") {
            $("#gridFileInv").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                resizable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5,
                    messages: {
                        itemsPerPage: "Items Per Page"
                    },
                    pageSizes: [10, 15, 25, 50, 100]
                },
                columns: [
                {
                    field: "file_name",
                    title: "File Name",
                    template: "<a class='anchorNavLinkStyle' href='javascript:void(0)' data-ID='#= file_path #' onclick='Download(this)'>#=file_name#</a>",
                    
                },
                {
                    field: "file_size",
                    title: "File Size",
                    attributes: {
                        title: "#=file_size#"
                    },
                     width: '80px',
                },
                {
                        field: "",
                        title: "",
                        template: "<input type='button' value='Remove' class='btn btnloginColor mt-0' data-ID='#= file_attach_id #' onclick='AttachmentDelete(this)'/>",
                        width:'95px',
                },

                ]
            });
      }
      else{
            $("#gridFileInv").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                resizable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5,
                    messages: {
                        itemsPerPage: "Items Per Page"
                    },
                    pageSizes: [10, 15, 25, 50, 100]
                },
                columns: [
                {
                    field: "file_name",
                    title: "File Name",
                    template: "<a class='anchorNavLinkStyle' href='javascript:void(0)' data-ID='#= file_path #' onclick='Download(this)'>#=file_name#</a>",
                     width: '20%',
                },
                {
                    field: "file_size",
                    title: "File Size",
                    attributes: {
                        title: "#=file_size#"
                    },
                     width: '3%',
                },

                ]
            });
      }
        
         
  });

    function Download(arg) {
        window.open(arg.dataset.id, '_blank');
    };

       function LoadInvFileAttachment() {
         var inv_id = document.getElementById('inv_id').value;
        $.loadingBlockShow();
        $.ajax({
            type: 'POST',
            url: "/Inventory/LoadInvFileAttachment",
            data: {
                inv_id:inv_id
            },
            pageSize: 10,
            success: function(result) { 
               
                if (result.success == null) {
                    var grid = $("#gridFileInv").data("kendoGrid");
                    var currPage = grid.dataSource.page();
                    var dataSource = new kendo.data.DataSource({
                        data: result.data,
                        pageSize: 5,
                        page: 0,
                        schema: {
                        },
                    });                  
                    grid.setDataSource(dataSource);
                    $.loadingBlockHide();
                }
                else {
                    $("#alert_error").text(result.message).show();
                    window.location.href ="/Home/Error_Log";
                }
            }
        });
    }


@*customer dropdown for move inventory*@
    $(document).ready(function(isactive, toggleActive) {
        $.ajax({
            type: 'POST',
            url: "/Customer/LoadCustomerDropdown",
            data: { isactive: true, toggleActive: toggleActive },
            pageSize: 10,
            success: function(result) {
                if (result.errors == "true") {
                }
                if (result.success == null) {
                    var dataSource = new kendo.data.DataSource({
                        data: result.data,
                    });
                    $("#myListCustomer").kendoDropDownList({
                        dataSource: dataSource.options.data,
                        dataTextField: "cust_name",
                        dataValueField: "cust_id",
                        //Change Event
                        change: function(e) {
                            var value = this.value();
                            sessionStorage.setItem("inventoryMove_custid",value);
                                $(".inven-sec").addClass("inven-flex-grow");
                                LoadFacilityDropdowns(false,false);

                            if (sessionStorage.getItem("inventoryMove_custid") == 0) {
                                    $(".inven-sec").removeClass("inven-flex-grow");
                            }
                        }
                    });
                }
                else {
                    $("#alert_error").text(result.message).show();
                }
            }
        });
    });


 @*facility dropdown for move inventory*@
    function LoadFacilityDropdowns(isactive, toggleActive) {
        var custID = sessionStorage.getItem("inventoryMove_custid");
        $.ajax({
            type: 'POST',
            url: "/Facilities/LoadFacilitiesDropdown",
            data: { isactive: true, toggleActive: toggleActive, custID: custID },
            pageSize: 10,
            success: function(result) {
                if (result.success == null) {
                    var dataSource = new kendo.data.DataSource({
                        data: result.data,
                    });

                    $("#myListfacility").kendoDropDownList({
                        dataSource: dataSource.options.data,
                        dataTextField: "facility_name",
                        dataValueField: "facility_id",
                        //Change Event
                        change: function(e) {
                            var value = this.value();
                            sessionStorage.setItem("inventoryMove_fac_id",value);
                        }
                    });
                }
                else {
                    $("#alert_error").text(result.message).show();
                }
            }
        });
    }


    function CloneInventory(){
        
         $("#CloneModal").modal('show');
         $('#deptList').val(0).trigger('change');
         $("#IsControl1").val("");
         $("#IsHospital1").val("");
         $("#IsSerial1").val("");
         document.getElementById("deptid").hidden = true;
    }

     $(document).ready(function () {

            $('#deptList').select({});
            $.ajax({
                 url: "/Inventory/DepartmentDropdown",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var result = Object.keys(data).map(function ( key ) {
                        return [Number( key ), data[ key ]];
                    });
                    for (var i = 0; i < result[0][1].length; i++) {
                        var opt = result[0][1][i];
                        var dept_name = unescape(opt.dept_name);
                        var dept_id = unescape(opt.dept_id);

                        $('#deptList').append('<option value="' + dept_id + '">' + dept_name + '</option>'); 
                    }
                }
            });
         
     });
</script>


