﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model HMSMemri.Models.GetCustomerResponse
@{
    ViewData["Title"] = "Inventory";
    Layout = "_Layout";
    bool showAll = false;
    bool showAllCustomer = false;
    bool showAllFacility = false;
}
<style type="text/css">
    .right-arrow:after {
        border-left: none;
    }

    #gridInventory thead th:first-child .k-icon.k-i-more-vertical {
        display: none;
    }

    #gridInventory thead th:nth-child(2) .k-icon.k-i-more-vertical ,    
    #gridInventory thead th:nth-child(3) .k-icon.k-i-more-vertical {
        display: none;
    }

</style>

<div class="headertag">
    @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
    {
        <a class="header-brand" href="/Customer">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a>
    }
    else
    {
       <a class="header-brand" href="/Inventory">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a> 
    }
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
    <span class="headtagname">Inventory</span>
</div>
<div>

    @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
    {
        <div class="flex-wrap inven-sec">
            <div class="row">
            <div class="col-md-12 col-xl-9">
                <div class="new-customer-sec inven-new-customer-sec d-flex">
                    <div>
                        <div id="AddInventory" class="AddCont">
                            <a href="@Url.Action("AddEditInventory", "Inventory")" class="btn btnDefault nowrap newContracts m-t-15 mr-2"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 4V0H4V4H0V6H4V10H6V6H10V4H6Z" fill="white" /></svg> New Inventory</a>
                        </div>
                    </div>
                    <div class="d-flex mt-3 c-f-dropdown align-items-center">
                        <div class="customer-dd">
                            <label for="Customers" class="pr-2 mb-0">Customers</label>
                            <input class="size-width mr-3" id="customers" />
                            <span class="checkbox mr-xl-3 mr-lg-3 mr-0 mt-xl-0 mt-1">
                                <input name="showAllCustomer" id="showAllCustomer" type="checkbox" @(showAllCustomer ? "checked" : "") onclick="toggleCheckboxCustomer(this)" class="mr-1" />Include Inactive Customers</span>
                        </div>
                        <div id="hidefacility" class="inventory-dropdown">
                            <label for="Facilities" class="pr-2 mb-0">Facilities</label><input class="size-width mr-3" id="facility" /><span class="checkbox mr-xl-3 mr-lg-3 mr-0 mt-xl-0 mt-1"><input name="showAllFacility" id="showAllFacility" type="checkbox" @(showAllFacility ? "checked" : "") onclick="toggleCheckboxFacility(this)" class="mr-1" />Include Inactive Facilities</span>
                        </div>
                    </div>
                    <div class="k-button-group save-load-btn">
                        <button id="save" class="btn btnDefault m-t-15">Save View</button>
                        <button id="load" class="btn btnDefault m-t-15 d-none">Load State</button>
                    </div>
                    <div class="d-flex justify-content-between flex-wrap ">
                        <a id="HideExport" href="#" onclick="onclickExport()" class="right-arrow nowrap m-t-15 export-link"><svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.00007 14C1.8657 14 1.73445 13.975 1.60945 13.9219C1.4907 13.8719 1.38132 13.8 1.2907 13.7063C1.20007 13.6156 1.12507 13.5062 1.07507 13.3875C1.02195 13.2656 0.996948 13.1312 0.996948 12.9969V5C0.996948 4.86562 1.02195 4.73438 1.07507 4.60938C1.12507 4.49062 1.19695 4.38125 1.2907 4.29063C1.38132 4.2 1.4907 4.125 1.60945 4.075C1.73132 4.02187 1.8657 3.99687 2.00007 3.99687H5.00945V4.99375H2.01257V13.0031H11.9844V4.99687H8.98757V4H12.0001C12.5532 4 13.0001 4.44687 13.0001 4.99687C13.0001 4.99687 13.0001 4.99687 13.0001 5V13C13.0001 13.5531 12.5532 14 12.0032 14C12.0032 14 12.0032 14 12.0001 14H2.00007ZM8.00007 9V2.9375H10.0157L7.00007 0L3.98445 2.9375H6.00007V9H8.00007Z" fill="#D56126" /></svg> Export</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xl-3">
                <div class="toolbar d-flex flex-grow-1">
                    <div class="right-toolbar-only d-flex align-items-end m-t-15">
                        <div class="custom-input-group d-flex flex-wrap flex-sm-nowrap">
                            <span class="custom-input-group checkbox-group">
                                <label for="showAll" class="d-flex align-items-center"><input name="showAll" id="showAll" type="checkbox" @(showAll ? "checked" : "") onclick="toggleCheckbox(this)" /> Include Inactive Inventory</label>
                            </span>
                        </div>
                        <div class="custom-input-group search-block">
                            <span class="input-group-btn">
                                <input type="text" id="filter" class="form-control search-field" oninput="filter()" placeholder="Search" />
                            </span>
                        </div>
                        <input type="text" class="text-hide" />
                    </div>
                </div>
            </div>
        </div>
        </div>
    }
    else
    {
        
        <div class="flex-wrap inven-sec">
            <div class="row">
                <div class="col-md-12 col-xl-9">
                    <div class="d-flex align-items-md-end inven-customer-login">
                        <div class="d-flex flex-grow-1 mt-3 flex-wrap">
                            <div class="inven-customer-name d-flex flex-grow-1 align-items-center mb-sm-2">
                                <label>Customer : &nbsp;</label><span>@HttpContextAccessor.HttpContext.Session.GetString("CustomerName")</span>
                            </div>
                            <div class="inventory-dropdown d-flex flex-grow-1 align-items-center m-r-3 flex-wrap mb-sm-2">
                                <label for="Facilities" class="pr-2 mb-0">Facilities</label><input class="size-width mr-sm-3 flex-grow-1 min-w-460" id="facilitybycustlogin" /><span class="checkbox mt-md-0 mt-2"><input name="showAllFacility" id="showAllFacility" type="checkbox" @(showAllFacility ? "checked" : "") onclick="toggleCheckboxCustFacility(this)" class="mr-1" />Include Inactive Facilities</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between flex-wrap">
                            <a id="HideExport" href="#" onclick="onclickExport()" class="right-arrow nowrap mt-sm-3 mb-sm-1 export-link"><svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.00007 14C1.8657 14 1.73445 13.975 1.60945 13.9219C1.4907 13.8719 1.38132 13.8 1.2907 13.7063C1.20007 13.6156 1.12507 13.5062 1.07507 13.3875C1.02195 13.2656 0.996948 13.1312 0.996948 12.9969V5C0.996948 4.86562 1.02195 4.73438 1.07507 4.60938C1.12507 4.49062 1.19695 4.38125 1.2907 4.29063C1.38132 4.2 1.4907 4.125 1.60945 4.075C1.73132 4.02187 1.8657 3.99687 2.00007 3.99687H5.00945V4.99375H2.01257V13.0031H11.9844V4.99687H8.98757V4H12.0001C12.5532 4 13.0001 4.44687 13.0001 4.99687C13.0001 4.99687 13.0001 4.99687 13.0001 5V13C13.0001 13.5531 12.5532 14 12.0032 14C12.0032 14 12.0032 14 12.0001 14H2.00007ZM8.00007 9V2.9375H10.0157L7.00007 0L3.98445 2.9375H6.00007V9H8.00007Z" fill="#D56126" /></svg> Export</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-3">
                    <div class="toolbar d-flex flex-grow-1">
                        <div class="right-toolbar-only d-flex align-items-center m-t-15">
                            <div class="custom-input-group d-flex flex-wrap flex-sm-nowrap">
                                <span class="custom-input-group checkbox-group">
                                    <label for="showAll" class="d-flex align-items-center"><input name="showAll" id="showAll" type="checkbox" @(showAll ? "checked" : "") onclick="toggleCheckbox(this)" /> Include Inactive Inventory</label>
                                </span>
                            </div>
                            <div class="custom-input-group search-block">
                                <span class="input-group-btn">
                                    <input type="text" id="filter" class="form-control search-field" oninput="filter()" placeholder="Search" />
                                </span>
                            </div>
                            <input type="text" class="text-hide" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

 <div id="container">
        <div id="gridInventory" class="custom-grid m-t-15"></div>
    </div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/jquery.loading.block.js"></script>
<script type="text/javascript">
    // Initialize the grid values

    $(document).ready(function() {
        if (localStorage.getItem("Is_cust_login") != "true"){
                // Initially hide the Add Contracts button
                // Get the Customer, Facility Checkbox                       
                $("#AddInventory").hide();
                $("#HideExport").hide();
                $("#hidefacility").hide();
                //Contracts  grid load
                loadData(false, false);
                // Dropdown for customer
                if(sessionStorage.getItem("IsInventoryCust_checked") == "true"){
                    $('#showAllCustomer').prop('checked', true);
                }
                if(sessionStorage.getItem("IsInventoryFac_checked") == "true"){
                    $('#showAllFacility').prop('checked', true);
                }
                $("#showAllCustomer").toggleClass('checked');
                const cb = document.querySelector('#showAllCustomer');
                LoadCustomerDropdowns(cb.checked, false);

                 $("#showAllFacility").toggleClass('checked');
                const cb1 = document.querySelector('#showAllFacility');
                LoadFacilityDropdowns(cb1.checked, false);

                $("#customer-dd").show();
                // Check the CustID and facility id based the Add Contracts  Hide and Show
                if (sessionStorage.getItem("inventory_custid") != '0' && sessionStorage.getItem("inventory_fac_id") !='null' && sessionStorage.getItem("inventory_fac_id") != 0) {
                    $("#customers").val(sessionStorage.getItem("inventory_custid"));
                    $("#facility").val(sessionStorage.getItem("inventory_fac_id"));
                    LoadFacilityDropdowns(cb1.checked, false);
                    $("#hidefacility").show();
                    $(".inven-sec").addClass("inven-flex-grow");
                    $("#AddInventory").show();
                    $("#HideExport").show();
                }
                else if (sessionStorage.getItem("inventory_custid") == 0 && sessionStorage.getItem("inventory_fac_id") == null) {
                    loadData(false, false);
                    $("#hidefacility").hide();
                    $("#AddInventory").hide();
                    $("#HideExport").hide();
                }

                if ($("#hidefacility").is(":visible")) {
                    $(".inven-sec").addClass("inven-flex-grow");
                } else {
                    $(".inven-sec").removeClass("inven-flex-grow");
                }
            } else {    
                 $("#HideExport").hide();
                  $("#facilitybycustlogin").val(sessionStorage.getItem("inventory_fac_id"));
                  loadData(false, false);
                if(sessionStorage.getItem("IsInventoryCustFac_checked") == "true"){
                    $('#showAllFacility').prop('checked', true);
                }
                 $("#showAllFacility").toggleClass('checked');
                 const cb  = document.querySelector('#showAllFacility');
                 LoadFacilityDropdownsbycustomerLoign(cb.checked, false);
                
                 if (sessionStorage.getItem("inventory_fac_id") != null && sessionStorage.getItem("inventory_fac_id") != 'null' && sessionStorage.getItem("inventory_fac_id") != 0) {
                    $("#HideExport").show(); 
                }   
                
            }
           
            
            var dataSource = new kendo.data.DataSource({});
            var nonReordableColumn;
            var nonReordable;
            var nonReordableticket;
            if (localStorage.getItem("Is_cust_login") != "true") {
                $("#gridInventory").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                resizable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5,
                    messages: {
                        itemsPerPage: "Items Per Page"
                    },
                    pageSizes: [10, 15, 25, 50, 100]
                },
                scrollable: true,
                sortable: true,
                navigatable: true,
                resizable: true,
                reorderable: true,
                filterable: true,
                columnMenu: true,
                groupable: true,
                columns: [{
                    field: "inv_id",
                    title: "Inventory",
                    template: "<i class='showId' href='javascript:void(0)' data-ID='#= inv_id #' onclick='onInventoryClick(this)'> <img src='/images/Edit.png' width='25px'></i> <p class='hideId'>#= inv_id #</p>",
                    width: '6%',
                    menu: false,
                    sortable: false,
                },
                {
                    field: "parts",
                    title: "Parts",
                    template: "<i href='javascript:void(0)' data-ID='#= inv_id #' onclick='clkPartsView(this)'><img style='text-align: center;' src='/images/settings.png' width='25px'> </i>",
                    width: '6%',
                    menu: false,
                    sortable: false,
                },
                {
                    field: "inv_id",
                    title: "Add Ticket",
                    template: "<i class='showId' href='javascript:void(0)' data-ID='#= inv_id #' onclick='onTicketClick(this)'> <img src='/images/Report.png' width='25px'><b>+</b></i> <p class='hideId'> Add Ticket</p>",
                    width: '60px',
                    menu: false,
                    sortable: false,
                },
                {
                    field: "facility_name",
                    title: "Facility Name",
                    attributes: {
                        title: "#=facility_name#"
                    },
                    width: "370px",
                },
                {
                    field: "hos_control_num",
                    title: "Hospital Control Number",
                    attributes: {
                        title: "#=hos_control_num#"
                    },
                    width: "130px",
                },
                {
                    field: "control_num",
                    title: "Control Number",
                    attributes: {
                        title: "#=control_num#"
                    },
                    width: "100px",
                },
                {
                    field: "serial_no",
                    title: "Serial Number",
                    attributes: {
                        title: "#=serial_no#"
                    },
                    width: "100px",
                },
                  {
                    field: "model",
                    title: "Model",
                    attributes: {
                        title: "#=model#"
                    },
                    width: "100px",
                },
                {
                    field: "inv_stat_desc",
                    title: "Status",
                    attributes: {
                        title: "#=inv_stat_desc#"
                    },
                    width: "100px",
                }
                ],
                dataBound: function(e) {
                    nonReordableColumn = e.sender.columns[0];
                    nonReordable = e.sender.columns[1];
                    nonReordableticket = e.sender.columns[2];
                },
                reorderable: true,
                columnReorder: function(e) {
                    var grid = e.sender;

                    setTimeout(function(e) {
                        grid.reorderColumn(0, nonReordableColumn);
                        grid.reorderColumn(1, nonReordable);
                        grid.reorderColumn(2, nonReordableticket);
                    }, 1)
                }
            });
            }else{
                $("#gridInventory").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                resizable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5,
                    messages: {
                        itemsPerPage: "Items Per Page"
                    },
                    pageSizes: [10, 15, 25, 50, 100]
                },
                scrollable: true,
                sortable: true,
                navigatable: true,
                resizable: true,
                reorderable: true,
                filterable: true,
                columnMenu: true,
                groupable: true,
                columns: [{
                    field: "inv_id",
                    title: "Inventory",
                    template: "<i class='showId' href='javascript:void(0)' data-ID='#= inv_id #' onclick='onInventoryClick(this)'> <img src='/images/Edit.png' width='25px'></i> <p class='hideId'>#= inv_id #</p>",
                    width: '6%',
                    menu: false,
                    sortable: false,
                },
                {
                    field: "parts",
                    title: "Parts",
                    template: "<i href='javascript:void(0)' data-ID='#= inv_id #' onclick='clkPartsView(this)'><img style='text-align: center;' src='/images/settings.png' width='25px'> </i>",
                    width: '6%',
                    menu: false,
                    sortable: false,
                },            
                {
                    field: "facility_name",
                    title: "Facility Name",
                    attributes: {
                        title: "#=facility_name#"
                    },
                    width: "370px",
                },
                {
                    field: "hos_control_num",
                    title: "Hospital Control Number",
                    attributes: {
                        title: "#=hos_control_num#"
                    },
                    width: "130px",
                },
                {
                    field: "control_num",
                    title: "Control Number",
                    attributes: {
                        title: "#=control_num#"
                    },
                    width: "100px",
                },
                {
                    field: "serial_no",
                    title: "Serial Number",
                    attributes: {
                        title: "#=serial_no#"
                    },
                    width: "100px",
                },
                  {
                    field: "model",
                    title: "Model",
                    attributes: {
                        title: "#=model#"
                    },
                    width: "100px",
                },
                {
                    field: "inv_stat_desc",
                    title: "Status",
                    attributes: {
                        title: "#=inv_stat_desc#"
                    },
                    width: "100px",
                }
                ],
                dataBound: function(e) {
                    nonReordableColumn = e.sender.columns[0];
                    nonReordable = e.sender.columns[1];
                    nonReordableticket = e.sender.columns[2];
                },
                reorderable: true,
                columnReorder: function(e) {
                    var grid = e.sender;

                    setTimeout(function(e) {
                        grid.reorderColumn(0, nonReordableColumn);
                        grid.reorderColumn(1, nonReordable);
                        grid.reorderColumn(2, nonReordableticket);
                    }, 1)
                }
            });
            }
            
        
    });

    function onDetailCollapse(e) {
        var grid = $("#gridInventory").data("kendoGrid");
        var expanded = $.map(grid.tbody.children(":has(> .k-hierarchy-cell .k-i-collapse)"), function(row) {
            return $(row).data("uid");
        });
        grid.one("dataBound", function() {
            grid.expandRow(grid.tbody.children().filter(function(idx, row) {
                return $.inArray($(row).data("uid"), expanded) >= 0;
            }));
        });
        grid.refresh();
    }

    function loadData(isactive, toggleActive) {
       if (localStorage.getItem("Is_cust_login") != "true") { 
            if (sessionStorage.getItem("inventory_custid") != null && sessionStorage.getItem("inventory_fac_id") != null) {
                var custID = sessionStorage.getItem("inventory_custid");
                var facilityID = sessionStorage.getItem("inventory_fac_id");
            }
        }
        else {
           var facilityID = sessionStorage.getItem("inventory_fac_id");
        }
        $.loadingBlockShow();
        $.ajax({
            type: 'POST',
            url: "/Inventory/LoadInventoryGrid",
            data: {
                isactive: isactive,
                toggleActive: toggleActive,
                custID: custID,
                facilityID: facilityID
            },
            pageSize: 10,
            success: function(result) {
                if (result.errors == "true") {
                    document.getElementById('load').click();
                }
                if (result.success == null) {
                    var grid = $("#gridInventory").data("kendoGrid");
                    var currPage = grid.dataSource.page();
                    var dataSource = new kendo.data.DataSource({
                        data: result.data,
                        pageSize: 15,
                        page: 0,
                        schema: {

                        },
                    });
                    grid.setDataSource(dataSource);
                    $.loadingBlockHide();
                }
                else {
                    $("#alert_error").text(result.message).show();
                    window.location.href ="/Home/Error_Log";
                }
            }
        });
    }

    function onInventoryClick(arg) {
        $.loadingBlockShow();
        encodedStr = btoa(arg.dataset.id);
        var link = '@Url.Action("AddEditInventory", "Inventory", new { id = "replace" })';
        link = link.replace("replace", encodedStr);
        window.location.href = link;

    }
     function onTicketClick(arg) {
        $.loadingBlockShow();
        $.ajax({
			type: 'POST',
			url: '/Inventory/GetInventoryTicket',
			data: {
				InventoryId: arg.dataset.id
			},
			success: function (result) {
				if (result.success) {
					 var link = '@Url.Action("EditTickets", "Tickets")';
                     window.location.href = link;
				} 
			},
			error: function (xhr, ajaxOptions, thrownError) {

			},
		});     
    }

    //Redirect to Parts View
    function clkPartsView(arg) {
        $.loadingBlockShow();
        encodedStr = btoa(arg.dataset.id);
        var link = '@Url.Action("Index", "InventoryParts",new { id = "replace" })';
        link = link.replace("replace", encodedStr);
        window.location.href = link;
    }

    function toggleCheckbox(arg) {
        $("#showAll").toggleClass('checked');
        const cb = document.querySelector('#showAll');
        loadData((cb.checked), false);
        document.getElementById('filter').value = '';
    }
    function toggleCheckboxCustomer(arg) {
        $("#showAllCustomer").toggleClass('checked');
        const cb = document.querySelector('#showAllCustomer');
        LoadCustomerDropdowns((cb.checked), false);
        sessionStorage.setItem("IsInventoryCust_checked", (cb.checked));
        if (sessionStorage.getItem("inventory_custid") != null) 
        {
           $("#hidefacility").show();
            $(".inven-sec").addClass("inven-flex-grow");
        }
    }
    function toggleCheckboxFacility(arg) {
        $("#showAllFacility").toggleClass('checked');
        const cb = document.querySelector('#showAllFacility');
        LoadFacilityDropdowns((cb.checked), false);
        sessionStorage.setItem("IsInventoryFac_checked", (cb.checked));
    }
   function toggleCheckboxCustFacility(arg) {
        $("#showAllFacility").toggleClass('checked');
        const cb = document.querySelector('#showAllFacility');
        LoadFacilityDropdownsbycustomerLoign((cb.checked), false);
        sessionStorage.setItem("IsInventoryCustFac_checked", (cb.checked));
   }
    $("#filter").keydown(function(e) {
        //$.loadingBlockShow();
        if (e.keyCode === 13) {
            filter();
        }
    });
    function filter() {

        var queryString = $("#filter").val();

        //Set Session storage when get the export
        sessionStorage.setItem("search", queryString);

        var grid = $("#gridInventory").data("kendoGrid");
        var orfilter = { logic: "or", filters: [] };
        orfilter.filters.push(
            { field: "inv_id", operator: "eq", value: queryString },
            { field: "hos_control_num", operator: "contains", value: queryString },
            { field: "control_num", operator: "contains", value: queryString },
            { field: "serial_no", operator: "contains", value: queryString },
            { field: "model", operator: "contains", value: queryString }

        );
        if (queryString) {
            grid.dataSource.filter(orfilter);
            $.loadingBlockHide();
        } else {
            grid.dataSource.filter({});
            $("#filter").val('');
            grid.dataSource.read();
        }
    }

    function onclickExport() {
        var dataSource = $("#gridInventory").data("kendoGrid").dataSource;
        var filters = dataSource.filter();
        var allData = dataSource.data();
        var query = new kendo.data.Query(allData);
        var data = query.filter(filters).data;
        var list = data.map(x => x.inv_id);
        if (list.length != 0) {
            $.loadingBlockShow();
            $.ajax({
                type: "POST",
                url: "/Inventory/ExportInventory",
                data: { InventoryList: JSON.parse(JSON.stringify(list)) },
                success: function(result) {
                   if (result.excelLink != null) {
                      var link = result.excelLink;
                      window.location = link;
                      $.loadingBlockHide();
                   }
                   else {
                     window.location.href ="/Home/Error_Log";
                   }
                }
            });
        }
        else {
            $.iaoAlert({
                msg: "No Record!!",
                type: "error",
                mode: "dark",
            })
        }

    }

    //Customer Dropdown
    function LoadCustomerDropdowns(isactive, toggleActive) {
        
        $("#hidefacility").hide();
        $.ajax({
            type: 'POST',
            url: "/Customer/LoadCustomerDropdown",
            data: { isactive: isactive, toggleActive: toggleActive },
            pageSize: 10,
            success: function(result) {
                if (result.errors == "true") {
                }
                if (result.success == null) {
                    var dataSource = new kendo.data.DataSource({
                        data: result.data,
                    });
                    if (result.data.filter(x=>x.cust_id == sessionStorage.getItem("inventory_custid")).length == 0) {
                         sessionStorage.setItem("inventory_custid", null);
                         $("#hidefacility").hide();
                         $(".inven-sec").removeClass("inven-flex-grow");
                         $("#AddInventory").hide();
                          $("#HideExport").hide();
                    }

                    $("#customers").kendoDropDownList({
                        dataSource: dataSource.options.data,
                        dataTextField: "cust_name",
                        dataValueField: "cust_id",
                        //Change Event
                        change: function(e) {
                            var value = this.value();
                            sessionStorage.setItem("inventory_custid", value);
                            $("#hidefacility").show();
                            $(".inven-sec").addClass("inven-flex-grow");
                            $("#AddInventory").hide();
                            $("#HideExport").hide();
                            $("#showAllFacility").toggleClass('checked');
                            const cb1 = document.querySelector('#showAllFacility');
                            LoadFacilityDropdowns(cb1.checked, false);

                            if (sessionStorage.getItem("inventory_custid") == 0) {
                                loadData(false, false);
                                $("#hidefacility").hide();
                                $(".inven-sec").removeClass("inven-flex-grow");
                                $("#AddInventory").hide();
                            }
                        }
                    });
                }
                else {
                    $("#alert_error").text(result.message).show();
                }
            }
        });
    }

    //Facility Dropdown
    function LoadFacilityDropdowns(isactive, toggleActive) {
        
        var custID = sessionStorage.getItem("inventory_custid");

        $.ajax({
            type: 'POST',
            url: "/Facilities/LoadFacilitiesDropdown",
            data: { isactive: isactive, toggleActive: toggleActive, custID: custID },
            pageSize: 10,
            success: function(result) {
                if (result.errors == "true") {
                    document.getElementById('load').click();
                }
                if (result.success == null) {
                    var dataSource = new kendo.data.DataSource({
                        data: result.data,
                    });
                   if (result.data.filter(x=>x.facility_id == sessionStorage.getItem("inventory_fac_id")).length == 0 || result.data.filter(x=>x.facility_id == sessionStorage.getItem("inventory_fac_id")).length == null )   {
                         sessionStorage.setItem("inventory_fac_id", null);
                         $("#AddInventory").hide();
                         $("#HideExport").hide();
                   }                     
                    $("#facility").kendoDropDownList({
                        dataSource: dataSource.options.data,
                        dataTextField: "facility_name",
                        dataValueField: "facility_id",
                        //Change Event
                        change: function(e) {
                            
                            var value = this.value();
                            sessionStorage.setItem("inventory_fac_id", value);
                            $("#AddInventory").show();
                            $("#HideExport").show();
                            $("#showAll").toggleClass('checked');
                            const cb = document.querySelector('#showAll');
                            loadData(cb.checked, false);
                            if (sessionStorage.getItem("inventory_custid") == 0 || sessionStorage.getItem("inventory_fac_id") == 0) {
                                $("#AddInventory").hide();
                                $("#HideExport").hide();
                            }
                        }
                    });
                }
                else {
                    $("#alert_error").text(result.message).show();
                }
            }
        });
    }
    function LoadFacilityDropdownsbycustomerLoign(isactive, toggleActive) {
        
        var custID = sessionStorage.getItem("inventory_custid");

        $.ajax({
            type: 'POST',
            url: "/Facilities/LoadFacilitiesDropdownbycustomerLoign",
            data: { isactive: isactive, toggleActive: toggleActive },
            pageSize: 10,
            success: function(result) {
                if (result.errors == "true") {
                    document.getElementById('load').click();
                }
                if (result.success == null) {
                    var dataSource = new kendo.data.DataSource({
                        data: result.data,
                    });
                    if (result.data.filter(x=>x.facility_id == sessionStorage.getItem("inventory_fac_id")).length == 0) {
                        sessionStorage.setItem("inventory_fac_id", null);
                    }
                    $("#facilitybycustlogin").kendoDropDownList({
                        dataSource: dataSource.options.data,
                        dataTextField: "facility_name",
                        dataValueField: "facility_id",
                        //Change Event
                        change: function(e) {
                            
                            var value = this.value();
                            $("#HideExport").show();
                            sessionStorage.setItem("inventory_fac_id", value);
                            const cb = document.querySelector('#showAll');
                            loadData(cb.checked, false);   
                            if (sessionStorage.getItem("inventory_fac_id") == 0) {
                                $("#HideExport").hide();
                            }
                            
                        }
                    });
                }
                else {
                    $("#alert_error").text(result.message).show();
                }
            }
        });
    }
    //save state
     var grid = $("#gridInventory").data("kendoGrid");
     $("#save").click(function(e) {
            $.loadingBlockShow();
            e.preventDefault();

            dataSource = $("#gridInventory").data("kendoGrid").dataSource,
            state = {
                        sortable: true,
                        resizable: true,
                        pageable: {
                            refresh: true,
                            pageSizes: true,
                            buttonCount: 5,
                            messages: {
                                itemsPerPage: "Items Per Page"
                            },
                            pageSizes: [10, 15, 25, 50, 100]
                        },
                        scrollable: true,
                        sortable: true,
                        navigatable: true,
                        resizable: true,
                        reorderable: true,
                        filterable: true,
                        columnMenu: true,
                        groupable: true,
                    columns: $("#gridInventory").data("kendoGrid").columns,
                }
             var KeyValue = JSON.stringify(state);
            localStorage.setItem("Key", KeyValue);

            var usr_id = localStorage.getItem("UserId");
            var grid_id = 60;
            var json_col_ord = localStorage.getItem("Key");

            $.ajax({
                type: "POST",
                url: "/Inventory/SaveStateData",
                data: { usr_id: usr_id, grid_id: grid_id, json_col_ord: json_col_ord },
                success: function(result) {
                    if (result) {
                        result = kendo.stringify($("#gridInventory").data("kendoGrid").getOptions());
                        var columnOptionsForSaving = kendo.stringify($("#gridInventory").data("kendoGrid").dataSource.columns);
                        var options = $("#gridInventory").data("kendoGrid").getOptions();
                        $.iaoAlert({
                            msg: "Save View Successfully",
                            type: "success",
                            mode: "dark",
                        })
                        $.loadingBlockHide();
                    }
                }
            });
     });

     //Load State
        $("#load").click(function(e) {
            $.loadingBlockShow();
            var usr_id = localStorage.getItem("UserId");
            var grid_id = 60;
            $.ajax({
                type: "POST",
                url: "/Inventory/LoadInventoryState",
                data: { usr_id: usr_id, grid_id: grid_id },
                success: function(result) {
                    if (result.loadState) {
                        //state = JSON.parse(state);

                        var options = result.loadState.json_col_ord;
                        if (options) {
                            $("#gridInventory").data("kendoGrid").setOptions(JSON.parse(options));
                        }
                        $.loadingBlockHide();
                    }
                }
            });
        });
</script>