﻿@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "Parts";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/kendo/kendo.default.min.css" />


<style>
    .right-arrow:after {
        border-left: none;
    }

    .size-width {
        width: 300px;
    }

    #set {
        white-space: nowrap;
    }

    .k-icon k-i-clock {
        display: none;
    }
</style>

<div class="headertag">
    <a class="header-brand" href="/Customer">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
        </svg>
    </a>
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
    <a class="header-brand headtagname" href="/Inventory">Inventory</a>
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
    <span class="headtagname">Parts</span>
</div>

    <div class="col-md-12 d-flex p-0">
        @* Declare the button details*@

        <div class="toolbar d-flex flex-grow-1">

            <div class="right-toolbar-only d-flex align-items-end m-t-15">
                <div class="d-flex justify-content-between flex-wrap ">
                        <a id="HideExport" href="#" onclick="onclickExport()" class="right-arrow nowrap m-t-15 export-link"><svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.00007 14C1.8657 14 1.73445 13.975 1.60945 13.9219C1.4907 13.8719 1.38132 13.8 1.2907 13.7063C1.20007 13.6156 1.12507 13.5062 1.07507 13.3875C1.02195 13.2656 0.996948 13.1312 0.996948 12.9969V5C0.996948 4.86562 1.02195 4.73438 1.07507 4.60938C1.12507 4.49062 1.19695 4.38125 1.2907 4.29063C1.38132 4.2 1.4907 4.125 1.60945 4.075C1.73132 4.02187 1.8657 3.99687 2.00007 3.99687H5.00945V4.99375H2.01257V13.0031H11.9844V4.99687H8.98757V4H12.0001C12.5532 4 13.0001 4.44687 13.0001 4.99687C13.0001 4.99687 13.0001 4.99687 13.0001 5V13C13.0001 13.5531 12.5532 14 12.0032 14C12.0032 14 12.0032 14 12.0001 14H2.00007ZM8.00007 9V2.9375H10.0157L7.00007 0L3.98445 2.9375H6.00007V9H8.00007Z" fill="#D56126" /></svg> Export</a>
                    </div>
                <div class="divCalendrs d-flex mr-2">
                    <label class="d-flex align-items-end pr-1">Beginning Date:</label><input id="datetimepicker" title="datetimepicker" />
                    <button id="set" class="ml-1" onclick="onclkSetValue()">Set value</button>
                </div>
                <div class="custom-input-group search-block d-flex">
                    <input type="text" id="filter" class="form-control search-field" oninput="filter()" placeholder="Search" />
                </div>
                  <input type="text" class="text-hide" />
            </div>
        </div>
    </div>
  

    <div id="container">
        <div id="gridInventoryParts" class="custom-grid m-t-15"></div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.loading.block.js"></script>
    <script src="~/js//kendo/kendo.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js">
    </script>

    <script type="text/javascript">
        // Initialize the grid values
        
        $(document).ready(function() {
            var todayDate = new Date();
           var Year =todayDate.getFullYear()-1;
             var GetMonth = todayDate.getMonth() + 1;
            var getDate = todayDate.getDate();
            var DateConverts = Year + '-' + GetMonth + '-' + getDate;

            $("#datetimepicker").val(DateConverts);
            // create DateTimePicker from input HTML element
            $("#datetimepicker").kendoDateTimePicker()
         
            var datetimepicker = $("#datetimepicker").data("kendoDateTimePicker");
            var nonReordableColumn;
            var DateConvert = datetimepicker.value();
             var GetMonths = DateConvert.getMonth() + 1;
            var ValueCal = DateConvert.getFullYear() + '-' + GetMonths + '-' + DateConvert.getDate();
            sessionStorage.setItem("datetimepicker", ValueCal);
            loadData();

            var dataSource = new kendo.data.DataSource({});
            $("#gridInventoryParts").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                resizable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5,
                    messages: {
                        itemsPerPage: "Items Per Page"
                    },
                    pageSizes: [10, 15, 25, 50, 100]
                },
                scrollable: true,
                sortable: true,
                navigatable: true,
                resizable: true,
                reorderable: true,
                filterable: true,
                columnMenu: true,
                groupable: true,

                columns: [{
                    field: "ticket_id",
                    title: "Ticket Report",
                    template: "<a class='showId' href='javascript:void(0)' data-ID='#= ticket_id #' onclick='onTicketReports(this)'><img src='/images/Report.png' width='25px'> </a><p class='hideId'>#= ticket_id  #</p>",
                     width:'7%',
                     menu: false, 
                     sortable: false,
                },
                {
                    field: "ticket_desc",
                    title: "Ticket Description",
                    attributes: {
                        title: "#=ticket_desc#"
                    },
                     width:'20%',
                },
                {
                    field: "ticket_tp_desc",
                    title: "Ticket Type Description",
                    attributes: {
                        title: "#=ticket_tp_desc#"
                    }
                },
                {
                    field: "service_dt",
                    title: "Service Date",
                    attributes: {
                        title: "#=service_dt#"
                    },
                    format: "{0: MM/dd/yyyy}"
                },
                {
                    field: "part_no",
                    title: "Part No",
                    attributes: {
                        title: "#=part_no#"
                    }
                },
                {
                    field: "charge_desc",
                    title: "Charge Description",
                    attributes: {
                        title: "#=charge_desc#"
                    }
                },
                {
                    field: "charge",
                    title: "Charge",
                    attributes: {
                        title: "#=charge#"
                    }
                },
                ],
                  dataBound: function(e){
                     nonReordableColumn = e.sender.columns[0];
                    },
                      reorderable: true,
                      columnReorder: function(e) {
                        var gridInventoryParts = e.sender;

                        setTimeout(function (e) {
                            gridInventoryParts.reorderColumn(0, nonReordableColumn);
                        }, 1)
                      }
            });
            $(function(){
                $('#gridInventoryParts .k-header-column-menu').eq(0).hide();
            })
        });

        function onclkSetValue() {                      
            var ValueCal = $("#datetimepicker").data("kendoDateTimePicker").value();
            var GetMonth = ValueCal.getMonth() + 1;
            var getDate = ValueCal.getDate();
            var DateConvert = ValueCal.getFullYear() + '-' + GetMonth + '-' + getDate;
            sessionStorage.setItem("datetimepicker", DateConvert);
            loadData();  
        }
       
          $(document).on('keyup keypress', 'form input[type="text"]', function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    return false;
                }
            });
            $(document).on("keydown", function (event) {
                if (event.which === 13){
                    onclkSetValue();
                }
            });


        function loadData() {
            var DatetimePicker = sessionStorage.getItem("datetimepicker");
            $.loadingBlockShow();
            $.ajax({
                type: 'POST',
                url: "/InventoryParts/LoadInventoryPartsGrid",
                data: { DatetimePicker: DatetimePicker },
                pageSize: 10,
                success: function(result) {
                    if (result.success == null) {
                        var grid = $("#gridInventoryParts").data("kendoGrid");
                        var currPage = grid.dataSource.page();
                        var dataSource = new kendo.data.DataSource({
                            data: result.data,
                            pageSize: 15,
                            page: 0,
                            schema: {
                                model: {
                                    fields: {
                                        Zip: { type: "number" },
                                        service_dt: { type: "date" },
                                    }
                                }
                            },
                        });
                        grid.setDataSource(dataSource);
                        $.loadingBlockHide();
                    }
                    else {
                        $("#alert_error").text(result.message).show();
                        window.location.href ="/Home/Error_Log";
                    }
                }
            });
        }

        $("#filter").keydown(function(e) {
            //$.loadingBlockShow();
            if (e.keyCode === 13) {
                filter();
            }
        });
        function filter() {
           
            sessionStorage.clear()
            var queryString = $("#filter").val();
            //Set Session storage when get the export
            sessionStorage.setItem("search", queryString);
            
            var grid = $("#gridInventoryParts").data("kendoGrid");
            var orfilter = { logic: "or", filters: [] };
            orfilter.filters.push(
                { field: "ticket_desc", operator: "contains", value: queryString },
                { field: "ticket_tp_desc", operator: "contains", value: queryString },
                { field: "service_dt", operator: "contains", value: queryString },
                { field: "part_no", operator: "contains", value: queryString },
                { field: "charge_desc", operator: "contains", value: queryString },
                { field: "charge", operator: "contains", value: queryString }
            );
            if (queryString) {
                grid.dataSource.filter(orfilter);
                $.loadingBlockHide();
            } else {
                grid.dataSource.filter({});
                $("#filter").val('');
                grid.dataSource.read();
            }
        }
        function onTicketReports(arg) {            
            $.loadingBlockShow();
            encodedStr =arg.dataset.id;
            var link = '@Url.Action("TicketReport", "TicketReports", new { id = "replace" })';
            link = link.replace("replace", encodedStr);
            window.location.href = link;
            $.loadingBlockHide();
        }

          function onclickExport() {
        var dataSource = $("#gridInventoryParts").data("kendoGrid").dataSource;
        var filters = dataSource.filter();
        var allData = dataSource.data();
        var query = new kendo.data.Query(allData);
        var data = query.filter(filters).data;
        var list = data.map(x => x.ticket_charge_id);
        if (list.length != 0) {
            $.loadingBlockShow();
            $.ajax({
                type: "POST",
                url: "/InventoryParts/ExportInventoryParts",
                data: { InventoryPartsList: JSON.parse(JSON.stringify(list)) },
                success: function(result) {
                   if (result.excelLink != null) {
                      var link = result.excelLink;
                      window.location = link;
                      $.loadingBlockHide();
                   }
                   else {
                     window.location.href ="/Home/Error_Log";
                   }
                }
            });
        }
        else {
            $.iaoAlert({
                msg: "No Record!!",
                type: "error",
                mode: "dark",
            })
        }

    }
    </script>
