﻿@model HMSMemri.Models.GetCustomerResponse
@{
    ViewBag.Title = "EditCustomer";
    Layout = "_Layout";
}

<div class="headertag">
    <a class="header-brand" href="/Customer">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" /></svg>
    </a>
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" /></svg>
    </span>
    <a class="header-brand headtagname" href="/Customer">Customers</a>
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" /></svg>
    </span>
    <span class="header-brand headtagname" id="CustomerTilte"></span>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="add-edit-section">
            @using (Html.BeginForm("EditCustomer", "Customer", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "add-generic-form", onSubmit = "return SubmitForm(this)" }))
            {
                if (@Model.customerdetail != null && @Model.customerdetail.CustomerId > 0)
                {
                    <div class="editcustomer">
                        <div class="row" id="IsEditshown">
                            <div class="col-md-12 col-lg-12">
                                <div class="editcustomer-left">
                                    <h5 class="customer-name">Edit Customer - @Html.DisplayFor(model => model.customerdetail.CustomerName)</h5>
                                    <div hidden> <span>DateAdded:</span> <span id="DateAddedId" style="font-weight:bold"></span> </div>
                                    <div class="customer-field">
                                        <div>
                                            <a class="header-link  headtagname" href="@Url.Action("Index", "Facilities")"> Facility  </a><span>Count:(@Html.DisplayFor(model => model.customerdetail.FacilityCount)) facilities associated with this customer.</span>
                                        </div>
                                        <div>
                                            <a onclick="clkCustContact()" class="header-link headtagname" href="@Url.Action("Index", "CustomerContact")">Contact </a>  <span> Count:(@Html.DisplayFor(model => model.customerdetail.ContactCount)) customer contacts associated with this customer.</span>
                                        </div>
                                        <div>
                                            <a class="header-link headtagname" href="#">Ticket</a> <span>Count:(@Html.DisplayFor(model => model.customerdetail.TicketCount)) tickets associated with this customer.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <span id="CustomerId"> </span>
                            <h4 class="form-page-title">Add Customer</h4>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                <hr>
                @Html.HiddenFor(model => model.customerdetail.CustomerId, new {id="CustomerId" })
                @Html.HiddenFor(model => model.customerdetail.FacilityCount, new {id="FacilityCountId" })
                @Html.HiddenFor(model => model.customerdetail.ContactCount, new {id="ContactCountId" })
                @Html.HiddenFor(model => model.customerdetail.TicketCount, new {id="TicketCountId" })
                @Html.HiddenFor(model => model.customerdetail.IsActive, new {id="IsActiveId" })
                <div class="form-section">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label class="col-md-6 control-label"> Customer Name <span class="spanvalidate"> * </span></label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.customerdetail.CustomerName, new { @class = "form-control col-md-12", id="IsCustomerName",tabindex = 1 })
                                        @Html.ValidationMessageFor(Model=>Model.customerdetail.CustomerName,"",new { @class = "text-danger " })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label">Address 1 <span class="spanvalidate"> * </span> </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.customerdetail.Address1, new { @class = "form-control",id="IsAddress1" ,tabindex = 3})
                                        @Html.ValidationMessageFor(Model=>Model.customerdetail.Address1,"",new { @class = "text-danger " })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label">Address 2  </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.customerdetail.Address2, new { @class = "form-control",id="IsAddress2", tabindex = 5})
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label">City <span class="spanvalidate"> * </span> </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.customerdetail.City, new { @class = "form-control col-md-12" ,id="IsCity", tabindex = 7} )
                                        @Html.ValidationMessageFor(Model=>Model.customerdetail.City,"",new { @class = "text-danger w-100 " })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label">State <span class="spanvalidate"> * </span> </label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(m=>m.customerdetail.State,Model.StateModule,new { @class = "form-control" ,id="IsState",  tabindex = 9, Class="status"} )
                                        @Html.ValidationMessageFor(Model=>Model.customerdetail.State,"",new { @class = "text-danger " })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label">Zip Code <span class="spanvalidate"> * </span> </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.customerdetail.ZipCode, new { @class = "form-control col-md-12", @onkeypress = "return isNumberKey(this,event)",id="IsZipCode" , tabindex = 11})
                                        @Html.ValidationMessageFor(Model=>Model.customerdetail.ZipCode,"",new { @class = "text-danger w-100" })
                                    </div>
                                </div>
                            </div>
                           <div class="form-group">
                                <label class="col-md-6 control-label">Service Type <span class="spanvalidate"> * </span> </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                       @Html.ListBoxFor(model => model.customerdetail.service_typeIds,new MultiSelectList(Model.serviceTypeModule, "Value", "Text"), new { @class = "form-control col-md-12", multiple = "multiple", id = "Subjects_dropdown",name="ServiceTypeName" })                                      
                                       @Html.ValidationMessageFor(Model=>Model.customerdetail.service_typeIds,"",new { @class = "text-danger w-100" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-6 control-label">Phone Number <span class="spanvalidate"> * </span></label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.customerdetail.PhoneNumber, new { @class = "form-control" ,data_mask = "000.000.0000",id="IsPhoneNumber",tabindex = 2})
                                        @Html.ValidationMessageFor(Model=>Model.customerdetail.PhoneNumber,"",new { @class = "text-danger " })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Fax  </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.customerdetail.Fax, new { @class = "form-control" ,data_mask = "000.000.0000",id="IsFax", tabindex = 4})
                                        @Html.ValidationMessageFor(Model=>Model.customerdetail.Fax,"",new { @class = "text-danger " })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Visit Allocation</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.customerdetail.VisitAllocation, new { @class = "form-control",id="IsVisitAllocation" , tabindex = 6})
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label">Default Labor  </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.customerdetail.DefaultLabor, new { @class = "form-control", @onkeypress = "return isNumberKey(this,event)" ,id="IsDefaultLabor",tabindex = 8})
                                        @Html.ValidationMessageFor(Model=>Model.customerdetail.DefaultLabor,"",new { @class = "text-danger " })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label">Customer Status <span class="spanvalidate"> * </span> </label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(m=>m.customerdetail.CustomerStatus,Model.CustomStatusModule,new { @class = "form-control" ,id="IsCustomerStatus",  tabindex = 10, Class="status"} )
                                        @Html.ValidationMessageFor(Model=>Model.customerdetail.CustomerStatus,"",new { @class = "text-danger " })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label">Notes </label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        @Html.TextAreaFor(model => model.customerdetail.Notes, new { @class = "form-control",id="IsNotes" , tabindex = 12})
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                            <div class="col-12">
                                <input type="submit" value="Save" class="btn btnloginColor" id=btn tabindex="14" />
                            </div>
                        
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    //Initialize the status date,custID,Save button visiblity and count variables
    $(document).ready(function() {
        //Date Added and Format  13/05/2022
        var currentdate = new Date();
        var datetime = currentdate.getDate() + "/"
            + (currentdate.getMonth() + 1) + "/"
            + currentdate.getFullYear() + "  "
            + currentdate.getHours() + ":"
            + currentdate.getMinutes() + ":"
            + currentdate.getSeconds();

        //In New mode Reset button visiblity false,Edit mode only reset button visibled
        var custID = document.getElementById("CustomerId").value;
        if (custID == 0 || custID == undefined) {
            $('#CustomerTilte').append("Add Customer");
        }
        else {
            $('#CustomerTilte').append("Edit Customer");
        }

        $('#DateAdded').append($("#today").val())
        $('#FacilityCount').append($("#FacilityCountId").val())
        $('#ContactCount').append($("#ContactCountId").val())
        $('#TicketCount').append($("#TicketCountId").val())
    });

    // Only enter the numbers
    function isNumberKey(el, evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        var number = el.value.split('.');

        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        //just one dot
        if (number.length > 1 && charCode == 46) {
            return false;
        }
        //get the carat position
        var caratPos = getSelectionStart(el);

        var dotPos = el.value.indexOf(".");
        var maxNum = number[0];
        if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
            return false;
        }
        return true;
    }
    function getSelectionStart(o) {
        if (o.createTextRange) {
            var r = document.selection.createRange().duplicate()
            r.moveEnd('character', o.value.length)
            if (r.text == '') return o.value.length
            return o.value.lastIndexOf(r.text)
        } else return o.selectionStart
    }

    function onChangeCustomerfacility(cust_id) {
        var custID = document.getElementById("CustomerId").value;
        var link = '@Url.Action("AddEditFacility", "Facilities")';
        link = link.replace("replace", custID);
        window.location.href = link;
    }

    function clkCustContact(){
       var Cust_contactID= document.getElementById("CustomerId").value;
       sessionStorage.setItem("cust_Contactid", Cust_contactID);  
       sessionStorage.getItem("cust_Contactid", Cust_contactID)
    }
</script>
@section Scripts{
    <script>
        $(function () {
        $('[id*=Subjects_dropdown]').multiselect({
            includeSelectAllOption: true
        });
            $('[id*=Subjects_dropdown]').multiselect({
                includeSelectAllOption: false
            })
    });

    if (document.getElementById("IsActiveId").value == "False") {
        sessionStorage.setItem("IsCustomercontactDropdown", true);
    } else {
        sessionStorage.setItem("IsCustomercontactDropdown", false);
    }

    </script>
}