﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<div class="ticketheaderrow">
    <div class="row">
        <div class="columns text-left col-sm-12 col-md-12">
            <div><label><b>@HttpContextAccessor.HttpContext.Session.GetString("IsTicket_ticket_summary")</b></label></div>
        </div>
    </div>
    <div class="row">
        <div class="columns text-left col-sm-12 col-md-4 col-lg-4">
            <div class="details-field detailscolfirst">
                <div><label>Assigned To</label>:<span>@HttpContextAccessor.HttpContext.Session.GetString("IsTicket_User")</span></div>
                <div><label>Client</label>:<span>@HttpContextAccessor.HttpContext.Session.GetString("IsTicket_Customer")</span></div>
                <div><label>Facility</label>:<span>@HttpContextAccessor.HttpContext.Session.GetString("IsTicket_Facility")</span></div>
                <div><label>Vendor 1</label>:<span>@HttpContextAccessor.HttpContext.Session.GetString("IsTicket_vendor_name_1")</span></div>
                <div><label>Vendor 2</label>:<span>@HttpContextAccessor.HttpContext.Session.GetString("IsTicket_vendor_name_2")</span></div>
                <div><label>Ticket #</label>:<span>@HttpContextAccessor.HttpContext.Session.GetString("IsTicketId")</span></div>
                <div><label>Status</label>:<span>@HttpContextAccessor.HttpContext.Session.GetString("IsTicket_ticket_stat_desc")</span></div>
            </div>
        </div>
        <div class="columns text-left col-sm-12 col-md-4 col-lg-3">
            <div class="details-field detailscolsecond">
                <div><label>Ticket type</label>:<span>@HttpContextAccessor.HttpContext.Session.GetString("IsTicket_ticket_tp_desc")</span></div>
                <div><label>Priority</label>:<span>@HttpContextAccessor.HttpContext.Session.GetString("IsTicket_ticket_priority_stat_desc")</span></div>
                <div><label>Control #</label>:<span>@HttpContextAccessor.HttpContext.Session.GetString("IsTicket_control_num")</span></div>
                <div><label>Serial #</label>:<span>@HttpContextAccessor.HttpContext.Session.GetString("IsTicket_serial_no")</span></div>
                <div><label>Manufacturer</label>:<span>@HttpContextAccessor.HttpContext.Session.GetString("IsTicket_mfg_name")</span></div>
                <div><label>Model</label>:<span>@HttpContextAccessor.HttpContext.Session.GetString("IsTicket_model")</span></div>
                <div><label>Root Class</label>:<span>@HttpContextAccessor.HttpContext.Session.GetString("IsTicket_prod_class_desc")</span></div>
            </div>
        </div>
            <div class="columns text-left col-sm-12 col-md-4 col-lg-3">
            <div class="details-field detailscolthird">
                <div><label>Sub Class</label>:<span>@HttpContextAccessor.HttpContext.Session.GetString("IsTicket_prod_sub_class_desc")</span></div>
                <div><label>PM Interval</label>:<span>@HttpContextAccessor.HttpContext.Session.GetString("IsTicket_inv_pm_interval_tp_desc")</span></div>
                <div><label>Last PM Completed</label>:<span>@HttpContextAccessor.HttpContext.Session.GetString("IsTicket_last_activity_dt")</span></div>
                <div><label>Next Scheduled PM</label>:<span>@HttpContextAccessor.HttpContext.Session.GetString("IsTicket_next_activity")</span></div>
                <div><label>Department</label>:<span>@HttpContextAccessor.HttpContext.Session.GetString("IsTicket_dept_name")</span></div>
                <div><label>Service Date</label>:<span>@HttpContextAccessor.HttpContext.Session.GetString("IsTicket_service_dt")</span></div>
            </div>
        </div>
        <div class="columns text-right mobile-left col-sm-12 col-md-12 col-lg-2">          
            <a href="@Url.Action("TicketReport", "TicketReports",new { Id = @HttpContextAccessor.HttpContext.Session.GetString("IsTicketId") })" class="btn btnDefault mb-2 mt-0 heightauto"><i class="fa fa-print" aria-hidden="true"></i> Printable Version</a>
        </div>
    </div>
</div>