﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<nav id="sidenav">
    <div class="row">
        <div class="col-12 pl-0 pr-0">
          <div class="columns">
                <div class="sidebar-content">
                    <div class="sidenavicon" onclick="openNav()"><i class="fas fa-indent"></i></div>
                    <div class="sidebar-menu">            
                         <ul class="nav navbar-nav">
                             <li class="nav-bullets">
                                 <a class="nav-link dropdown-item" id="IsDetails" onclick="Isclick('Details')">Details</a>
                             </li>
                               <li class="nav-bullets">
                                 <a class="nav-link dropdown-item" id="IsLogs" onclick="Isclick('Logs')">Logs(@HttpContextAccessor.HttpContext.Session.GetString("LogCount"))</a>
                              </li>
                                @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
                                {
                                  <li class="nav-bullets">
                                     <a class="nav-link dropdown-item" id="IsActions" onclick="Isclick('Actions')">Actions</a>
                                  </li>
                                }                           
                              <li class="nav-bullets">
                                 <a class="nav-link dropdown-item" id="IsTicketInventory" onclick="Isclick('TicketInventory')">Inventory</a>
                              </li>
                               @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
                               {
                                  <li class="nav-bullets">
                                    <a class="nav-link dropdown-item" id="IsRepairs" onclick="Isclick('Repairs')">Repairs(@HttpContextAccessor.HttpContext.Session.GetString("RepairCount"))</a>
                                  </li>
                               }                           
                              <li class="nav-bullets">
                                 <a class="nav-link dropdown-item" id="IsTicketContacts" onclick="Isclick('TicketContacts')">Contacts</a>
                              </li>
                               @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
                               {
                                  <li class="nav-bullets">
                                    <a class="nav-link dropdown-item" id="IsNotify" onclick="Isclick('Notify')">Notify</a>
                                  </li>
                                  <li class="nav-bullets">
                                     <a class="nav-link dropdown-item" id="IsTesting" onclick="Isclick('Testing')">Testing</a>
                                  </li>
                                  <li class="nav-bullets">
                                     <a class="nav-link dropdown-item" id="IsAttachment" onclick="Isclick('Attachment')">Attachment(@HttpContextAccessor.HttpContext.Session.GetString("AttachmentCount"))</a>
                                  </li>
                                  <li class="nav-bullets">
                                     <a class="nav-link dropdown-item" id="IsAudit" onclick="Isclick('Audits')">Audits(@HttpContextAccessor.HttpContext.Session.GetString("AuditCount"))</a>
                                  </li>
                               }                               
                         </ul>           
                     </div>        
                </div>
          </div>
      </div>
    </div>
</nav>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        var thisPage = GetCurrentPageName();     
        console.log(thisPage, "thisPage");
         $("#Tickets").addClass('active');
        if (thisPage.includes("details")) {
            $("#IsDetails").addClass('active');
        } else if (thisPage.includes("repairs")) {
            $("#IsRepairs").addClass('active');
        } else if (thisPage.includes("attachment")) {
            $("#IsAttachment").addClass('active');
        } else if (thisPage.includes('logs')) {
            $("#IsLogs").addClass('active');
        } else if (thisPage.includes('actions')) {
            $("#IsActions").addClass('active');
        } else if (thisPage.includes('ticketinventory')) {
            $("#IsTicketInventory").addClass('active');
        } else if (thisPage.includes('ticketcontacts')) {
            $("#IsTicketContacts").addClass('active');
        } else if (thisPage.includes('notify')) {
            $("#IsNotify").addClass('active');
        } else if (thisPage.includes('testing')) {
            $("#IsTesting").addClass('active');
        } else if (thisPage.includes('audits')) {
            $("#IsAudit").addClass('active');
        }
    });

    function GetCurrentPageName() {
        var sPath = window.location.pathname;
        var sPage1 = sPath.split('/');
        var sPage = sPage1[sPage1.length - 2] + '/' + sPage1[sPage1.length - 1];
        return sPage.toLowerCase();
    }
    function Isclick(page) {
            $.loadingBlockShow();
            encodedStr = btoa(localStorage.getItem("IsTicketId"));
            var link = '@Url.Action("pageName", "Tickets", new { id = "replace" })';
            link = link.replace("pageName", page);
            link = link.replace("replace", encodedStr);
            window.location.href = link;
    }
</script>