﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model HMSMemri.Models.GetTicketResponse
@{
    ViewData["Title"] = "Tickets";
     Layout = "_Layout";
}
<style>
 
      .label-style{
          position: relative;
          left: -309px;
      }
  </style>
<div class="headertag">
   @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
    {
        <a class="header-brand" href="/Customer">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a>
    }
    else
    {
       <a class="header-brand" href="/Inventory">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a> 
    }
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
    <a class="header-brand headtagname" href="/Tickets">Tickets</a>
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
      <span class="header-brand headtagname"> Actions</span>
</div>
<div class="row ticket-section">
    <div class="col-sm-2 sidenav">
         @Html.Partial("_TicketMenu")   
    </div>
    <div class="col-sm-10 ticketmain">
          @Html.Partial("_TicketSubMenu")
          <div class="ticketbodyrow">
              <div class="row">
                  <div class="col-sm-2">
                    <h2 class="form-page-title">Actions</h2>
                  </div>
                  <div class="col-sm-10 text-sm-right mt-sm-3 mt-2">
                    <button type="button" class="actionmodal" data-toggle="modal" data-target="#ActionModal" >Close & Spawn Repair Ticket</button>
		          </div>

   <div class="w-100">
    <div class="col-md-12">
        <div class="action-section">
            @using (Html.BeginForm("Actions", "Tickets", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "add-generic-form", onSubmit = "return SubmitActionForms(this)" }))
            {
                @Html.HiddenFor(model => model.ActionTicketDetail.ticket_id, new { id = "ticket_id" })
                 @Html.HiddenFor(model => model.ActionTicketDetail.CustomerID, new { id = "cust_id" })
                 @Html.HiddenFor(model => model.ActionTicketDetail.FacilityID, new { id = "facilty_id" })
                 @Html.HiddenFor(model => model.ActionTicketDetail.AssignedUserID, new { id = "IsAssignedUserID" })
                 @Html.HiddenFor(model => model.ActionTicketDetail.GroupID, new { id = "IsGroupID" })

                <div class="form-section">
                    
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label class="control-label mb-1" style="font-weight:bold">Yank Ticket</label>
                                <div class="input-group">
                                    <label class=" control-label"><input id="IsYankTicket" name="LogEntry" type="radio" value="1" > Yank this ticket to take ownership. Currently assigned to a group or other user.</label>
                                </div>
                            </div> 
                            
                            <div class="form-group">
                                <label class="control-label mb-2" style="font-weight:bold"><input id="IsAssinTicket" name="LogEntry" type="radio" value="2" > Assign Ticket</label>
                                <span id="checkUser" class="text-danger"> </span>
                                <div class="row">
                                <div class="col-md-12">
                                     <label class="control-label"> Assign to user </label>   
                                    <div class="input-group selct-opt mb-2">
                                         @Html.DropDownListFor(m => m.ActionTicketDetail.AssignedUserID1, Model.UserNameDropDownModule, new { @class = "form-control m-t-15", id = "IsAssignedUserID1", tabindex = 10, Class = "status",onChange="UserChange()"}) 
                                     </div>
                                     <label class="control-label"> Assign to Group </label>
                                    <div class="input-group selct-opt">
                                           @Html.DropDownListFor(m => m.ActionTicketDetail.GroupID1, Model.GroupNameDropDownModule, new { @class = "form-control m-t-15", id = "IsGroupID1", tabindex = 10, Class = "status",onChange="GroupChange()"})
                                       </div>
                                </div>
                                </div>
                            </div> 

                             <div class="form-group">
                                 <div class="row align-items-end">
                                     <div class="col-6 addlogentry">
                                         <div class="input-group ">
                                            <label class="control-label"><input id="IsLogEntry" name="LogEntry" type="radio" value="3"  checked > Add Log Entry</label>
                                         </div>
                                     </div>
                                     <div class="col-6 logtype">
                                         <label class="control-label">Log Type </label>
                                         <div class="input-group selct-opt">
                                            @Html.DropDownListFor(m => m.ActionTicketDetail.log_tp_id, Model.LogTypeDropdownModule, new { @class = "form-control", id = "IsLogType", tabindex = 10, Class = "status" })
                                         </div>
                                     </div>
                                 </div>
                             </div>
                           <div class="form-group">
                                <label class="control-label"> Summary   </label>
                                    <div class="input-group">
                                        @Html.TextAreaFor(model => model.ActionTicketDetail.log_entry, new { @class = "form-control", id = "IsActionSummary", tabindex = 5 })
                                         <label class="text-danger" id="checkSummary"></label>
                                    </div>
                            </div>
                            <div class="form-group">
                                 <label class="control-label"> Time Worked </label>
                                 <div class="input-group">
                                       @Html.TextBoxFor(m => m.ActionTicketDetail.time_worked, new { @class = "form-control col-md-12",id="IsTimeWorked",tabindex = 1, data_mask = "00.00" })
                                 </div>
                                 <em>XX.XX - Decimal Value (Timer)</em>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                             <div class="form-group">
                                    <label class="control-label"> <input id="IsChangeStatus" name="LogEntry" type="radio" value="4" > Change Status  </label>
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(m => m.ActionTicketDetail.TicketStatID, Model.TicketStatusModule, new { @class = "form-control", id = "IsTicketStatID", tabindex = 10, Class = "status" })
                                        @Html.ValidationMessageFor(Model => Model.ActionTicketDetail.TicketStatID, "", new { @class = "text-danger " })
                                    </div>
                             </div>
                             <div class="form-group">
                                    <label class="control-label">Service Date</label>
                                    <div class="input-group">
                                       @Html.TextBoxFor(m => m.ActionTicketDetail.ServiceDate,"{0:yyyy-MM-dd}", new { @class = "form-control col-md-12 DatePicker",id="IsServiceDate",data_mask = "00/00/0000" ,max="12/31/9999",min="01/01/1990"})
                                    </div>
                             </div>
                             <div class="form-group">
                                 <label class="control-label">CMS Compentency</label>
                                    <div class="input-group radiobtngroup">
                                       <label>  @Html.RadioButtonFor(m => m.ActionTicketDetail.Compentency, "1") 
                                          Yes</label>   
                                       <label> @Html.RadioButtonFor(m => m.ActionTicketDetail.Compentency, "0" )
                                          No</label>  
                                    </div>
                                 
                             </div>
                        </div>
                        </div>    
                    
                    <div class="row">
                        <div class="col-lg-3">
                            <input type="reset" value="Cancel" class="btn btnloginColor btnCancel" id=rst tabindex="14" onclick="ClearValidation()" />                       
                            <input type="submit" value="Process" class="btn btnloginColor" id=btn onclick=" return ActionValidation()"  tabindex="14" />
                        </div>
                    </div> 
                </div>
            }
        </div>
    </div>
</div>

 </div>
</div>


@*Close Popup*@
<div class="modal fade bd-example-modal-lg" id="ActionModal" tabindex="-1" role="dialog" aria-labelledby="disclaimereModalTilte" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content Disclaimer-content">
               <div class="modal-header" style="background: #D56126;">
                  <h5 class="modal-title modalheader">Are you sure?</h5>
                  <button type="button" class="close modalheader" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10 1.41562L6.41563 5L10 8.58438L8.58438 10L5 6.41563L1.41562 10L0 8.58438L3.58437 5L0 1.41562L1.41562 0L5 3.58437L8.58438 0L10 1.41562Z" fill="white"/>
</svg></span>
                  </button>
               </div>
               <div class="modal-body Disclaimer-body text-center">
                  <label class="control-label"> Are you sure you want to<br /><b>Close & Spawn Repair Ticket</b></label>
                  
               </div>
                    <div class="content-bot d-flex">
                        <button class="btn btnloginColor btnCancel w-100 mr-1" id="btn-cancel" type="button" data-dismiss="modal">Cancel</button>
                        <input type="submit" value="Yes, Close & Spawn Repair Ticket" class="ml-1 btn btnloginColor pull-right w-100" onclick=CloseAction() tabindex="15" />
                    </div>     
            </div>
     </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>

 <script type="text/javascript">
 
        $(function () {
              $('.DatePicker').datepicker({ 
                format: 'mm/dd/yyyy', 
                autoclose: true,
                todayHighlight: true
            });
        });
         
  function CloseAction(){
        
      window.location.href = "/Tickets/Details";
        
  }
  function ClearValidation() {
      $("#checkUser").text("");
	  $("#checkSummary").text("");
  }

</script>