﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model HMSMemri.Models.GetTicketResponse
@{
    ViewData["Title"] = "Tickets";
     Layout = "_Layout";
}
<style>
    .filehide {
    display: none;
}
</style>
<div class="headertag">
   @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
    {
        <a class="header-brand" href="/Customer">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a>
    }
    else
    {
       <a class="header-brand" href="/Inventory">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a> 
    }
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
    <a class="header-brand headtagname" href="/Tickets">Tickets</a>
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
      <span class="header-brand headtagname"> Attachments</span>
</div>
<div class="row ticket-section">
    <div class="col-sm-2 sidenav">
         @Html.Partial("_TicketMenu")   
    </div>
    <div class="col-sm-10 ticketmain">
          @Html.Partial("_TicketSubMenu")
          <div class="ticketbodyrow">
              <div class="row">
                  <div class="text-left col-6">
                    <h2 class="form-page-title">Attachments</h2>
                  </div>
              </div>
             <div id="container">
                    <div id="gridFile" class="custom-grid m-t-15"></div>
             </div>
             <div class="row">
                 <div class="col-12">
                    <input class="mt-3 mb-0" type="file" id="IsFileExtension" name="IsFileExtension" onchange="checkFileAttachment()" />
                </div>
            </div>
            <div class="row">
                 <div class="col-12">
                    <input type="button" id="btnfileUpload" value="Add File" class="btn btnloginColor mt-3" onclick="SaveAttachment()" />             
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https:ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/jquery.loading.block.js"></script>

<script type="text/javascript">

  $(document).ready(function() {
        LoadFileAttachment();
        var dataSource = new kendo.data.DataSource({});
        $("#gridFile").kendoGrid({
            dataSource: dataSource,
            sortable: true,
            resizable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5,
                messages: {
                    itemsPerPage: "Items Per Page"
                },
                pageSizes: [10, 15, 25, 50, 100]
            },
            columns: [
            {
                field: "file_name",
                title: "File Name",
                template: "<a class='anchorNavLinkStyle' href='javascript:void(0)' data-ID='#= file_path #' onclick='Download(this)'>#=file_name#</a>",
                 width: '20%',
            },
            {
                field: "file_size",
                title: "File Size",
                attributes: {
                    title: "#=file_size#"
                },
                 width: '3%',
            },
            {
                    field: "",
                    title: "",
                    template: "<input type='submit' value='Remove' class='btn btnloginColor mt-0' data-ID='#= file_attach_id #' onclick='TicketAttachmentDelete(this)'/>",
                    width:'3%',
            },

            ]
        });
  });


    
    function LoadFileAttachment() {
        var ticket_id = sessionStorage.getItem("ticket_id");     
        $.loadingBlockShow();
        $.ajax({
            type: 'POST',
            url: "/Tickets/LoadFileAttachment",
            data: {
                ticket_id:ticket_id
            },
            pageSize: 10,
            success: function(result) {             
                if (result.success == null) {
                    var grid = $("#gridFile").data("kendoGrid");
                    var currPage = grid.dataSource.page();
                    var dataSource = new kendo.data.DataSource({
                        data: result.data,
                        pageSize: 15,
                        page: 0,
                        schema: {
                        },
                    });                  
                    grid.setDataSource(dataSource);
                    $.loadingBlockHide();
                }
                else {
                    $("#alert_error").text(result.message).show();
                    window.location.href ="/Home/Error_Log";
                }
            }
        });
    }

    function Download(arg) {
        window.open(arg.dataset.id, '_blank');
    };
 </Script>