﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Tickets";
     Layout = "_Layout";
}
<div class="headertag">
   @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
    {
        <a class="header-brand" href="/Customer">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a>
    }
    else
    {
       <a class="header-brand" href="/Inventory">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a> 
    }
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
    <a class="header-brand headtagname" href="/Tickets">Tickets</a>
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
      <span class="header-brand headtagname"> Audits</span>
</div>
<br />
<div class="row ticket-section">
    <div class="col-sm-2 sidenav">
         @Html.Partial("_TicketMenu")   
    </div>
    <div class="col-sm-10 ticketmain">
          @Html.Partial("_TicketSubMenu")
          <div class="ticketbodyrow">
              <div class="row">
                  <div class="text-left col-6">
                    <h2 class="form-page-title">Audits</h2>
                  </div>
              </div>
             <div id="container">
                  <div id="gridaudit" class="custom-grid m-t-15"></div>
             </div>
         </div>
    </div>
</div>

 <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/jquery.loading.block.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    gridAuditloadData();
    var dataSource = new kendo.data.DataSource({});
    $("#gridaudit").kendoGrid({
        dataSource: dataSource,
        sortable: true,
        resizable: true,
        pageable: {
            refresh: true,
            pageSizes: true,
            buttonCount: 5,
            messages: { itemsPerPage: "Items Per Page" },
            pageSizes: [10, 15, 25, 50, 100]
        },
        scrollable: true,
        sortable: true,
        navigatable: true,
        resizable: true,
        reorderable: true,
        filterable: true,
        columnMenu: true,
        groupable: true,
        dataBound: function() {},

        columns: [
            
            {
                field: "trk_ent_dt",
                title: "Date",
                attributes: { title: "#=trk_ent_dt#" },
                 format: "{0: ddd MMM dd hh:mm:ss yyyy}",
                width: '5%',
            },
            {
                field: "usr_name",
                title: "Viewed By",
                attributes: { title: "#=usr_name#" },
                width: '5%',
            },
            {
                field: "audit_detatils",
                title: "Audit Details",
                attributes: { title: "#=audit_detatils#" },
                width: '5%',
            },
        ]
    });
});

    //Audit Grid
    function gridAuditloadData() {
       var IsTicketId = localStorage.getItem("IsTicketId");
        $.loadingBlockShow();
        $.ajax({
            type: 'POST',
            url: "/Tickets/gridAuditloadData",
            data: {
                 IsTicketId:IsTicketId
            },
            pageSize: 10,
            success: function(result) {
                if (result.success == null) {
                    var grid = $("#gridaudit").data("kendoGrid");
                    var currPage = grid.dataSource.page();
                    var dataSource = new kendo.data.DataSource({
                        data: result.data,
                        pageSize: 15,
                        page: 0,
                        schema: {
                                model: {
                                    fields: {
                                        trk_ent_dt: { type: "date" },
                                    }
                                }
                         },
                    });
                    grid.setDataSource(dataSource);
                    $.loadingBlockHide();
                } else {
                     $("#alert_error").text(result.message).show();
                    window.location.href ="/Home/Error_Log";
                }
            }
        });
    }


     $("#filter").keydown(function (e) {
          $.loadingBlockShow();
           if (e.keyCode === 13) {
               filter();
           }
       });
       function filter() {
            //Initially clear the session values
        sessionStorage.clear()
       var queryString = $("#filter").val();

        //Set Session storage when get the export
        sessionStorage.setItem("search", queryString );

       var grid = $("#gridaudit").data("kendoGrid");
       var orfilter = { logic: "or", filters: [] };
       orfilter.filters.push(
           { field: "trk_ent_dt", operator: "contains", value: queryString },
           { field: "usr_name", operator: "contains", value: queryString },
           { field: "audit_detatils", operator: "contains", value: queryString },
           
       );
       if (queryString) {
           grid.dataSource.filter(orfilter);
           $.loadingBlockHide();
       } else {
           grid.dataSource.filter({});
           $("#filter").val('');
           grid.dataSource.read();
       }
    }
</script>