﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model HMSMemri.Models.GetTicketResponse
@{
    ViewData["Title"] = "Tickets";
     Layout = "_Layout";
}
<style>
      .radio{
          display:inline-block;
      }
      .label-style{
          position: relative;
          left: -309px;
      }
 
  </style>
<div class="headertag">
   @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
    {
        <a class="header-brand" href="/Customer">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a>
    }
    else
    {
       <a class="header-brand" href="/Inventory">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a> 
    }
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
    <a class="header-brand headtagname" href="/Tickets">Tickets</a>
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
      <span class="header-brand headtagname"> Details</span>
</div>
<div class="row ticket-section">
    <div class="col-sm-2 sidenav">
         @Html.Partial("_TicketMenu")   
    </div>
    <div class="col-sm-10 ticketmain">
          @Html.Partial("_TicketSubMenu")
          <div class="ticketbodyrow">
              <div class="row">
                  <div class="col-2">
                        <h2 class="form-page-title">Details</h2>
                  </div>
              </div>
        
            @using (Html.BeginForm("Details", "Tickets", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "add-generic-form", onSubmit = "return SubmitTicketsForms(this)" }))
            {
                @Html.HiddenFor(model => model.EditTicketsdetail.ticket_id, new { id = "ticket_id" })
                @Html.HiddenFor(model => model.EditTicketsdetail.CustomerID, new { id = "IsCustomer" })
                @Html.HiddenFor(model => model.EditTicketsdetail.FacilityID, new { id = "IsFacility" })
                @Html.HiddenFor(model => model.EditTicketsdetail.TicketAddMethodID, new { id = "IsTicketAddMethodID" })
                @Html.HiddenFor(model => model.EditTicketsdetail.AssignedUserID, new { id = "IsAssignedUserID" })
                @Html.HiddenFor(model => model.EditTicketsdetail.GroupID, new { id = "IsGroupID" })
                @Html.HiddenFor(model => model.EditTicketsdetail.TicketStatID, new { id = "IsTicketStatID" })
                @Html.HiddenFor(model => model.EditTicketsdetail.CaseNumber, new { id = "IsCaseNumber" })                
                <div class="form-section">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label class="control-label">Problem Description <span class="spanvalidate"> * </span> </label>
                                <div class="input-group">
                                    @Html.TextAreaFor(model => model.EditTicketsdetail.TicketDescription, new { @class = "form-control", id = "IsTicketDescription", tabindex = 12 })<br>
                                    @Html.ValidationMessageFor(Model => Model.EditTicketsdetail.TicketDescription, "", new { @class = "text-danger col-12" })
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="control-label"> Summary  </label>
                                <div class="input-group">
                                    @Html.TextAreaFor(model => model.EditTicketsdetail.Summary, new { @class = "form-control", id = "IsSummary", tabindex = 5 })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label class="control-label"> Caller Name <span class="spanvalidate"> * </span></label>
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.EditTicketsdetail.CallerName, new { @class = "form-control", id = "IsCallerName", tabindex = 1 })
                                    @Html.ValidationMessageFor(Model => Model.EditTicketsdetail.CallerName, "", new { @class = "text-danger " })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Caller Number <span class="spanvalidate"> * </span> </label>
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.EditTicketsdetail.CallerPhone, new { @class = "form-control", data_mask = "000.000.0000", id = "IsCallerPhone", tabindex = 2 })
                                    @Html.ValidationMessageFor(Model => Model.EditTicketsdetail.CallerPhone, "", new { @class = "text-danger " })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Ticket Type <span class="spanvalidate"> * </span> </label>
                                <div class="input-group selct-opt">
                                    @Html.DropDownListFor(m => m.EditTicketsdetail.TicketTypeID, Model.TicketTypeModule, new { @class = "form-control", id = "IsTicketTypeID", tabindex = 10, Class = "status" })
                                    @Html.ValidationMessageFor(Model => Model.EditTicketsdetail.TicketTypeID, "", new { @class = "text-danger " })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Priority</label>
                                <div class="input-group selectpriority"> 
                                    <ul class="mt-1 d-flex flex-wrap">
                                        @foreach (var item in Model.PriorityModule)
                                        {
                                            <li class="radio d-flex align-items-center mr-3">
                                                <input type="radio" name="PriorityID" value="@item.Value"  @(item.Value == Model.EditTicketsdetail.PriorityID.ToString() ? "checked" : "")  id="IsPriorityID" class="priorityclass mr-1" /><label for="PriorityID" class="control-label">@item.Text</label>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group d-none">
                                <label class="col-md-6 control-label">Ticket Deadline  </label>
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.EditTicketsdetail.DeadLineDate, "{0:dd/MM/yyyy}", new { @class = "form-control radio DatePicker", id = "IsDeadLineDate", tabindex = 9, max="12/31/9999",min="01/01/1990", data_mask = "00/00/0000" })
                                    </div>	
                                <div class=" input-group rows-clock">	
                                    @Html.TextBoxFor(model => model.EditTicketsdetail.DeadLineDate1, new { @class = "form-control timepicker ", id = "IsDeadLineTime", tabindex = 10})	
                                </div> 	
                                @Html.ValidationMessageFor(Model => Model.EditTicketsdetail.DeadLineDate, "", new { @class = "text-danger " })	
                            </div>
                        </div>
                    </div>
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
                    {
                        <div class="row">
                            <div class="col-12">
                                <input type="submit" value="Save" class="btn btnloginColor mt-0" id=btn tabindex="14" />
                            </div>
                        </div> 
                    }                   
                </div>
            }
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>


<script>
$(function () {
            $('.DatePicker').datepicker({
                format: 'mm/dd/yyyy', 
                autoclose: true,
                todayHighlight: true,
                 
            });
       
            $('.timepicker').datetimepicker({
                 format: "LT",
                 //format:'hh:mm a',
            });
        });
</script>


 
 