﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model HMSMemri.Models.GetTicketResponse
@{
ViewBag.Title = "Tickets";
    Layout = "_Layout";
}
  
<div class="headertag">
      @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
    {
        <a class="header-brand" href="/Customer">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a>
    }
    else
    {
       <a class="header-brand" href="/Inventory">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a> 
    }
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" /></svg>
    </span>
    <a class="header-brand headtagname" href="/Tickets"> Tickets</a>
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" /></svg>
    </span>
    <span class="header-brand headtagname" id="TicketsTilte"></span>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="add-edit-section">
            @using (Html.BeginForm("EditTickets", "Tickets", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "add-generic-form", onSubmit = "return SubmitTicketsForm(this)" }))
            {
                if (@Model.Ticketdetail != null && @Model.Ticketdetail.ticket_id > 0)
                {
                    <div class="editTickets">
                        <div class="row" id="IsEditshown">
                            <div class="col-md-12 col-lg-12">
                                <div class="editTickets-left">
                                    <h5 class="form-page-title">Edit Ticket- <span id="TicketID"></span></h5>

                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <span id="ticket_id"> </span>
                            <h4 class="form-page-title">Add  Ticket</h4>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        </div>
                    </div>
                }
                <hr>
                @Html.HiddenFor(model => model.Ticketdetail.ticket_id, new { id = "ticket_id" })
                <label>Customer :</label>
                @Html.DisplayFor(model => model.Ticketdetail.cust_name)

                <br />
                <label>Facility :</label>
                @Html.DisplayFor(model => model.Ticketdetail.facility_name)
                <br />
                <label>Inventory ID :</label>
                @Html.DisplayFor(model => model.Ticketdetail.inv_id)
                <div class="form-section">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                             <div class="form-group" hidden>
                            <label class="col-md-12 control-label">Customer <span class="spanvalidate"> * </span></label>
                      <div class="col-md-10" >
                        <div class="input-group selct-opt" id="divCustomerDrop">
                             @Html.DropDownListFor(m=>m.Ticketdetail.CustomerID,Model.CustomerDropdownModule,new { @class = "form-control" ,id="IsCustomer", tabindex = 1, Class="status",@onchange = "OnChangeEvent(this.value);"} )
                        </div>
                            @Html.ValidationMessageFor(model => model.Ticketdetail.CustomerID, "", new { @class = "text-danger" })
                      </div>
                   </div>
                    <div class="form-group" hidden>
                            <label class="col-md-12 control-label">Facility <span class="spanvalidate"> * </span></label>
                      <div class="col-md-10" >
                        <div class="input-group selct-opt" id="divFacilityDrop">
                             
                        @Html.DropDownListFor(m => m.Ticketdetail.FacilityID,Model.FacilityDropdownModule,new { @class = "form-control" ,id="IsFacility",  tabindex = 2, Class="status"} )
                         </div>
                            @Html.ValidationMessageFor(model => model.Ticketdetail.FacilityID, "", new { @class = "text-danger" })
                      </div>
                   </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> Caller Name <span class="spanvalidate"> * </span></label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Ticketdetail.CallerName, new { @class = "form-control", id = "IsCallerName", tabindex = 1 })
                                        @Html.ValidationMessageFor(Model => Model.Ticketdetail.CallerName, "", new { @class = "text-danger " })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label">Caller Phone <span class="spanvalidate"> * </span> </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Ticketdetail.CallerPhone, new { @class = "form-control", data_mask = "000.000.0000", id = "IsCallerPhone", tabindex = 2 })
                                        @Html.ValidationMessageFor(Model => Model.Ticketdetail.CallerPhone, "", new { @class = "text-danger " })
                                    </div>
                                </div>
                            </div>
                                <div class="form-group d-none">
                                <label class="col-md-6 control-label">Case No </label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Ticketdetail.CaseNumber, new { @class = "form-control", id = "IsCaseNumber", tabindex = 12 })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label">Ticket Arrived Via <span class="spanvalidate"> * </span></label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(m => m.Ticketdetail.TicketAddMethodID, Model.TicketAddMethodModule, new { @class = "form-control", id = "IsTicketAddMethodID", tabindex = 10, Class = "status" })
                                        @Html.ValidationMessageFor(Model => Model.Ticketdetail.TicketAddMethodID, "", new { @class = "text-danger " })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label"> Summary </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextAreaFor(model => model.Ticketdetail.Summary, new { @class = "form-control", id = "IsSummary", tabindex = 5 })
                                        @Html.ValidationMessageFor(Model => Model.Ticketdetail.Summary, "", new { @class = "text-danger " })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label">Ticket Type <span class="spanvalidate"> * </span> </label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(m => m.Ticketdetail.TicketTypeID, Model.TicketTypeModule, new { @class = "form-control", id = "IsTicketTypeID", tabindex = 10, Class = "status" })
                                        @Html.ValidationMessageFor(Model => Model.Ticketdetail.TicketTypeID, "", new { @class = "text-danger " })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label">Assign To<span class="spanvalidate"> * </span> </label>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-6 pl-2">
                                            <div class="input-group selct-opt">
                                                @Html.DropDownListFor(m => m.Ticketdetail.AssignedUserID, Model.UserNameDropDownModule, new { @class = "form-control m-t-15", id = "IsAssignedUserID", tabindex = 10, Class = "status" })
                                                @Html.ValidationMessageFor(Model=>Model.Ticketdetail.AssignedUserID,"",new { @class = "text-danger " }) 
                                             </div>
                                         </div>
                                        <div class="col-6 pr-2">
                                            <div class="input-group selct-opt">
                                                 @Html.DropDownListFor(m => m.Ticketdetail.GroupID, Model.GroupNameDropDownModule, new { @class = "form-control m-t-15", id = "IsGroupID", tabindex = 10, Class = "status" })
                                               @* @Html.ValidationMessageFor(Model=>Model.Ticketdetail.GroupID,"",new { @class = "text-danger " })*@
                                            </div>
                                        </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                          

                            <div class="form-group  ">
                                <label class="col-md-6 control-label">Priority</label>
                                <div class="col-md-12">
                                    <div class="input-group selectpriority"> 
                                       <ul class="mt-1 mb-0 d-flex flex-wrap">
                                            @foreach (var item in Model.PriorityModule)
                                            {
                                                <li class="radio d-flex align-items-center mr-3" >
                                                    <input type="radio" name="PriorityID" value="@item.Value"  @(item.Value == Model.Ticketdetail.PriorityID.ToString() ? "checked" : "")  id="IsPriorityID" class="mr-1" /><label class="control-label">@item.Text</label><br />
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                             <div class="form-group">
                                <label class="col-md-6 control-label">Status<span class="spanvalidate"> * </span> </label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(m => m.Ticketdetail.TicketStatID, Model.TicketStatusModule, new { @class = "form-control", id = "IsTicketStatID", tabindex = 10, Class = "status" })
                                        @Html.ValidationMessageFor(Model => Model.Ticketdetail.TicketStatID, "", new { @class = "text-danger " })
                                    </div>
                                </div>
                            </div>

                            
                            <div class="form-group">
                                <label class="col-md-6 control-label">Ticket Deadline  </label>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-6 pr-2">
                                            <div class="input-group">
                                                @Html.TextBoxFor(model => model.Ticketdetail.DeadLineDate, "{0:dd/MM/yyyy}", new { @class = "form-control radio DatePicker", id = "IsDeadLineDate", tabindex = 9, max="12/31/9999",min="01/01/1990", data_mask = "00/00/0000" })
                                           </div>	
                                        </div>
                                        <div class="col-6 pl-2">
                                            <div class=" input-group rows-clock">	
                                              @Html.TextBoxFor(model => model.Ticketdetail.DeadLineDate1, new { @class = "form-control timepicker ", id = "IsDeadLineTime", tabindex = 10})	
                                            </div> 	
                                           @Html.ValidationMessageFor(Model => Model.Ticketdetail.DeadLineDate, "", new { @class = "text-danger " })	
                                       </div>
                                   </div>
                                </div>	
                            </div>


                            <div class="form-group">
                                <label class="col-md-6 control-label">Problem Description <span class="spanvalidate"> * </span> </label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        @Html.TextAreaFor(model => model.Ticketdetail.TicketDescription, new { @class = "form-control", id = "IsTicketDescription", tabindex = 12 })
                                        @Html.ValidationMessageFor(Model => Model.Ticketdetail.TicketDescription, "", new { @class = "text-danger col-12" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="submit" value="Save" class="btn btnloginColor" id=btn tabindex="14" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@*PopUp*@
<div class="modal fade" id="TicketPopModal1" role="dialog" aria-labelledby="ticketitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content repair-content">
            <div class="modal-header repair header ticketheader">            
                <div><h4><span id="ticketitle"></span></h4></div>
                <button type="button" class="close modalheader" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.41562L6.41563 5L10 8.58438L8.58438 10L5 6.41563L1.41562 10L0 8.58438L3.58437 5L0 1.41562L1.41562 0L5 3.58437L8.58438 0L10 1.41562Z" fill="white"/></svg>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-section ticketpopup">
                    <h5 class="mt-4 mb-4 text-center">Would like to Edit the newly created ticket. </h5>
                    <div class="content-bot d-flex">
                        <input type="submit" value="No" class="mr-1 btn btncancelColor pull-right w-50" onclick="Confirm(this)" tabindex="15" />                      
                        <input type="submit" value="Yes" class="ml-1 btn btnloginColor pull-right w-50" onclick="Confirm(this)" tabindex="15" />                      
                    </div>                                    
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    //Initialize the status date,custID,Save button visiblity and count variables
    $(document).ready(function () {
        if(sessionStorage.getItem("IslastTicketView") == "true"){
            testTicket()
        }
        var ticketID = document.getElementById("ticket_id").value;
        
        if (ticketID == 0 || ticketID == undefined) {
            $('#TicketsTilte').append("Add Ticket");
            
        }
        else {
            $('#TicketsTilte').append("Edit Ticket");
        }
        $('#TicketID').append($("#IsSummary").val())
    });
     
    function OnChangeEvent(custID) {

        $.ajax({
            type: 'POST',
            url: "/Facilities/TicketFacilityDropDown",
            data: { "custID": custID },
            success: function(response) {
                result = response;
                $("#IsFacility").empty();
                $("#IsFacility").attr('disabled', false);
                $("#IsFacility").append($('<option></option>').val(0).html());
                var subRootClassID = response.data.map(x => x.cust_id);
                $.each(result.data, function(custID, data) {
                    $("#IsFacility").append($('<option></option>').val(data.facility_id).html(data.facility_name));
                });
            }
        });
    }
        $(function () {
            $('.DatePicker').datepicker({
                format: 'mm/dd/yyyy', 
                autoclose: true,
                todayHighlight: true,
                 
            });
       
            $('.timepicker').datetimepicker({
                 format: "LT",
                 //format:'hh:mm a',
            });
        });
         
        function testTicket() {
            $("#TicketPopModal1").modal('show');
            sessionStorage.setItem("IslastTicketView", false);
        }

        function Confirm(e) {
            console.log(e.value, "text");
            var ticket_id = sessionStorage.getItem("IslastTicket");
         $.loadingBlockShow();
         encodedStr = btoa(ticket_id);
            if (e.value == "Yes") {
                localStorage.setItem("IsTicketId", ticket_id);
                 var link = '@Url.Action("Details", "Tickets", new { id = "replace" })';                       
                link = link.replace("replace", encodedStr);
                 window.location.href = link;
                 $.loadingBlockShow();
            }else{
                 window.location.href = "/Tickets";
            }
           
        }
</script>