﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model HMSMemri.Models.GetTicketResponse
@{
ViewData["Title"] = " Tickets";
 Layout = "_Layout";
 bool showAll = false;
 bool IsMyTickets = true;
 bool showAllCustomer = false;
 bool showAllFacility = false;

}
<style type="text/css">
    .right-arrow:after {
        border-left: none;
    }

    #grid thead th:first-child .k-icon.k-i-more-vertical {
        display: none;
    }    
</style>
<div class="headertag">
    @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
    {
        <a class="header-brand" href="/Customer">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a>
    }
    else
    {
       <a class="header-brand" href="/Inventory">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a> 
    }
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
    <span class="headtagname"> Tickets</span>
</div>
            @Html.HiddenFor(model => model.Ticketdetail.FacilityID, new {id="FacilityId" })
             @Html.HiddenFor(model => model.Ticketdetail.CustomerID, new {id="CustomerId" })


@*Customer & Facility dropdown*@
    @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
    {
        <div class="flex-wrap inven-sec">
            <div class="row">
		        <div class="col-md-12 col-xl-9">
			        <div class="new-customer-sec inven-new-customer-sec d-flex">
				        <div class="d-flex mt-3 c-f-dropdown align-items-center">
					        <div class="customer-dd">
						        <label for="Customers" class="pr-2 mb-0">Customers</label>
						        <input class="size-width mr-3" id="customers" />
						        <span class="checkbox mr-xl-3 mr-lg-3 mr-0 mt-xl-0 mt-1">
							        <input name="showAllCustomer" id="showAllCustomer" type="checkbox" @(showAllCustomer ? "checked" : "") onclick="toggleCheckboxCustomer(this)" class="mr-1" />Include Inactive Customers</span>
					        </div>
					        <div id="hidefacility" class="inventory-dropdown">
						        <label for="Facilities" class="pr-2 mb-0">Facilities</label>
                                <input class="size-width mr-3" id="facility" />
                                <span class="checkbox mr-xl-3 mr-lg-3 mr-0 mt-xl-0 mt-1">
                                    <input name="showAllFacility" id="showAllFacility" type="checkbox" @(showAllFacility ? "checked" : "") onclick="toggleCheckboxFacility(this)" class="mr-1" />Include Inactive Facilities</span>
					        </div>
				        </div>
			        </div>
		        </div>
                <div class="col-md-12 col-xl-3">
                    <div class="d-flex justify-content-between flex-wrap ticket-filter">
                        <div class="toolbar d-flex">
        
                            <div class="right-toolbar-only d-flex align-items-end m-t-15">                              
                                    <div class="custom-input-group d-flex flex-wrap flex-sm-nowrap">
                                        <span class="custom-input-group checkbox-group">
                                            <label for="IsMyTickets" class="d-flex align-items-center"><input name="IsMyTickets" id="IsMyTickets" type="checkbox" @(IsMyTickets ? "checked" : "") onclick="IsMyTicketsCheckbox(this)" />My Tickets</label>
                                        </span>
                                    </div> 
                                    <div class="custom-input-group d-flex flex-wrap flex-sm-nowrap">
                                        <span class="custom-input-group checkbox-group">
                                            <label for="showAll" class="d-flex align-items-center"><input name="showAll" id="showAll" type="checkbox" @(showAll ? "checked" : "") onclick="toggleCheckbox(this)" /> Include Inactive Tickets</label>
                                        </span>
                                    </div>

                                    <div class="custom-input-group search-block">
                                        <span class="input-group-btn">
                                             <input type="text" id="filter" class="form-control search-field" oninput="filter()" placeholder="Search" />
                                        </span>
                                    </div>               
                                <input type="text" class="text-hide" />
                            </div>
                        </div>
                    </div>
                </div>
	        </div>
        </div>
    }
    else
    {
        <div class="flex-wrap inven-sec">
	        <div class="row">
		        <div class="col-md-12 col-xl-9">
			        <div class="d-flex align-items-md-end inven-customer-login">
				        <div class="d-flex flex-grow-1 mt-3 flex-wrap">
					        <div class="inven-customer-name d-flex flex-grow-1 align-items-center mb-sm-2">
						        <label>Customer : &nbsp;</label><span>@HttpContextAccessor.HttpContext.Session.GetString("CustomerName")</span>
					        </div>
					        <div class="inventory-dropdown d-flex flex-grow-1 align-items-center m-r-3 flex-wrap mb-sm-2">
						        <label for="Facilities" class="pr-2 mb-0">Facilities</label><input class="size-width mr-sm-3 flex-grow-1 min-w-460" id="facilitybycustlogin" /><span class="checkbox mt-md-0 mt-2"><input name="showAllFacility" id="showAllFacility" type="checkbox" @(showAllFacility ? "checked" : "") onclick="toggleCheckboxCustFacility(this)" class="mr-1" />Include Inactive Facilities</span>
					        </div>
				        </div>                          
			        </div>
  		        </div>
                  <div class="col-md-12 col-xl-3">
                    <div class="d-flex justify-content-between flex-wrap ticket-filter">
                        <div class="toolbar d-flex">
        
                            <div class="right-toolbar-only d-flex align-items-end m-t-15">
                                    <div class="custom-input-group d-flex flex-wrap flex-sm-nowrap">
                                        <span class="custom-input-group checkbox-group">
                                            <label for="showAll" class="d-flex align-items-center"><input name="showAll" id="showAll" type="checkbox" @(showAll ? "checked" : "") onclick="toggleCheckbox(this)" /> Include Inactive Tickets</label>
                                        </span>
                                    </div>

                                    <div class="custom-input-group search-block">
                                        <span class="input-group-btn">
                                             <input type="text" id="filter" class="form-control search-field" oninput="filter()" placeholder="Search" />
                                        </span>
                                    </div>               
                                <input type="text" class="text-hide" />
                            </div>
                        </div>
                    </div>
                </div>
	        </div>
        </div>
    }


<div id="container">  
    <div id="grid" class="custom-grid m-t-15 ticketgrid"></div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/jquery.loading.block.js"></script>
<script type="text/javascript">
// Initialize the grid values


$(document).ready(function() {
    sessionStorage.getItem("Ticket_cus_Id");
    loadDataTicket(localStorage.getItem("IsLoginId"), true, false);
    if (sessionStorage.getItem("Ticket_cus_Id") != null) {
        (sessionStorage.getItem("IsTicket_checked") == "false")
        $('#IsMyTickets').prop('checked', false);
        loadDataTicket(localStorage.getItem("IsLoginId"), false, false);
    }
    else {
        if (sessionStorage.getItem("IsTicket_checked") == "false") {
            $('#IsMyTickets').prop('checked', false);
            loadDataTicket(localStorage.getItem("IsLoginId"), false, false);

        } else {
            $('#IsMyTickets').prop('checked', true);
        }
    }


        if (localStorage.getItem("Is_cust_login") != "true") {
            $("#hidefacility").hide();

            // Dropdown for customer
            if (sessionStorage.getItem("IsTicketCust_checked") == "true") {
                $('#showAllCustomer').prop('checked', true);
            }
            if (sessionStorage.getItem("IsTicketFac_checked") == "true") {
                $('#showAllFacility').prop('checked', true);
            }
            $("#showAllCustomer").toggleClass('checked');
            const cb = document.querySelector('#showAllCustomer');
            LoadCustomerDropdowns(cb.checked, false);

           $("#showAllFacility").toggleClass('checked');
            const cb1 = document.querySelector('#showAllFacility');
            LoadFacilityDropdowns(cb1.checked, false);

            $("#customer-dd").show();
                // Check the CustID and facility id based the Add Ticket  Hide and Show
                if (sessionStorage.getItem("Ticket_cus_Id") != '0' && sessionStorage.getItem("Ticket_fac_id") !='null' && sessionStorage.getItem("Ticket_fac_id") != 0) {
                    $("#customers").val(sessionStorage.getItem("Ticket_cus_Id"));
                    $("#facility").val(sessionStorage.getItem("Ticket_fac_id"));
                    LoadFacilityDropdowns(cb1.checked, false);
                    $("#hidefacility").show();
                    $(".inven-sec").addClass("inven-flex-grow");
                    $("#HideExport").show();
                }
                else if (sessionStorage.getItem("Ticket_fac_id") == 0 && sessionStorage.getItem("Ticket_fac_id") == null) {
                    loadDataTicket(localStorage.getItem("IsLoginId"), false, false);
                    $("#hidefacility").hide();
                    $("#HideExport").hide();
                }
            if ($("#hidefacility").is(":visible")) {
                $(".inven-sec").addClass("inven-flex-grow");
            } else {
                $(".inven-sec").removeClass("inven-flex-grow");
            }
        }
        else {
                $("#facilitybycustlogin").val(sessionStorage.getItem("Ticket_fac_id"));
                loadDataTicket(localStorage.getItem("IsLoginId"), false, false);
                if(sessionStorage.getItem("IsTicketCustFac_checked") == "true"){
                    $('#showAllFacility').prop('checked', true);
                }
                    $("#showAllFacility").toggleClass('checked');
                    const cb  = document.querySelector('#showAllFacility');
                    LoadFacilityDropdownsbycustomerLoign(cb.checked, false);
                
                if (sessionStorage.getItem("Ticket_fac_id") != null && sessionStorage.getItem("Ticket_fac_id") != 'null' && sessionStorage.getItem("Ticket_fac_id") != 0) {
                    $("#HideExport").show(); 
                }   
        }
        

    var dataSource = new kendo.data.DataSource({});
    $("#grid").kendoGrid({
        dataSource: dataSource,
        sortable: true,
        resizable: true,
        pageable: {
            refresh: true,
            pageSizes: true,
            buttonCount: 5,
            messages: {
                itemsPerPage: "Items Per Page"
            },
            pageSizes: [10, 15, 25, 50, 100]
        },
        scrollable: true,
        sortable: true,
        navigatable: true,
        resizable: true,
        reorderable: true,
        filterable: true,
        columnMenu: true,
        groupable: true,
        dataBound: function() {},
        columns: [
            {
                    field: "ticket_id",
                    title: "Ticket Report",
                    template: "<a class='showId' href='javascript:void(0)' data-ID='#= ticket_id #' onclick='onTicketReports(this)'><img src='/images/Report.png' width='25px'> </a><p class='hideId'>#= ticket_id  #</p>",
                    width:'7%',
                    menu: false, 
                    sortable: false,
            },
           {
                field: "ticket_desc",
                title: "Problem Description",
                width:'20%',
                menu: false, 
                template: localStorage.getItem("Is_cust_login") != "true" ?"<a class='anchorNavLinkStyle' href='javascript:void(0)' data-ID='#= ticket_id #' onclick='onTicketClick(this)'>#=ticket_desc#</a>" :"<a class='anchorNavLinkStyle' href='javascript:void(0)' data-ID='#= ticket_id #' onclick='onTicketClick(this)'>#=ticket_desc#</a>"               
            },
            {
                field: "ticket_priority_stat_desc",
                title: "Priority",
                width:'7%',
                attributes: {
                    title: "#=ticket_priority_stat_desc#"
                }               
            },
            {
                field: "ticket_stat_desc",
                title: "Ticket Stat Description ",
                width:'10%',
                attributes: {
                    title: "#=ticket_stat_desc#"
                }
            },
            {
                field: "ticket_tp_desc",
                title: "Ticket Type Description",
                width:'12%',
                attributes: {
                    title: "#=ticket_tp_desc#"
                }
            },
            {
                field: "group_name",
                title: "Group Name",
                width:'12%',
                attributes: {
                    title: "#=group_name#"
                }
            }
        ]
    });
     });
        
 
        function loadDataTicket(ID, isMyTickets, toggleActive) {
            if (localStorage.getItem("Is_cust_login") != "true") {
                if (sessionStorage.getItem("Ticket_cus_Id") != null && sessionStorage.getItem("Ticket_fac_id") != null) {
                    var CustomerID = sessionStorage.getItem("Ticket_cus_Id");
                    var facilityID = sessionStorage.getItem("Ticket_fac_id");
                }
            }
            else {
                var facilityID = sessionStorage.getItem("Ticket_fac_id");
               
            }
            
            $.loadingBlockShow();
            $.ajax({
                type: 'POST',
                url: "/Tickets/LoadTicketsGrid",
                data: {
                    isMyTickets: isMyTickets,
                    facilityID: facilityID,
                    ID: ID,
                    toggleActive: toggleActive
                },
                pageSize: 10,
                success: function(result) {
                    if (result.success == null) {
                        var grid = $("#grid").data("kendoGrid");
                        var currPage = grid.dataSource.page();
                        var dataSource = new kendo.data.DataSource({
                            data: result.data,
                            pageSize: 15,
                            page: 0
                        });
                        grid.setDataSource(dataSource);
                        $.loadingBlockHide();
                    } else {
                        $("#alert_error").text(result.message).show();
                        window.location.href = "/Home/Error_Log";
                    }
                }
            });
        }
        
    
 

function onVendorClick(arg) {
    $.loadingBlockShow();
    var link = '@Url.Action("EditTickets", "Tickets", new { id = "replace" })';
    link = link.replace("replace", arg.dataset.id);
    window.location.href = link;
    $.loadingBlockHide();
}
        
function toggleCheckbox(arg) {
        //Initially clear the session values
                //sessionStorage.clear()
        //Set Session storage when get the export
       
    if (localStorage.getItem("Is_cust_login") != "true") {
         sessionStorage.setItem("CheckUser", arg.checked);
        $("#IsMyTickets").toggleClass('checked');
        const cbIsMyTickets = document.querySelector('#IsMyTickets');
        $("#showAll").toggleClass('checked');
        const cb = document.querySelector('#showAll');
        loadDataTicket(localStorage.getItem("IsLoginId"), (cbIsMyTickets.checked), (cb.checked));
        document.getElementById('filter').value = '';
    }
    else
    { 
         $("#IsMyTickets").toggleClass('checked');
        const cbIsMyTickets = document.querySelector('#IsMyTickets');
         $("#showAll").toggleClass('checked');
        const cb = document.querySelector('#showAll');
         loadDataTicket(localStorage.getItem("IsLoginId"),false,(cb.checked));
        document.getElementById('filter').value = '';
    }
 }

 
     $("#filter").keydown(function (e) {
          //$.loadingBlockShow();
           if (e.keyCode === 13) {
               filter();
           }
       });

        function filter() {
            //Initially clear the session values
       var queryString = $("#filter").val();

        //Set Session storage when get the export
        sessionStorage.setItem("search", queryString );

       var grid = $("#grid").data("kendoGrid");
       var orfilter = { logic: "or", filters: [] };
       orfilter.filters.push(
           { field: "case_num", operator: "contains", value: queryString },
           { field: "ticket_priority_stat_desc", operator: "contains", value: queryString },
           { field: "ticket_desc", operator: "contains", value: queryString },
           { field: "ticket_stat_desc", operator: "contains", value: queryString },
           {field: "ticket_tp_desc", operator: "contains", value: queryString },
           {field: "group_name", operator: "contains", value: queryString }
           
       );
       if (queryString) {
           grid.dataSource.filter(orfilter);
           $.loadingBlockHide();
       } else {
           grid.dataSource.filter({});
           $("#filter").val('');
           grid.dataSource.read();
       }
    }

    // Caller name click event to trigger the Edit form based the ticketID
    function onTicketClick(arg) {
        $.loadingBlockShow();
        var link = '@Url.Action("Details", "Tickets", new { id = "replace" })';
        encodedStr = btoa(arg.dataset.id);
        localStorage.setItem("IsTicketId", arg.dataset.id);
        sessionStorage.setItem("ticket_id", arg.dataset.id);
        $.loadingBlockHide();
        link = link.replace("replace", encodedStr);
            window.location.href = link;
    }

     function onTicketReports(arg) {            
            $.loadingBlockShow();
            //encodedStr = btoa(arg.dataset.id);
            encodedStr = arg.dataset.id;
            var link = '@Url.Action("TicketReport", "TicketReports", new { id = "replace" })';
            link = link.replace("replace", encodedStr);
            window.location.href = link;
            $.loadingBlockHide();
        }

    function IsMyTicketsCheckbox(arg) {

       $("#IsMyTickets").toggleClass('checked');
       const cbIsMyTickets = document.querySelector('#IsMyTickets');
        sessionStorage.setItem("IsTicket_checked", (cbIsMyTickets.checked));
       $("#showAll").toggleClass('checked');
       const cb = document.querySelector('#showAll');
       loadDataTicket(localStorage.getItem("IsLoginId"),(cbIsMyTickets.checked), (cb.checked));
    
       document.getElementById('filter').value = '';
    }

    //customer and facility Checkbox
    function toggleCheckboxCustomer(arg) {
        $("#showAllCustomer").toggleClass('checked');
        const cb = document.querySelector('#showAllCustomer');
        LoadCustomerDropdowns((cb.checked), false);
        sessionStorage.setItem("IsTicketCust_checked", (cb.checked));
        if (sessionStorage.getItem("Ticket_cus_Id") != null) 
        {
           $("#hidefacility").show();
            $(".inven-sec").addClass("inven-flex-grow");
        }
    }

    function toggleCheckboxFacility(arg) {
        $("#showAllFacility").toggleClass('checked');
        const cb = document.querySelector('#showAllFacility');
        LoadFacilityDropdowns((cb.checked), false);
       sessionStorage.setItem("IsTicketFac_checked", (cb.checked));
    }

    //Customer login facility Checkbox
    function toggleCheckboxCustFacility(arg) {
        $("#showAllFacility").toggleClass('checked');
        const cb = document.querySelector('#showAllFacility');
        LoadFacilityDropdownsbycustomerLoign((cb.checked), false);
        sessionStorage.setItem("IsTicketCustFac_checked", (cb.checked));
   }

//Customer Dropdown
    function LoadCustomerDropdowns(isactive, toggleActive) {
        $("#hidefacility").hide();
        $.ajax({
            type: 'POST',
            url: "/Customer/LoadCustomerDropdown",
            data: { isactive: isactive, toggleActive: toggleActive },
            pageSize: 10,
            success: function(result) {
                if (result.errors == "true") {
                }
                if (result.success == null) {
                    var dataSource = new kendo.data.DataSource({
                        data: result.data,
                    });
                    if (result.data.filter(x=>x.cust_id == sessionStorage.getItem("Ticket_cus_Id")).length == 0) {
                         sessionStorage.setItem("Ticket_cus_Id", null);
                         $("#hidefacility").hide();
                         $(".inven-sec").removeClass("inven-flex-grow");
                         $("#HideExport").hide();
                    }

                    $("#customers").kendoDropDownList({
                        dataSource: dataSource.options.data,
                        dataTextField: "cust_name",
                        dataValueField: "cust_id",
                        //Change Event
                        change: function(e) {
                            var value = this.value();
                            sessionStorage.setItem("Ticket_cus_Id", value);
                            $("#hidefacility").show();
                            $(".inven-sec").addClass("inven-flex-grow");
                            $("#HideExport").hide();
                            $("#showAllFacility").toggleClass('checked');
                            const cb1 = document.querySelector('#showAllFacility');
                            LoadFacilityDropdowns(cb1.checked, false);

                            if (sessionStorage.getItem("Ticket_cus_Id") == 0) {
                              loadDataTicket(localStorage.getItem("IsLoginId"), false, false);
                                $("#hidefacility").hide();
                                $(".inven-sec").removeClass("inven-flex-grow");
                            }
                        }
                    });
                }
                else {
                    $("#alert_error").text(result.message).show();
                }
            }
        });
    }


    //Facility Dropdown
    function LoadFacilityDropdowns(isactive, toggleActive) {
        var custID = sessionStorage.getItem("Ticket_cus_Id");
        $.ajax({
            type: 'POST',
            url: "/Facilities/LoadFacilitiesDropdown",
            data: { isactive: isactive, toggleActive: toggleActive, custID: custID },
            pageSize: 10,
            success: function(result) {
                if (result.errors == "true") {
                }
                if (result.success == null) {
                    var dataSource = new kendo.data.DataSource({
                        data: result.data,
                    });
                   if (result.data.filter(x=>x.facility_id == sessionStorage.getItem("Ticket_fac_id")).length == 0 || result.data.filter(x=>x.facility_id == sessionStorage.getItem("Ticket_fac_id")).length == null )   {
                         sessionStorage.setItem("Ticket_fac_id", null);
                         $("#HideExport").hide();
                   }                     
                    $("#facility").kendoDropDownList({
                        dataSource: dataSource.options.data,
                        dataTextField: "facility_name",
                        dataValueField: "facility_id",
                        //Change Event
                        change: function(e) {
                            var value = this.value();
                            sessionStorage.setItem("Ticket_fac_id", value);
                            $("#HideExport").show();
                            $("#showAll").toggleClass('checked');
                             $('#IsMyTickets').prop('checked', false);
                            const cb = document.querySelector('#showAll');
                            loadDataTicket(localStorage.getItem("IsLoginId"), false, (cb.checked));
                            if (sessionStorage.getItem("Ticket_cus_Id") == 0 || sessionStorage.getItem("Ticket_fac_id") == 0) {
                                $("#HideExport").hide();
                            }
                        }
                    });
                }
                else {
                    $("#alert_error").text(result.message).show();
                }
            }
        });
    }


    //Facility Dropdown for customer login
    function LoadFacilityDropdownsbycustomerLoign(isactive, toggleActive) {
        var CustomerID = sessionStorage.getItem("Ticket_cus_Id");
        $.ajax({    
            type: 'POST',
            url: "/Facilities/LoadFacilitiesDropdownbycustomerLoign",
            data: { isactive: isactive, toggleActive: toggleActive },
            pageSize: 10,
            success: function(result) {
                if (result.errors == "true") {
                }
                if (result.success == null) {
                    var dataSource = new kendo.data.DataSource({
                        data: result.data,
                    });
                    if (result.data.filter(x=>x.facility_id == sessionStorage.getItem("Ticket_fac_id")).length == 0) {
                        sessionStorage.setItem("Ticket_fac_id", null);
                    }
                    $("#facilitybycustlogin").kendoDropDownList({
                        dataSource: dataSource.options.data,
                        dataTextField: "facility_name",
                        dataValueField: "facility_id",
                        //Change Event
                        change: function(e) {
                            var value = this.value();
                            $("#HideExport").show();
                            sessionStorage.setItem("Ticket_fac_id", value);
                            const cb = document.querySelector('#showAll'); 
                            loadDataTicket(localStorage.getItem("IsLoginId"), false, (cb.checked));
                            if (sessionStorage.getItem("Ticket_fac_id") == 0) {
                            }
                            
                        }
                    });
                }
                else {
                    $("#alert_error").text(result.message).show();
                }
            }
        });
    }
</script>