﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Tickets";
     Layout = "_Layout";
}
<div class="headertag">
   @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
    {
        <a class="header-brand" href="/Customer">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a>
    }
    else
    {
       <a class="header-brand" href="/Inventory">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a> 
    }
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
    <a class="header-brand headtagname" href="/Tickets">Tickets</a>
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
      <span class="header-brand headtagname"> Logs</span>
</div>
<div class="row ticket-section">
    <div class="col-sm-2 sidenav">
         @Html.Partial("_TicketMenu")   
    </div>
    <div class="col-sm-10 ticketmain">
          @Html.Partial("_TicketSubMenu")
          <div class="ticketbodyrow">
              <div class="row">
                  <div class="col-2">
                    <h2 class="form-page-title">Logs(@HttpContextAccessor.HttpContext.Session.GetString("LogCount"))</h2>
                  </div>
              </div>
             <div id="container">
                  <div id="gridLogs" class="custom-grid m-t-15"></div>
             </div>
         </div>
    </div>
</div>


@*AddEditPopUp*@
<div class="modal fade bd-example-modal-lg" id="LogModal" tabindex="-1" role="dialog" aria-labelledby="logtitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content repair-content">
            <div class="modal-header repair header ticketheader">            
                <div><h4><span id="logtitle"></span></h4></div>
                <button type="button" class="close modalheader" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.41562L6.41563 5L10 8.58438L8.58438 10L5 6.41563L1.41562 10L0 8.58438L3.58437 5L0 1.41562L1.41562 0L5 3.58437L8.58438 0L10 1.41562Z" fill="white"/></svg>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-section ticketpopup">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" hidden>
                                <label class="text"><span id="logid">Ticket Log Id</span></label>
                                <input  type="text" id="tktlogid"/>
                            </div>
                            <div class="form-group" hidden>
                                <label class="text"><span id="userid">User Id</span></label>
                                <input  type="text" id="usrId"/>
                            </div>
                            <div class="form-group">
                                <label class="text">Log Desc<span  class="spanvalidate"></span></label>
                                <textarea class="col-lg-12" type="text" id="desc"></textarea>
                                
                            </div>
                            <div class="form-group">
                                <label class="text">Log Hours<span  class="spanvalidate"></span></label>
                                <input class="col-lg-12" type="text" id="hours" onkeypress="return isNumber(event)" />
                            </div>
                        </div>
                    </div>
                    <div class="content-bot d-flex">
                        <button class="btn btnloginColor w-100 mr-1" id="btn-cancel" type="button" data-dismiss="modal">Cancel</button>
                        <input type="submit" value="Save" class="ml-1 btn btnloginColor pull-right w-100" onclick=SaveLogdata() tabindex="15" />
                    </div>                                    
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/jquery.loading.block.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    if (sessionStorage.getItem("IsTicketActive") == "true") {
		setTimeout(function () {
		window.location.reload(gridLogsloadData);
		}, 1300);
        sessionStorage.setItem("IsTicketActive", false);
        gridLogsloadData();
    } 
    gridLogsloadData();
    var dataSource = new kendo.data.DataSource({});
    if (localStorage.getItem("Is_cust_login") != "true") 
    {
        $("#gridLogs").kendoGrid({
        dataSource: dataSource,
        sortable: true,
        resizable: true,
        pageable: {
            refresh: true,
            pageSizes: true,
            buttonCount: 5,
            messages: { itemsPerPage: "Items Per Page" },
            pageSizes: [10, 15, 25, 50, 100]
        },
        scrollable: true,
        sortable: true,
        navigatable: true,
        resizable: true,
        reorderable: true,
        filterable: true,
        columnMenu: true,
        groupable: true,
        dataBound: function() {},
        
        columns: [
            {
                field: "trk_ent_dt",
                title: "Ticket Date",
                attributes: { title: "#=trk_ent_dt#" },
                format: "{0: MM/dd/yyyy hh:mm:ss tt}",
                width: '3%',
            },
            {
                field: "log_desc",
                title: "Log Desc",
                attributes: { title: "#=log_desc#" },
                width: '2%',
            },
            {
                field: "usr_login",
                title: "User Name",
                attributes: { title: "#=usr_login#" },
                width: '2%',
            },
            {
                field: "log_action",
                title: "Log Action",
                attributes: { title: "#=log_action#" },
                width: '2%',
            },
            {            
                field: "ticket_log_id",
                title: "Edit/Remove",
                template: "<input type='submit' value='Edit' class='editbtn btnloginColor mt-0' data-ID='#= ticket_log_id #' onclick='EditLog(this)'/>"+
                           "<input type='submit' value='Remove' class='btn btnloginColor mt-0' data-ID='#=ticket_log_id#' onclick='DeleteLog(this)'/>",
                width: '1%',
                menu: false,
                sortable: false,
            }
        ]
        });
    }else{
        $("#gridLogs").kendoGrid({
        dataSource: dataSource,
        sortable: true,
        resizable: true,
        pageable: {
            refresh: true,
            pageSizes: true,
            buttonCount: 5,
            messages: { itemsPerPage: "Items Per Page" },
            pageSizes: [10, 15, 25, 50, 100]
        },
        scrollable: true,
        sortable: true,
        navigatable: true,
        resizable: true,
        reorderable: true,
        filterable: true,
        columnMenu: true,
        groupable: true,
        dataBound: function() {},
        
        columns: [
            {
                field: "trk_ent_dt",
                title: "Ticket Date",
                attributes: { title: "#=trk_ent_dt#" },
                format: "{0: MM/dd/yyyy hh:mm:ss tt}",
                width: '3%',
            },
            {
                field: "log_desc",
                title: "Log Desc",
                attributes: { title: "#=log_desc#" },
                width: '2%',
            },
            {
                field: "usr_login",
                title: "User Name",
                attributes: { title: "#=usr_login#" },
                width: '2%',
            },
            {
                field: "log_action",
                title: "Log Action",
                attributes: { title: "#=log_action#" },
                width: '2%',
            }
        ]
        });
    }
    
});

    //log grid
    function gridLogsloadData() {
        var IsTicketId = localStorage.getItem("IsTicketId");
        $.loadingBlockShow();
        $.ajax({
            type: 'POST',
            url: "/Tickets/gridLogsloadData",
            data: {
                 IsTicketId :IsTicketId
            },
            pageSize: 10,
            success: function(result) {
                if (result.success == null) {
                    var grid = $("#gridLogs").data("kendoGrid");
                    grid.hideColumn(grid.columns[1]);
                    var currPage = grid.dataSource.page();
                    var dataSource = new kendo.data.DataSource({
                        data: result.data,
                        pageSize: 15,
                        page: 0,
                        schema: {
                                model: {
                                    fields: {
                                        trk_ent_dt: { type: "date" },
                                    }
                                }
                         },
                    });
                    grid.setDataSource(dataSource);
                    $.loadingBlockHide();
                } else {
                     $("#alert_error").text(result.message).show();
                    window.location.href ="/Home/Error_Log";
                }
            }
        });
    }

    $("#filter").keydown(function (e) {
          $.loadingBlockShow();
           if (e.keyCode === 13) {
               filter();
           }
       });
       function filter() {
            //Initially clear the session values
        sessionStorage.clear()
       var queryString = $("#filter").val();

        //Set Session storage when get the export
        sessionStorage.setItem("search", queryString );

       var grid = $("#gridLogs").data("kendoGrid");
       var orfilter = { logic: "or", filters: [] };
       orfilter.filters.push(
           { field: "trk_ent_dt", operator: "contains", value: queryString },
           { field: "usr_login", operator: "contains", value: queryString },
           { field: "log_action", operator: "contains", value: queryString },
           { field: "log_hours", operator: "contains", value: queryString },
           { field: "log_desc", operator: "contains", value: queryString },
           
       );
       if (queryString) {
           grid.dataSource.filter(orfilter);
           $.loadingBlockHide();
       } else {
           grid.dataSource.filter({});
           $("#filter").val('');
           grid.dataSource.read();
       }
    }
       
    //onclick edit
        function EditLog(arg){
        $("#logtitle").text("Edit Log Item");
        var IsTicketId = localStorage.getItem("IsTicketId");
        var Id = localStorage.getItem("Id")
         $('#ticket_log_id');
         $('#log_hours');
         $('#log_desc');
        $.ajax({
            cache: false,
            url: "/Tickets/EditLogPage",
            type: "Get",
            contentType: "JSON",
            data: {
                "Id": arg.dataset.id,
                IsTicketId: IsTicketId
            },
            success: function(result) {
                $("#LogModal").modal('show');
                $("#tktlogid").val(result.data.ticket_log_id);
                $("#hours").val(result.data.log_hours);
                $("#desc").val(result.data.log_desc);
            },
               error: function(xhr, ajaxOptions, thrownError) {
                alert('Failed to load ');
               }
        });
    }

     // Only number validation
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
 
 