﻿@model HMSMemri.Models.GetTicketResponse
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Tickets";
     Layout = "_Layout";
}
<div class="headertag">
   @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
    {
        <a class="header-brand" href="/Customer">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a>
    }
    else
    {
       <a class="header-brand" href="/Inventory">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a> 
    }
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
    <a class="header-brand headtagname" href="/Tickets">Tickets</a>
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
      <span class="header-brand headtagname"> Repairs</span>
</div>
<div class="row ticket-section">
    <div class="col-sm-2 sidenav">
            @Html.Partial("_TicketMenu")   
    </div>
    <div class="col-sm-10 ticketmain">
        @Html.Partial("_TicketSubMenu")
        <div class="ticketbodyrow">
            <div class="row">
                <div class="text-left col-6">
                    <h2 class="form-page-title">Repairs(@HttpContextAccessor.HttpContext.Session.GetString("RepairCount"))</h2>
                </div>
                <div class="text-right col-6">
                    <input type='submit' value='Add' class='btn btnloginColor' id="" onclick='IsAddRepair()'/>
                </div>
            </div>
            <div class="row">
                <div class="text-sm-left col-12">
                    <div id="container">
                        <div id="gridRepair" class="custom-grid  m-t-15"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*AddEditPopUp*@
<div class="modal fade bd-example-modal-lg" id="RepairModal" role="dialog" aria-labelledby="repairtitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content repair-content">
            <div class="modal-header repair header ticketheader">            
                <div><h4><span id="repairTitle"></span></h4></div>
                <button type="button" class="close modalheader" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.41562L6.41563 5L10 8.58438L8.58438 10L5 6.41563L1.41562 10L0 8.58438L3.58437 5L0 1.41562L1.41562 0L5 3.58437L8.58438 0L10 1.41562Z" fill="white"/></svg>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-section ticketpopup">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" hidden>
                                <label class="text"><span id="Id">TicketCharge Id</span></label>
                                <input  type="text" id="tktchrgId"/>
                            </div>
                             <div class="form-group" hidden>
                                <label class="text"><span id="Id">Charge Id</span></label>
                                <input  type="text" id="chrgtpId"/>
                            </div>
                            <div class="form-group" hidden>
                                <label class="text"><span id="Id">Charge Tp Id</span></label>
                                <input  type="text" id="chargetpId"/>
                            </div>
                            <div class="form-group">
                                <label class="text">Repair Type<span id="typelable" class="spanvalidate">*</span></label> 
                                <select id="myList" name="mylist1" class="form-control" onchange="repairTypeValidation(this)" ></select>
                                <label class="text-danger" id="typeid" required="required" hidden></label>
                            </div>
                            <div class="form-group">
                                    <label class="text">Parts#<span  class="spanvalidate"></span></label>
                                    <input  type="text" id="parts1" />
                                    @*<label class="text-danger text" id="pwdid"></label>*@
                            </div>
                            <div class="form-group">
                                <label class="text">Po<span  class="spanvalidate"></span></label>
                                <input  type="text" id="po1" />
                                @*<label class="text-danger text" id="pwdid"></label>*@
                            </div>
                            <div class="form-group">
                                <label class="text">Description<span  class="spanvalidate"></span></label>
                                <input  type="text" id="descriptiontext" />
                                @*<label class="text-danger text" id="pwdid"></label>*@
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text">Quantity<span id="quantity" class="spanvalidate"></span></label> 
                                <input  type="text" id="quantities"  onkeypress="return isNumberKey(this,event)"/>
                            </div>
                            <div class="form-group">
                                <label class="text">Cost<span id="cost" class="spanvalidate"></span></label>
                                <input  type="text" id="costs"  onkeypress="return isNumberKey(this,event)"/>
                            </div>
                            <div class="form-group">
                                <label class="text">Quoted<span id="quoted" class="spanvalidate"></span></label>
                                <input type="text"  id="quoteds" onkeypress="return isNumberKey(this,event)"/>
                            </div>
                            <div class="form-group">
                                <label class="text">Charge<span id="charge" class="spanvalidate"></span></label>
                                <input  type="text" id="charges"  onkeypress="return isNumberKey(this,event)"/>
                            </div>
                            <div class="form-group" hidden>
                                <label class="text"><span id="total" >Total Charge</span></label>
                                <input  type="text" id="totalcharges" />
                            </div>
                        </div>
                    </div>
                    <div class="content-bot d-flex">
                        <button class="btn btnloginColor w-100 mr-1" id="btn-cancel" type="button" data-dismiss="modal">Cancel</button>
                        <input type="submit" value="Save" class="ml-1 btn btnloginColor pull-right w-100" onclick=SaveRepairdata() tabindex="15" />
                    </div>                                    
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https:ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link href="~/css/select2.css" rel="stylesheet" />
<script src="~/js/select2.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/jquery.loading.block.js"></script>
<script type="text/javascript">
   $(document).ready(function() {
    gridRepairloadData();
    var dataSource = new kendo.data.DataSource({});
    $("#gridRepair").kendoGrid({
        dataSource: dataSource,
        sortable: true,
        resizable: true,
        pageable: {
            refresh: true,
            pageSizes: true,
            buttonCount: 5,
            messages: { itemsPerPage: "Items Per Page" },
            pageSizes: [10, 15, 25, 50, 100]
        },
        scrollable: true,
        sortable: true,
        navigatable: true,
        resizable: true,
        reorderable: true,
        filterable: true,
        columnMenu: true,
        groupable: true,
        dataBound: function() {},

        columns: [
            
            {
                field: "charge_tp_desc",
                title: "Type",
                attributes: { title: "#=charge_tp_desc#" },
                width: '20%',
            },
            {
                field: "part_no",
                title: "Parts#",
                attributes: { title: "#=part_no#" },
                width: '25%',
            },
            {
                field: "po",
                title: "Po",
                attributes: { title: "#=po#" },
                width: '20%',
            },
            {
                field: "charge_desc",
                title: "Description",
                attributes: { title: "#=charge_desc#" },
                width: '30%',
            },
            {
                field: "qty",
                title: "QTY",
                attributes: { title: "#=qty#" },
                width: '20%',
            },
            {
                field: "cost",
                title: "Cost",
                attributes: { title: "#=cost#" },
                width: '20%',
            },
            {
                field: "quoted",
                title: "Quoted",
                attributes: { title: "#=quoted#" },
                width: '20%',
            },
            {
                field: "charge",
                title: "Charge",
                attributes: { title: "#=charge#" },
                width: '20%',
            },
            {
                field: "total",
                title: "Total Charges",
                attributes: { title: "#=total#" },
                width: '20%',
            },
             {            
                field: "ticket_charge_id",
                title: "Edit/Remove",
                template: "<input type='submit' value='Edit' class='editbtn btnloginColor mt-0' data-ID='#= ticket_charge_id #' onclick='IsViewRepair(this)'/>"+
                          "<input type='submit' value='Remove' class='btn btnloginColor mt-0' data-ID='#= ticket_charge_id #' onclick='RepairDelete(this)'/>",
                width: '25%',
                menu: false,
                sortable: false,
            },
        ]
    });
});
    function gridRepairloadData() {
         var IsTicketId = localStorage.getItem("IsTicketId");
        $.loadingBlockShow();
        $.ajax({
            type: 'POST',
            url: "/Tickets/gridRepairloadData",
            data: {
                IsTicketId:IsTicketId
            },
            pageSize: 10,
            success: function(result) {
                if (result.success == null) {
                    var grid = $("#gridRepair").data("kendoGrid");
                    var currPage = grid.dataSource.page();
                    var dataSource = new kendo.data.DataSource({
                        data: result.data,
                        pageSize: 15,
                        page: 0
                    });
                    grid.setDataSource(dataSource);
                    $.loadingBlockHide();
                } else {
                    $("#alert_error").text(result.message).show();
                    window.location.href ="/Home/Error_Log";
                }
            }
        });
    }

     $("#filter").keydown(function (e) {
          //$.loadingBlockShow();
           if (e.keyCode === 13) {
               filter();
           }
       });
       function filter() {
            //Initially clear the session values
        sessionStorage.clear()
       var queryString = $("#filter").val();

        //Set Session storage when get the export
        sessionStorage.setItem("search", queryString );

       var grid = $("#gridRepair").data("kendoGrid");
       var orfilter = { logic: "or", filters: [] };
       orfilter.filters.push(
           { field: "charge_tp_desc", operator: "contains", value: queryString },
           { field: "part_no", operator: "contains", value: queryString },
           { field: "po", operator: "contains", value: queryString },
           { field: "charge_desc", operator: "contains", value: queryString },
           { field: "qty", operator: "contains", value: queryString },
           { field: "cost", operator: "contains", value: queryString },
           { field: "quoted", operator: "contains", value: queryString },
           { field: "charge", operator: "contains", value: queryString },
           { field: "total", operator: "contains", value: queryString }
       );
       if (queryString) {
           grid.dataSource.filter(orfilter);
           $.loadingBlockHide();
       } else {
           grid.dataSource.filter({});
           $("#filter").val('');
           grid.dataSource.read();
       }
    }


    //EditCustomer Dropdown
     $(document).ready(function () {

            $('#myList').select2({});
            $.ajax({
                 url: "/Tickets/RepairEditDropdown",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var result = Object.keys(data).map(function ( key ) {
                        return [Number( key ), data[ key ]];
                    });
                    for (var i = 0; i < result[0][1].length; i++) {
                        var opt = result[0][1][i];
                        var charge_tp_desc = unescape(opt.charge_tp_desc);
                        var charge_tp_id = unescape(opt.charge_tp_id);

                        $('#myList').append('<option value="' + charge_tp_id + '">' + charge_tp_desc + '</option>'); 
                    }
                }
            });
         
     });


     //Onclick Save
    function IsViewRepair(arg){
        $("#repairTitle").text("Edit Repair Item");
        var IsTicketId = localStorage.getItem("IsTicketId");
        var Id = localStorage.getItem("Id")
         $('#chrgtpId');
         $('#tktchrgId');
         $('#quantities');
         $('#costs');
         $('#charges');
         $('#parts1');
         $('#po1');
         $('#descriptiontext');
         $('#quoteds');
         $('#totalcharges');
         $('#myList');
         $('#chargetpId');
         
        $.ajax({
            cache: false,
            url: "/Tickets/EditRepairPage",
            type: "Get",
            contentType: "JSON",
            data: {
                "Id": arg.dataset.id,
                IsTicketId: IsTicketId
            },
            success: function(result) {
                $("#RepairModal").modal('show');
                $('#myList').val(result.data.charge_tp_id).trigger('change');
                $("#tktchrgId").val(result.data.ticket_charge_id);
                $("#chargetpId").val(result.data.charge_tp_id);
                $("#quantities").val(result.data.qty);
                $("#costs").val(result.data.cost);
                $("#charges").val(result.data.charge);
                $("#parts1").val(result.data.part_no);
                $("#po1").val(result.data.po);
                $("#descriptiontext").val(result.data.charge_desc);
                $("#quoteds").val(result.data.quoted);
                $("#totalcharges").val(result.data.total);
            },
               error: function(xhr, ajaxOptions, thrownError) {
                alert('Failed to load ');
               }
        });
    }

    //Onclick  Add
    function IsAddRepair(){
        var IsTicketId = localStorage.getItem("IsTicketId");
        $('#myList').val(0).trigger('change');
        $("#tktchrgId").val(0);
        $("#chargetpId").val("");
        $("#quantities").val("");
        $("#costs").val("");
        $("#charges").val("");
        $("#parts1").val("");
        $("#po1").val("");
        $("#descriptiontext").val("");
        $("#quoteds").val("");
        $("#totalcharges").val("");
        $("#repairTitle").text("Add Repair Item");
        $("#RepairModal").modal('show');
        document.getElementById("typeid").hidden = true;
    }


     function isNumberKey(el, evt) {
       var charCode = (evt.which) ? evt.which : event.keyCode;
       var number = el.value.split('.');
   
       if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
           return false;
       }
       //just one dot
       if (number.length > 1 && charCode == 46) {
           return false;
       }
       //get the carat position
       var caratPos = getSelectionStart(el);
   
       var dotPos = el.value.indexOf(".");
       var maxNum = number[0];
       if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
           return false;
       }
       return true;
   }
   function getSelectionStart(o) {
       if (o.createTextRange) {
           var r = document.selection.createRange().duplicate()
           r.moveEnd('character', o.value.length)
           if (r.text == '') return o.value.length
           return o.value.lastIndexOf(r.text)
       } else return o.selectionStart
   }
</script>