﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model HMSMemri.Models.GetTicketResponse
@{
    ViewData["Title"] = "Tickets";
     Layout = "_Layout";
}
<style>
    .textbox-result{
        width:108px;
    }
    .form-groups {
    margin-bottom: 7px !important;
    }
    .textbox-input{
         width:344px;
    }
    .labels{
         display: inline-block;
        width: 72px;
        text-align: right;
    }
</style>
<div class="headertag">
   @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
    {
        <a class="header-brand" href="/Customer">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a>
    }
    else
    {
       <a class="header-brand" href="/Inventory">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a> 
    }
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
    <a class="header-brand headtagname" href="/Tickets">Tickets</a>
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
      <span class="header-brand headtagname"> Testing</span>
</div>
<div class="row ticket-section">
    <div class="col-sm-2 sidenav">
         @Html.Partial("_TicketMenu")   
    </div>
    <div class="col-sm-10 ticketmain">
          @Html.Partial("_TicketSubMenu")
          <div class="ticketbodyrow">
              <div class="row">
                  <div class="col-2">
                      <input type="button" value="Add" class="ml-1 btn btnloginColor pull-right w-20" onclick='AddTestResult()' tabindex="15" />
                    <h5 class="form-page-title">Test Results</h5>
                  </div>
              </div>
             <div id="container">
                 <div id="gridTestResult" class="custom-grid m-t-15"></div>
             </div>
              <div class="col-5 ">
                    <h5 class="form-page-title">Historical Test Results</h5>
                  </div>
             <div id="container">
                 <div id="gridHistoryResult" class="custom-grid m-t-15"></div>
             </div>
         </div>
    </div>
</div>
@*Delete Popup*@
<div class="modal fade" id="TestResultDeletePopModal" role="dialog" aria-labelledby="invtitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content repair-content">
            <div class="modal-header repair header ticketheader">            
                <div><h4><span id="invtitle"></span>Delete TestResult</h4></div>
                <button type="button" class="close modalheader" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.41562L6.41563 5L10 8.58438L8.58438 10L5 6.41563L1.41562 10L0 8.58438L3.58437 5L0 1.41562L1.41562 0L5 3.58437L8.58438 0L10 1.41562Z" fill="white"/></svg>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-section ticketpopup">
                    <h5 class="mt-4 mb-4 text-center">Are you sure want to delete this Ticket Result details? </h5>
                    <div class="content-bot d-flex">
                        <input type="submit" value="No" class="mr-1 btn btncancelColor pull-right w-50" onclick="Confirm(this)" tabindex="15" />                      
                        <input type="submit" value="Yes" class="ml-1 btn btnloginColor pull-right w-50" onclick="TestResultsDelete(this)" tabindex="15" />                      
                    </div>                                    
                </div>
            </div>
        </div>
    </div>
</div>
@*Add Popup*@
<div class="modal fade bd-example-modal-lg" id="ResultModal" role="dialog" aria-labelledby="repairtitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content repair-content">
            <div class="modal-header repair header ticketheader">            
                <div><h4> <span id="TestTitle"></span> Add New Results</h4> </div>
                <button type="button" class="close modalheader" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.41562L6.41563 5L10 8.58438L8.58438 10L5 6.41563L1.41562 10L0 8.58438L3.58437 5L0 1.41562L1.41562 0L5 3.58437L8.58438 0L10 1.41562Z" fill="white"/></svg>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class=" ">
                   
                      <div class="row">
                        <div class="col-md-12">
                            <form autocomplete="off" >
                           <div class="form-groups">
                                <label class="text labels"><span id="Id">Test Equip</span></label>
                                <input  type="text" id="IsTest" class ="textbox-input" autocomplete="off"/>
                           </div>  
                           <div class="form-groups">
                                <label style="width:72px;" class="text">Type<span id="testlable" class="spanvalidate">*</span></label> 
                                <select id="testList" class ="textbox-input" name="Type1" onchange="OnChangeEvent(this.value)" ></select><br/>
                                 <label class="text-danger" id="testid" required="required" hidden></label>
                            </div>
                           
                           
                           <div class="form-groups">
                                <label class="text labels"><span id="Id">Parameter</span></label>
                                <input  type="text" id="IsResult" class ="textbox-input" disabled/>  
                           </div>
                           <div class="form-groups">
                                <label class="text labels"><span id="Id">Results</span><span class="spanvalidate">*</span></label>
                                <input  type="text" id="result1" class="textbox-result" onchange="resultValidation()">/
                                <input  type="text" class="textbox-result" id="result2"/>/
                                <input  type="text" class="textbox-result" id="result3"/>
                                <label class="text-danger" id="resid" required="required" hidden></label> 
                           </div>
                           <div class="form-groups">
                                <label class="text labels"><span id="Id">Date</span></label>
                                <input  type="text" id="IsDatePicker" class="DatePicker textbox-input" autocomplete="off"/>
                           </div>
                           </form>
                        </div>
                        
                     </div>
                  
                    <div class="content-bot d-flex">
                        <button class="btn btnloginColor w-100 mr-1" id="btn-cancel" type="button" data-dismiss="modal">Cancel</button>
                        <input type="submit" value="Save" class="ml-1 btn btnloginColor pull-right w-100" onclick="SaveTestResultdata(this)" tabindex="15" />
                    </div>                                    
                </div>
            </div>
        </div>
    </div>
</div>
 <script>

    $(document).ready(function() {
        LoadTestResults();
        var dataSource = new kendo.data.DataSource({});
        $("#gridTestResult").kendoGrid({
            dataSource: dataSource,
            sortable: true,
            resizable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5,
                messages: {
                    itemsPerPage: "Items Per Page"
                },
                pageSizes: [10, 15, 25, 50, 100]
            },
            columns: [
            {
                field: "test_type",
                title: "Type",
                 attributes: {
                    title: "#=test_type#"
                },
                width: '20%',
            },
            {
                field: "test_parm",
                title: "Parameters",
                attributes: {
                    title: "#=test_parm#"
                },
                 width: '20%',
            },
            {
                field: "test_val",
                title: "Results",
                attributes: {
                    title: "#=test_val#"
                },
                 width: '20%',
            },
            {
                field: "test_dt",
                title: "Date",
                attributes: { 
                  title: "#=test_dt#"
                },
                format: "{0: MM/dd/yyyy}",
                width: '10%',
            },
            {
                field: "test_equip",
                title: "Equipment",
                attributes: {
                    title: "#=test_equip#"
                },
                 width: '20%',
            },
            {
                    field: "",
                    title: "",
                    template: "<input type='submit' value='Delete' class='btn btnloginColor mt-0' data-ID='#= test_results_id #' onclick='TestResultsDelete(this)'/>",
                    width:'10%',
            },
            ]
        });
    });

  $(document).ready(function() {
        LoadHistoryResults();
        var dataSource = new kendo.data.DataSource({});
        $("#gridHistoryResult").kendoGrid({
            dataSource: dataSource,
            sortable: true,
            resizable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5,
                messages: {
                    itemsPerPage: "Items Per Page"
                },
                pageSizes: [10, 15, 25, 50, 100]
            },
            columns: [
            {
                field: "test_type",
                title: "Type",
                 attributes: {
                    title: "#=test_type#"
                },
                width: '20%',
            },
            {
                field: "test_parm",
                title: "Parameters",
                attributes: {
                    title: "#=test_parm#"
                },
                 width: '20%',
            },
            {
                field: "test_val",
                title: "Results",
                attributes: {
                    title: "#=test_val#"
                },
                 width: '20%',
            },
            {
                field: "test_dt",
                title: "Date",
                attributes: { 
                  title: "#=test_dt#"
                },
                format: "{0: MM/dd/yyyy}",
                width: '10%',
            },
            {
                field: "test_equip",
                title: "Equipment",
                attributes: {
                    title: "#=test_equip#"
                },
                 width: '20%',
            },
            ]
        });
  });

          
    function LoadTestResults() {
        var ticket_id = localStorage.getItem("IsTicketId");
        $.loadingBlockShow();
        $.ajax({
            type: 'POST',
            url: "/Tickets/LoadTestResults",
            data: {
                ticket_id:ticket_id
            },
            pageSize: 10,
            success: function(result) {             
                if (result.success == null) {
                    var grid = $("#gridTestResult").data("kendoGrid");
                    var currPage = grid.dataSource.page();
                    var dataSource = new kendo.data.DataSource({
                        data: result.data,
                        pageSize: 15,
                        page: 0,
                         schema: {
                           model: {
                               fields: {
                                    test_dt: { type: "date" },
                               }
                           }
                        },
                    });                  
                    grid.setDataSource(dataSource);
                    $.loadingBlockHide();
                }
                else {
                    $("#alert_error").text(result.message).show();
                    window.location.href ="/Home/Error_Log";
                }
            }
        });
    }
     function LoadHistoryResults() {
         var ticket_id = localStorage.getItem("IsTicketId");    
        $.loadingBlockShow();
        $.ajax({
            type: 'POST',
            url: "/Tickets/LoadHistoryResults",
            data: {
                ticket_id:ticket_id
            },
            pageSize: 10,
            success: function(result) {             
                if (result.success == null) {
                    var grid = $("#gridHistoryResult").data("kendoGrid");
                    var currPage = grid.dataSource.page();
                    var dataSource = new kendo.data.DataSource({
                        data: result.data,
                        pageSize: 15,
                        page: 0,
                         schema: {
                           model: {
                               fields: {
                                    test_dt: { type: "date" },
                               }
                           }
                        },
                    });                  
                    grid.setDataSource(dataSource);
                    $.loadingBlockHide();
                }
                else {
                    $("#alert_error").text(result.message).show();
                    window.location.href ="/Home/Error_Log";
                }
            }
        });
    }


    function TestResultDelete() {
	        $("#TestResultDeletePopModal").modal();
    }

      function Confirm(){
            $("#TestResultDeletePopModal .close").click();
      }

    function AddTestResult()
    {
         $("#ResultModal").modal('show');
         $('#testList').val(0).trigger('change');
         $("#IsTest").val("");
         $("#IsResult").val("");
         $("#result1").val("");
         $("#IsDatePicker").val("");
         $("#result3").val("");
         $("#result2").val("");
         document.getElementById("resid").hidden = true;
         document.getElementById("testid").hidden = true;
    }
     
    $(function () {
       $('.DatePicker').datepicker({
         format: 'mm/dd/yyyy', 
         autoclose: true,
         todayHighlight: true
       });
    });


     $(document).ready(function () {

            $('#testList').select({});
            $.ajax({
                  url: "/Tickets/TestTypeDropdown",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var result = Object.keys(data).map(function ( key ) {
                        return [Number( key ), data[ key ]];
                    });
                    for (var i = 0; i < result[0][1].length; i++) {
                        var opt = result[0][1][i];
                        var test_type = unescape(opt.test_type);
                        var test_id = unescape(opt.test_id);

                        $('#testList').append('<option value="' + test_id + '">' + test_type + '</option>'); 
                    }
                }
            });
         
     });

   function OnChangeEvent(id)  {
       var id = document.getElementById('testList').value;
       if (id == 0){
           TestValidation();
       }else{
            TestValidation();
       }
       $.ajax({
          type: 'POST',
          url: "/Tickets/testResults",
          data: { "id": id },
          success: function(result) {
            $('#IsResult').val(result)
          }
       });
   }
</script>