﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model HMSMemri.Models.GetTicketResponse
@{
    ViewData["Title"] = "Tickets";
     Layout = "_Layout";
}
<div class="headertag">
   @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
    {
        <a class="header-brand" href="/Customer">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a>
    }
    else
    {
       <a class="header-brand" href="/Inventory">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
            </svg>
        </a> 
    }
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
    <a class="header-brand headtagname" href="/Tickets">Tickets</a>
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
      <span class="header-brand headtagname"> Inventory</span>
</div>
<div class="row ticket-section">
    <div class="col-sm-2 sidenav">
         @Html.Partial("_TicketMenu")   
    </div>
      <div class="col-sm-10 ticketmain">
          @Html.Partial("_TicketSubMenu")
          <div class="ticketbodyrow">
              <div class="row">
                  <div class="col-2">
                        <h2 class="form-page-title">Inventory</h2>
                  </div>
              </div>
          
        <div class="add-edit-section w-100">
            @using (Html.BeginForm("Details", "Tickets", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "add-generic-form", onSubmit = "return SubmitTicketsForms(this)" }))
            {

                <div class="form-section inventoryfieldsection mt-4">
                    <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">                            
                            <div class="form-group">
                                <label class="control-label text-sm-right">Inventory Class</label>:
                                 
                            </div>  <br/>
                             
                            
                            <div class="form-group">
                                <label class="control-label text-sm-right">Status</label>:<span> @Html.DisplayFor(m => m.InventoryTicketDetails.Status, new { id = "IsStatus" }) </span>
                                 
                            </div> 
                             <div class="form-group">
                                <label class="control-label text-sm-right">Risk Factor</label>: <span> @Html.DisplayFor(m => m.InventoryTicketDetails.Riskfactor, new { id = "IsRiskfactor" }) </span>
                                 
                            </div> 
                              <div class="form-group">
                                <label class="control-label text-sm-right">Ticket Type</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.ticket_tp_desc, new { id = "IsTicketType" })  </span>
                                 
                            </div> 
                            <div class="form-group">
                                <label class="control-label text-sm-right">Priority</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.priority, new { id = "IsPriority" })  </span>
                                 
                            </div> <br/>



                            <div class="form-group">
                                <label class="control-label text-sm-right">Hosp. Control Number</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.HospitalNumber, new { id = "IsHospitalNumber" }) </span>
 
                            </div> 
                            <div class="form-group">
                                <label class="control-label text-sm-right">Control#</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.control, new { id = "Iscontrol" })  </span>
                                    
                            </div>  
                            <div class="form-group">
                                <label class="control-label text-sm-right">Previous Control Number</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.PreviouscontrolNumber, new { id = "IsPrevious" }) </span>
                                 
                            </div> 
                            <div class="form-group">
                                <label class="control-label text-sm-right">Serial#</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.serial, new { id = "IsSerial" })  </span>
                                 
                            </div> 
                            <div class="form-group">
                                <label class="control-label text-sm-right">Model#</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.Model, new { id = "IsModel" })  </span>
                                 
                            </div> 
                            <div class="form-group">
                                <label class="control-label text-sm-right">RootClass</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.Rootclass, new { id = "IsRootClass" })  </span>
                                 
                            </div> 
                            <div class="form-group">
                                <label class="control-label text-sm-right">SubClass</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.SubClass, new { id = "IsSubClass" }) </span>
                                 
                            </div> <br/>
                          
                            
                            
                            <div class="form-group">
                                <label class="control-label text-sm-right">SystemID #</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.SystemId, new { id = "IsSystemId" })  </span>
                                 
                            </div> 
                            <div class="form-group">
                                <label class="control-label text-sm-right">Department</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.Department, new { id = "IsDepartment" })  </span>
                                 
                            </div> 
                            <div class="form-group">
                                <label class="control-label text-sm-right">Manufacturer</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.Manufacturer, new { id = "IsManufacturer" })     </span>
                                 
                            </div> 
                            <div class="form-group">
                                <label class="control-label text-sm-right">Model</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.Model, new { id = "IsModel" }) </span>
                                 
                            </div> 
                            <div class="form-group">
                                <label class="control-label text-sm-right">Serial Num</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.serial, new { id = "IsSerial" }) </span>
                                 
                            </div> <br/>

                            <div class="form-group">
                                <label class="control-label text-sm-right">Inv.Status</label>: <span>@Html.DisplayFor(m => m.InventoryTicketDetails.InvStatus, new { id = "InvStatus" }) </span>
                                 
                            </div> 
                            <div class="form-group">
                                <label class="control-label text-sm-right">Date Added</label>:
                            </div> 
                            <div class="form-group">
                                <label class="control-label text-sm-right">Status Change Date</label>:   
                                 
                            </div> 
                    
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                               <label class="control-label text-sm-right">Risk Factor</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.Riskfactor, new { id = "IsRiskfactor" })  </span>
                                 
                            </div> 
                            <div class="form-group d-none">
                                <label class="control-label text-sm-right">Inventory Concern</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.concern, new { id = "IsConcern" }) </span>
                                 
                            </div>  <br>


                            <div class="form-group">
                                <label class="control-label text-sm-right">PM Interval</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.PmInterval, new { id = "IsPmInterval" })  </span>
                                 
                            </div>
                            <div class="form-group">
                                <label class="control-label text-sm-right">Last PM Completed</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.LastPmCompleted, new { id = "IsLastPm" })  </span>
                                 
                            </div>
                            <div class="form-group">
                                <label class="control-label text-sm-right">Next Scheduled PM</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.NextScheduledPm, new { id = "IsNextPm" })  </span>
                                 
                            </div>
                            <div class="form-group">
                                <label class="control-label text-sm-right">Service Coverage</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.servicecovreage, new { id = "IsService" })  </span>
                                 
                            </div><br>


                            <div class="form-group">
                                <label class="control-label text-sm-right">Ownership</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.Ownership, new { id = "IsOwnership" })  </span>
                                 
                            </div>
                            <div class="form-group">
                                <label class="control-label text-sm-right">Install Date</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.InstallDate, new { id = "IsInstalldt" }) </span>
                                 
                            </div>
                            <div class="form-group">
                                <label class="control-label text-sm-right">Warrenty Expires</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.WarrentyExpires, new { id = "IsExpires" }) </span>
                                 
                            </div>
                            <div class="form-group">
                                <label class="control-label text-sm-right">Warrenty Status</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.WarrentyStatus, new { id = "IsWarrentyStatus" })  </span>
                                 
                            </div><br> 


                            <div class="form-group">
                                <label class="control-label text-sm-right">Caller</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.CallerName, new { id = "IsCallerName" })  </span>
                                 
                            </div>
                            <div class="form-group">
                                <label class="control-label text-sm-right">Caller Phone</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.CallerPhone, new { id = "IsCallerPhone" })  </span>
                                 
                            </div>
                            <div class="form-group">
                                <label class="control-label text-sm-right">Created By</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.CreatedBy, new { id = "IsCreateBy" }) </span>
                                 
                            </div>
                            <div class="form-group">
                                <label class="control-label text-sm-right">Assigned To</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.AssignTo, new { id = "IsAssignTo" }) </span>
                                 
                            </div>
                            <div class="form-group">
                                <label class="control-label text-sm-right">Closed By</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.ClosedBy, new { id = "IsClosedBy" }) </span>
                                 
                            </div>
                            <div class="form-group">
                                <label class="control-label text-sm-right">Closed Date</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.ClosedDate, new { id = "IsclosedDate" }) </span>
                                 
                            </div>
                            <div class="form-group">
                                <label class="control-label text-sm-right">Arrived Via</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.ArrivedVia, new { id = "IsArrivedVia" }) </span>
                                 
                            </div>
                            <div class="form-group">
                                <label class="control-label text-sm-right">Create Date</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.CreateDate, new { id = "IscreateDate" })  </span>
                                 
                            </div>
                            <div class="form-group">
                                <label class="control-label text-sm-right">Start Date</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.StartDate, new { id = "IsStartDate" }) </span>
                                 
                            </div>
                            <div class="form-group">
                                <label class="control-label text-sm-right">Service Date</label>:<span>@Html.DisplayFor(m => m.InventoryTicketDetails.ServiceDate, new { id = "IsServiceDate" }) </span>
                                 
                            </div>   <br/>

                            <div class="form-group">
                                <label class="control-label text-sm-right">Contract PO</label>: <span>@Html.DisplayFor(m => m.InventoryTicketDetails.contract_po, new { id = "IsContract" }) </span>
                                 
                            </div>  
                            <div class="form-group">
                                <label class="control-label text-sm-right">Parts PO</label>:  <span>@Html.DisplayFor(m => m.InventoryTicketDetails.parts_po, new { id = "IsParts" }) </span>
                                 
                            </div>   

                        </div>
                        </div>
                    </div>
                      
                </div>
            }
        </div>
    </div>
  
</div>
 </div>

 
 