﻿@model HMSMemri.Models.GetManufacturerResponse 
@{
ViewBag.Title = "AddEditInv_Manufacturer";
Layout = "_Layout";
}
<div class="headertag">
   <a class="header-brand" href="/Customer">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
      </svg>
   </a>
   <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
   <span class="r-arrow">
      <a class="header-brand headtagname" href="/InventoryManufacturer">
         Manufacturer
         <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
         </svg>
      </a>
   </span>
   <span class="r-arrow">
   <span class="header-brand headtagname" id="ManufacturerTilte"></span>  
   </span>
</div>
<div class="row">
   <div class="col-md-12">
      <div class="add-edit-section">
         @using (Html.BeginForm("AddEditInv_Manufacturer", "InventoryManufacturer", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "add-generic-form", onSubmit = "return SubmitFormManufacturer(this)" }))
         {
         if (@Model.Manufacturerdetail != null && @Model.Manufacturerdetail.ManufacturerId > 0)
         {
         <div class="editmanufacturer m-t-20">
            <div class="row" id="IsEditshown">
               <div class="col-md-12 col-lg-12">
                  <div class="editmanufacturer-left">
                     <h5 class="customer-name">Edit Manufacturer - @Html.DisplayFor(model => model.Manufacturerdetail.ManufacturerName)</h5>
                  </div>
               </div>
            </div>
         </div>
         }
         else
         {
         <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
               <span id="ManufacturerId"> </span>
               <h4 class="form-page-title">Add Manufacturer</h4>
               @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
         </div>
         }
         <hr>
         @Html.HiddenFor(model => model.Manufacturerdetail.ManufacturerId, new {id="ManufacturerId" })             
         <div class="form-section">
            <div class="row">
               <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                     <label class="col-md-6 control-label"> Manufacturer Name <span class="spanvalidate"> * </span></label>
                     <div class="col-md-10">
                        <div class="input-group">
                           @Html.TextBoxFor(model => model.Manufacturerdetail.ManufacturerName, new { @class = "form-control col-md-12",id="IsManufacturerName",tabindex = 1 })
                           @Html.ValidationMessageFor(Model=>Model.Manufacturerdetail.ManufacturerName,"",new { @class = "text-danger w-100" }) 
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-6 control-label">Address 1  </label>
                     <div class="col-md-10">
                        <div class="input-group">
                           @Html.TextBoxFor(model => model.Manufacturerdetail.Address1, new { @class = "form-control col-md-12",id="IsAddress1" , tabindex = 3})
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-6 control-label">Address 2 </label>
                     <div class="col-md-10">
                        <div class="input-group">
                           @Html.TextBoxFor(model => model.Manufacturerdetail.Address2, new { @class = "form-control col-md-12",id="IsAddress2", tabindex = 5})
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-6 control-label">City  </label>
                     <div class="col-md-10">
                        <div class="input-group">
                           @Html.TextBoxFor(model => model.Manufacturerdetail.City, new { @class = "form-control col-md-12" ,id="IsCity", tabindex = 7} )
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-6 control-label">State</label>
                     <div class="col-md-10">
                        <div class="input-group selct-opt">
                           @Html.DropDownListFor(m=>m.Manufacturerdetail.State,Model.StateModule,"Select",new { @class = "form-control col-md-12" ,id="IsState",  tabindex = 9, Class="status"} )
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-6 control-label"> Zip Code</label>
                     <div class="col-md-10">
                        <div class="input-group">
                           @Html.TextBoxFor(model => model.Manufacturerdetail.ZipCode, new { @class = "form-control col-md-12", @onkeypress = "return isNumberKey(this,event)",id="IsZipCode" ,tabindex = 11})
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-md-10">
                        <div class="input-group">
                           @Html.CheckBoxFor(model => model.Manufacturerdetail.IsActive, new { @checked = "checked",id="IsActive" ,tabindex = 12})
                           <span class="col-md-10 control-label">Active </span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 col-lg-6">
                  <div class="form-group">
                     <label class="col-md-6 control-label">Phone Number</label>
                     <div class="col-md-10">
                        <div class="input-group">
                           @Html.TextBoxFor(model => model.Manufacturerdetail.PhoneNumber, new { @class = "form-control col-md-12" ,data_mask = "000.000.0000",id="IsPhoneNumber", tabindex = 2})
                           @Html.ValidationMessageFor(Model=>Model.Manufacturerdetail.PhoneNumber,"",new { @class = "text-danger  w-100" })  
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-4 control-label">Fax Number</label>
                     <div class="col-md-10">
                        <div class="input-group">
                           @Html.TextBoxFor(model => model.Manufacturerdetail.Fax, new { @class = "form-control col-md-12" ,data_mask = "000.000.0000",id="IsFax", tabindex = 4})
                           @Html.ValidationMessageFor(Model=>Model.Manufacturerdetail.Fax,"",new { @class = "text-danger  w-100" })  
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-4 control-label">Web Site</label>
                     <div class="col-md-10">
                        <div class="input-group">
                           @Html.TextBoxFor(model => model.Manufacturerdetail.Website, new { @class = "form-control col-md-12",id="IsUrl",tabindex = 6 })
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-6 control-label">Email  </label>
                     <div class="col-md-10">
                        <div class="input-group">
                           @Html.TextBoxFor(model => model.Manufacturerdetail.Email, new { @class = "form-control col-md-12", id="IsEmail", tabindex = 8})
                           @Html.ValidationMessageFor(Model=>Model.Manufacturerdetail.Email,"",new { @class = "text-danger w-100" })  
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-6 control-label">Notes  </label>
                     <div class="col-md-12">
                        <div class="input-group">
                           @Html.TextAreaFor(model => model.Manufacturerdetail.Notes, new { @class = "form-control col-md-12",id="IsNotes" ,tabindex = 10})
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-12">
                  <input type="submit" value="Save" class="btn btnloginColor" id=btn />
               </div>
            </div>
         </div>
         }
      </div>
   </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
   //Initialize the status date,custID,Save button visiblity and count variables
    $(document).ready(function () {
        //Date Added and Format  13/05/2022
        var manufacturerID=  document.getElementById("ManufacturerId").value;
       if (manufacturerID == 0 || manufacturerID == undefined) {
       $('#ManufacturerTilte').append("Add Manufacturer");
   }
   else {
       $('#ManufacturerTilte').append("Edit Manufacturer");
   }
   
     
     $('#ManufacturerNameID').append($("#IsManufacturerName").val())
        
    });
   
    // Only enter the numbers
   function isNumberKey(el, evt) {
          var charCode = (evt.which) ? evt.which : event.keyCode;
          var number = el.value.split('.');
   
          if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
              return false;
          }
          //just one dot
          if (number.length > 1 && charCode == 46) {
              return false;
          }
          //get the carat position
          var caratPos = getSelectionStart(el);
   
          var dotPos = el.value.indexOf(".");
          var maxNum = number[0];
          if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
              return false;
          }
          return true;
      }
      function getSelectionStart(o) {
          if (o.createTextRange) {
              var r = document.selection.createRange().duplicate()
              r.moveEnd('character', o.value.length)
              if (r.text == '') return o.value.length
              return o.value.lastIndexOf(r.text)
          } else return o.selectionStart
      }
</script>