﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,firefox">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" href="~/images/hms_logo21.png">
    <title> MEMRI - @ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/iao-alert.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/css/bootstrap-multiselect.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="~/css/kendo/kendo.common-bootstrap.min.css" rel="stylesheet">
    <link href="~/css/kendo/kendo.bootstrap.min.css" rel="stylesheet">
    <link href="~/css/kendo/kendo.common.css" rel="stylesheet">
    <link href="~/css/kendo/kendo.default.min.css" rel="stylesheet">
    <script src='http://kit.fontawesome.com/a076d05399.js' ></script>
     @*<link href=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        rel="stylesheet">*@
    <style>
        /*.display-hide{
                  display: none;
                }*/
        .nav-bullets {
            list-style-type: none;
        }
        /*#navigate li:hover ul {
                    display: block;
                }*/

    </style>
</head>
<body>


    <header>            
        <div class="header header-section fixed-header">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="header-logo">
                        @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
                        {
                            <a class="header-brand" href="/Customer">
                            <img src="~/images/hms_cmms_2.png" class="header-brand-img" alt="">
                            </a>
                        }
                        else
                        {
                            <a class="header-brand" href="/Inventory">
                            <img src="~/images/hms_cmms_2.png" class="header-brand-img" alt="">
                            </a>
                        }
                        
                    </div>
                    <div class="user-info m-r-14 navbar">
                        <div class="logged-user d-flex align-items-center">
                            <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 6C7.65625 6 9 4.65625 9 3C9 1.34375 7.65625 0 6 0C4.34375 0 3 1.34375 3 3C3 4.65625 4.34375 6 6 6Z" fill="#D56126" />
                                <path d="M0 13C0 9.6875 2.6875 7 6 7C9.3125 7 12 9.6875 12 13C12 13.5531 11.5531 14 11 14H1C0.446875 14 0 13.5531 0 13Z" fill="#D56126" />
                            </svg>
                            <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="customDropdown">
                                <span class="primary-color m-l-7 m-r-9 font14" >  @HttpContextAccessor.HttpContext.Session.GetString("userName")</span> <span class="primary-color arrow-right m-r-14"></span>                               
                            </div>
                            <span class="pipe">|</span> <a id="subLogOut" class="font14" href="@Url.Action("Index", "Login")" onclick="clkLogout()">Logout</a>
                            <div class="dropdown-menu" aria-labelledby="customDropdown">
                                <span class="dropdown-menu-arrow"></span>
                                <a class="dropdown-item" onclick="Changepop()">Change password</a>
                            </div>
                        </div>

                        <div class="logout"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="navigate" class="navbar-collapse ">
            <div class="left-side-menu">
                <div class="headerlist navbar-expand-sm">
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("is_cust_login") != "True")
                    {
                      <ul class="nav navbar-nav ">
                        <li id="navi" class="nav-item dropdown">
                            <a id="CustomerMenu" class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="customer-icon"></span> Customers</a>
                            <ul class="dropdown-menu">
                                <li class="nav-bullets">
                                    <a class="nav-link dropdown-item" id="Customers" href="@Url.Action("Index", "Customer")">Customers</a>
                                </li>
                                <li class="nav-bullets">
                                    <a onclick="clkContract()" class="nav-link dropdown-item" id="CustomerContact" href="@Url.Action("Index", "CustomerContact")">Customer Contact</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a id="Facilities" class="nav-link" href="@Url.Action("Index", "Facilities")" onclick="clkFacility()"><span class="customer-icon"></span> Facilities</a>
                        </li>
                        <li id="navi" class="nav-item dropdown">
                            <a id="InventoryMenu" class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="customer-icon"></span> Inventory</a>
                            <ul class="dropdown-menu">
                                <li class="nav-bullets">
                                    <a onclick="clkContract()" class="nav-link dropdown-item" id="Inventory" href="@Url.Action("Index", "Inventory")">Inventory</a>
                                </li>
                                <li class="nav-bullets">
                                    <a class="nav-link dropdown-item" id="Manufacturer" href="@Url.Action("Index", "InventoryManufacturer")">Manufacturers</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a id="Vendors" class="nav-link" href="@Url.Action("Index", "Vendors")"><span class="customer-icon"></span> Vendors</a>
                        </li>
                        <li class="nav-item">
                            <a onclick="clkContract()" id="Tickets" class="nav-link" href="@Url.Action("Index", "Tickets")"><span class="customer-icon"></span>  Tickets</a>
                        </li>
                        <li class="nav-item">
                            <a onclick="clkContract()" id="Contracts" class="nav-link" href="@Url.Action("Index", "Contracts")"><span class="customer-icon"></span> Contracts</a>
                        </li>

                      </ul>
                    }else
                    {
                        <ul class="nav navbar-nav ">
                            <li class="nav-item">
                                <a onclick="clkContract()" id="Inventory" class="nav-link" href="@Url.Action("Index", "Inventory")"><span class="customer-icon"></span> Inventory</a>
                            </li>                      
                            <li class="nav-item">
                                <a onclick="clkContract()" id="Contracts" class="nav-link" href="@Url.Action("Index", "Contracts")"><span class="customer-icon"></span> Contracts</a>
                            </li>
                            <li class="nav-item">
                                <a onclick="clkContract()" id="Tickets" class="nav-link" href="@Url.Action("Index", "Tickets")"><span class="customer-icon"></span>  Tickets</a>
                            </li>
                        </ul>
                    }

                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Modal Change password Start-->
    <div class="modal fade bd-example-modal-lg" id="ChangepasswordModal" tabindex="-1" role="dialog" aria-labelledby="ChangepasswordTilte" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content forget-content">
                <div class="modal-header forget-header">
                    <h5 class="modal-title modalheader">Change Password</h5>
                    <button type="button" class="close modalheader" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 1.41562L6.41563 5L10 8.58438L8.58438 10L5 6.41563L1.41562 10L0 8.58438L3.58437 5L0 1.41562L1.41562 0L5 3.58437L8.58438 0L10 1.41562Z" fill="white" />
                            </svg>
                        </span>
                    </button>
                </div>
                <div class="modal-body forgetpwd">
                    <div class="d-flex flex-wrap justify-content-center m-t-20">
                        <div class="password-field new">
                            <label class="logintext">
                                New Password
                                <input class="form-control" type="password" id="NewPassword" required="required" onchange="Confirmvalidation()">
                                <span class="logintext text-danger" id="Pwderrortext1">Your password must be at least 8 characters long.</span>
                                <span class="logintext text-danger" id="Pwderrortext2">Passwords must contain number, uppercase, lowercase and special character.</span>
                            </label>
                        </div>
                        <div class="password-field confirm">
                            <label class="logintext">
                                Confirm Password
                                <input class="form-control" type="password" id="ConfirmPassword" required="required" onchange="changePwdvalidation()">
                                <span class="logintext text-danger" id="confirmerrortext">The new password and confirmation password do not match.</span>
                            </label>
                        </div>
                    </div>
                    <div class="passwordmsg">
                        <label class="logintext m-t-20 text-center">Message: Your password must contain at least 8 characters.</label>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btnloginColor m-b-20" onclick="Changepwd()">Change Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Change password End-->
    @*  <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2022 - HMSMemri - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="https://kendo.cdn.telerik.com/2022.2.510/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2022.2.510/js/kendo.all.min.js"></script>
    <script src="~/js/jquery.loading.block.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/iao-alert.jquery.js"></script>
    <script src="~/css/bootstrap-multiselect.js"></script>
    <script src="~/js/jquery.mask.js"></script>
     <script src="~/js/bootstrap-datepicker.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>*@
    <script src="~/js/kendo/kendo.all.min.js"></script>
    <script src="~/js/kendo/kendo.aspnetmvc.min.js"></script>
    <script src="~/js/kendo/kendo.web.min.js"></script>
    <script src="~/js/kendo/kendo.culture.en-US.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>        
    <!-- Include Moment.js CDN -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js">
    </script>
 
    <!-- Include Bootstrap DateTimePicker CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"
        rel="stylesheet">
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js">
        </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    $(document).ready(function() {

        $("#UserNameId").append(localStorage.getItem("UserName"));

        var thisPage = GetCurrentPageName();
        if (thisPage == "/") {
            window.history.forward();
        }
        if (thisPage.includes("customercontact")) {
            $("#CustomerContact,#CustomerMenu").addClass('active');
            $("#Customers,#Vendors,#Tickets,#Contracts,#Facilities,#Inventory,#Manufacturer").remove('active');
        }else if (thisPage.includes("customer")) {
            $("#Customers,#CustomerMenu").addClass('active');
            $("#Inventory,#Vendors,#Tickets,#Contracts,#Facilities,#Manufacturer,#CustomerContact").remove('active');
        } else if (thisPage.includes("manufacturer")) {
            $("#Manufacturer,#InventoryMenu").addClass('active');
            $("#Customers,#Vendors,#Tickets,#Contracts,#Facilities,#Inventory,#CustomerContact").remove('active');
        } else if (thisPage.includes("inventory")) {
            $("#Inventory,#InventoryMenu").addClass('active');
            $("#Customers,#Vendors,#Tickets,#Contracts,#Facilities,#Manufacturer,#CustomerContact").remove('active');
        } else if (thisPage.includes("vendors") || thisPage.includes("vendor")) {
            $("#Vendors").addClass('active');
            $("#Customers,#Inventory,#Tickets,#Contracts,#Facilities,#Manufacturer,#CustomerContact").remove('active');
        } else if (thisPage.includes("tickets")) {
            $("#Tickets").addClass('active');
            $("#Customers,#Inventory,#Vendors,#Contracts,#Facilities,#Manufacturer").remove('active');
        } else if (thisPage.includes("contracts") || thisPage.includes("addeditcontract")) {
            $("#Contracts").addClass('active');
            $("#Customers,#Inventory,#Vendors,#Tickets,#Facilities,#Manufacturer").remove('active');
        } else if (thisPage.includes("facilities") || thisPage.includes("facility")) {
            $("#Facilities").addClass('active');
            $("#Customers,#Inventory,#Vendors,#Tickets,#Contracts,#Manufacturer").remove('active');
        }
    });

    function GetCurrentPageName() {
        var sPath = window.location.pathname;
        var sPage1 = sPath.split('/');
        var sPage = sPage1[sPage1.length - 2] + '/' + sPage1[sPage1.length - 1];
        return sPage.toLowerCase();
    }
    function clkLogout() {
        $.ajax({
            type: "POST",
            url: "/Login/Logout",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {
            },
            failure: function(response) {
            },
            error: function(response) {
            }
        });
    }

    function clkFacility() {
        $.ajax({
            type: "POST",
            url: "/Facilities/CustFacilitySessionclear",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {
            },
            failure: function(response) {
            },
            error: function(response) {
            }
        });
    }

    function clkContract() {
        sessionStorage.clear();
    }
</script>