﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMS :: Login</title>
    <link href="~/css/site.css" rel="stylesheet">
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
    <script src="~/lib/bootstrap/bootstrap.min.js"></script>
</body>
</html>
<style type="text/css">
    header, footer {
        display: none !important
    }     
</style>
