﻿@{
ViewData["Title"] = "Login";
//Layout = "_LoginLayout";
}
<html>
   <body>
      <div class="login-form">
         <form>
            <div class="text-center logo">
                <img src="~/images/hms-01.png" alt="Logo" />
            </div>
            <div class="row login-form-row">
               <div class="col-lg-5 col-md-5 p-lr-5 p-r-5" id="username">
                  <label class="logintext"><span id="userlable">Username</span>
                  <input class ="form-control" type="text" id="UserName"  required="required" onblur="Uservalidation()">
                  </label>        
                  <label class="text-danger logintext" id="userid">Please enter username</label>
               </div>
               <div class="col-lg-5 col-md-5 p-lr-5 password">
                  <label class="logintext"><span id="pwdlable">Password </span> 
                   <span class="fpassword">
                  <a onclick="Forgotpop()">Forgot password?</a>
                  </span>
                  <input class ="form-control" type="password" id="Password" required="required" onchange="Pwdvalidation()">
                  </label>
                  <label class="text-danger logintext" id="pwdid">Please enter password</label>
               </div>
               <div class="col-lg-2 col-md-2 p-lr-0 submit-btn">
                  <button type="button" class="btn btnloginColor" onclick="Signin()">Login</button>
               </div>
            </div>
         </form>
         <div class="disc-button-01 d-flex justify-content-center">
            <div class="disc-button">
               <button type="button" class="btn btn-light loginbtn" data-toggle="modal" data-target="#disclaimereModal" >Disclaimer</button>             
            </div>
            <div class="disc-button">
               <button type="button" class="btn btn-light loginbtn" data-toggle="modal" data-target="#trademarksModal">Trademarks</button>  
            </div>
            <div class="disc-button">
               <button type="button" class="btn btn-light loginbtn" onclick="CustomerLogin()">Customer Login</button>  
            </div>
         </div>
                
         <div class="text-center logo-01"> <img src="~/images/hms_logo.png"></div>
      </div>

      <!-- Modal Disclaimer Start-->
      <div class="modal fade bd-example-modal-lg" id="disclaimereModal" tabindex="-1" role="dialog" aria-labelledby="disclaimereModalTilte" aria-hidden="true">
         <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content Disclaimer-content">
               <div class="modal-header" style="background: #D56126;">
                  <h5 class="modal-title modalheader">Disclaimer</h5>
                  <button type="button" class="close modalheader" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10 1.41562L6.41563 5L10 8.58438L8.58438 10L5 6.41563L1.41562 10L0 8.58438L3.58437 5L0 1.41562L1.41562 0L5 3.58437L8.58438 0L10 1.41562Z" fill="white"/>
</svg></span>
                  </button>
               </div>
               <div class="modal-body Disclaimer-body">
                  <div class="Disclaimertext">
                     <b>By Entering This Site, You Accept Our Disclaimer:</b>  HMS Health is a registered Missouri Corporation (the "Provider"), which provides online information (the "Service"). By using the Service you agree that the Provider will not be held responsible in any way for the Services that you request or receive. 
                  </div><br>
                  <div class="Disclaimertext">
                     THE PROVIDER MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THE SITE, THE INFORMATION, CONTENT, MATERIALS OR PRODUCTS INCLUDED ON THE SITE. TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, THE PROVIDER DISCLAIMS ALL WARRANTIES, EXPRESS, IMPLIED, INCLUDING IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. THE PROVIDER WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE INCLUDING, BUT NOT LIMITED TO, DIRECT, INDIRECT, INCIDENTAL, PUNITIVE AND/OR CONSEQUENTIAL DAMAGES. 
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal Disclaimer End-->
           
      <!-- Modal Trademarks  Start-->
      <div class="modal fade bd-example-modal-lg" id="trademarksModal" tabindex="-1" role="dialog" aria-labelledby="trademarksModalTilte" aria-hidden="true">
         <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content Disclaimer-content">
               <div class="modal-header" style="background: #D56126;">
                  <h5 class="modal-title modalheader">Trademarks</h5>
                  <button type="button" class="close modalheader" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10 1.41562L6.41563 5L10 8.58438L8.58438 10L5 6.41563L1.41562 10L0 8.58438L3.58437 5L0 1.41562L1.41562 0L5 3.58437L8.58438 0L10 1.41562Z" fill="white"/>
</svg></span>
                  </button>
               </div>
               <div class="modal-body Disclaimer-body">
                  <div class="Disclaimertext">
                     Trademarks The mark "MEMRI" is protected by the trademark laws of the United States (and by international trademark laws). 
                  </div><br>
                  <div class="Disclaimertext">
                     Applicable Law As such, the laws of the State of Missouri govern these disclaimers, terms and conditions, without giving effect to any principles of conflicts of laws. The exclusive jurisdiction of any dispute, action or proceeding arising out of or related to any transaction in connection with or pertaining to this site shall be the state or federal courts located in St. Charles County, Missouri, USA.
                  </div><br />
                  <div class="Disclaimertext">
                     <b>PLEASE NOTE:</b> Your information has been logged: <span id="IPAddress"></span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal Trademarks End-->

      <!-- Modal Forgot password Start-->
      <div class="modal fade bd-example-modal-lg" id="ForgotpasswordModal" tabindex="-1" role="dialog" aria-labelledby="ForgotpasswordTilte" aria-hidden="true">
         <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content forget-content">
               <div class="modal-header forget-header">
                  <h5 class="modal-title modalheader">Forgot Password?</h5>
                  <button type="button" class="close modalheader" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 1.41562L6.41563 5L10 8.58438L8.58438 10L5 6.41563L1.41562 10L0 8.58438L3.58437 5L0 1.41562L1.41562 0L5 3.58437L8.58438 0L10 1.41562Z" fill="white"/></svg>
                  </span>
                  </button>
               </div>
               <div class="modal-body forgetpwd">
                  <div class="forgetpwdtext">
                     Enter your email and we’ll send you a link to reset your password.
                  </div>
                  <div class="Disclaimertext">
                     <div class="row forget-row justify-content-center">
                        <div class="col-lg-7 col-md-7 forgetpwd-01">
                           <label class="logintext"><span id="emailable">Email</span>
                           <input class ="form-control" type="email" id="Email"  required="required" onchange="checkEmail()">
                           </label>                   
                        </div>
                        <div class="col-lg-4 col-md-4 forgetpwd-02">
                           <button type="button" class="btn btnloginColor" onclick="Resetpwd()">Reset Password</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal Forgot password End-->

      <!-- Modal Change password Start-->
      <div class="modal fade bd-example-modal-lg" id="ChangepasswordModal" tabindex="-1" role="dialog" aria-labelledby="ChangepasswordTilte" aria-hidden="true">
         <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content forget-content">
               <div class="modal-header forget-header">
                  <h5 class="modal-title modalheader">Change Password</h5>
                  <button type="button" class="close modalheader" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10 1.41562L6.41563 5L10 8.58438L8.58438 10L5 6.41563L1.41562 10L0 8.58438L3.58437 5L0 1.41562L1.41562 0L5 3.58437L8.58438 0L10 1.41562Z" fill="white"/>
                      </svg>
                  </span>
                  </button>
               </div>
              <div class="modal-body forgetpwd">
                     <div class="d-flex flex-wrap justify-content-center m-t-20">
                        <div class="password-field new">
                           <label class="logintext">New Password
                           <input class ="form-control" type="password" id="NewPassword" required="required" onchange="Confirmvalidation()">
                            <span class="logintext text-danger" id="Pwderrortext1">Your password must be at least 8 characters long.</span>
                            <span class="logintext text-danger" id="Pwderrortext2">Passwords must contain number, uppercase, lowercase and special character.</span>
                           </label>                   
                        </div>
                        <div class="password-field confirm">
                            <label class="logintext">Confirm Password   
                            <input class ="form-control" type="password" id="ConfirmPassword" required="required" onchange="changePwdvalidation()">
                            <span class="logintext text-danger" id="confirmerrortext">The new password and confirmation password do not match.</span>
                            </label>
                        </div>
                     </div>
                     <div class="passwordmsg">
                        <label class="logintext m-t-20 text-center">Message: Your password must contain at least 8 characters.</label>                   
                     </div>
                     <div class="text-center">
                        <button type="button" class="btn btnloginColor m-b-20" onclick="Changepwd()">Change Password</button>
                     </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal Change password End-->
   </body>
</html>

<style type="text/css">
    header, footer {
        display: none !important
    }
    .inputError {
        border: 1px solid #F31700 !important;
    }     
</style>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> *@
<script>
     
    /* Add "https://api.ipify.org?format=json" statement
               this will communicate with the ipify servers in
               order to retrieve the IP address $.getJSON will
               load JSON-encoded data from the server using a
               GET HTTP request */
                
    $.getJSON("https://api.ipify.org?format=json", function(data) {
        $("#IPAddress").html(data.ip);
    }) 
</script>

<script>

    $(document).on('keyup keypress', 'form input[type="text"]', function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            return false;
        }
    });

    $(document).on("keydown", function (event) {
        if (event.which === 13){
           if($('#ForgotpasswordModal:visible').length && $('body').hasClass('modal-open')){
               Resetpwd();
           }else if($('#ChangepasswordModal:visible').length && $('body').hasClass('modal-open')){
               Changepwd();
           }else{
               Signin();
           }
        }
    });

    document.getElementById("userid").hidden=true;
    document.getElementById("pwdid").hidden=true;
    document.getElementById("Pwderrortext1").hidden=true;
    document.getElementById("Pwderrortext2").hidden=true;
    document.getElementById("confirmerrortext").hidden=true;  
    function Forgotpop(){
        $("#ForgotpasswordModal").modal();
        $('#Email').val(null);
        document.getElementById("emailable").classList.remove("text-danger");
        document.getElementById("Email").classList.remove("inputError");
    }

    function CustomerLogin(){
        window.location.href = "/Login/CustomerLogin";
    }
</script>