﻿@model HMSMemri.Models.GetCustomerContactResponse
@{
    ViewData["Title"] = "Customer Contact";
    Layout = "_Layout";

}
<div class="headertag">
    <a class="header-brand" href="/Customer">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
        </svg>
    </a>
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
    <a class="header-brand headtagname"href="/CustomerContact">Customer Contact</a>
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
    <span class="header-brand headtagname" id="ContactTilte"> </span>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="add-edit-section">
            @using (Html.BeginForm("AddEditContact", "CustomerContact", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "AddEditCustomerContactForm", onSubmit = "return SaveCustomerContactForm()" }))
            {
               if (@Model.CustomerContactDetail != null && @Model.CustomerContactDetail.cust_contact_id > 0)
                {
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <h4 class="form-page-title">Edit Customer Contact  - @Html.DisplayFor(model => model.CustomerContactDetail.FirstName)</h4>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <h4 class="form-page-title">Add Customer Contact</h4>
                        </div>
                    </div>
                }<hr>
                @Html.HiddenFor(model => model.CustomerContactDetail.cust_contact_id, new {id="ContactId" })
                @Html.HiddenFor(model => model.CustomerContactDetail.cust_id, new {id="CustId" })
                @Html.HiddenFor(model => model.CustomerContactDetail.facility_id, new {id="FacilityId" })
                @Html.HiddenFor(model => model.CustomerContactDetail.facility_contact_id, new {id="FacilityContactId" })
                @Html.HiddenFor(model => model.CustomerContactDetail.ClientPassword, new {id="OldIsClientPassword" })

                <div class="form-section">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                           
                            <div class="form-group">
                                <label class="col-md-6 control-label"> First Name <span class="spanvalidate"> * </span></label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.CustomerContactDetail.FirstName, new { @class = "form-control col-md-12",id="IsFirstName",tabindex = 1 })
                                        @Html.ValidationMessageFor(Model=>Model.CustomerContactDetail.FirstName,"",new { @class = "text-danger w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> Last Name<span class="spanvalidate"> * </span> </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.CustomerContactDetail.LastName, new { @class = "form-control col-md-12",id="IsLastName",tabindex = 3})
                                        @Html.ValidationMessageFor(Model=>Model.CustomerContactDetail.LastName,"",new { @class = "text-danger w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> Title</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.CustomerContactDetail.Title, new { @class = "form-control col-md-12",id="IsTitle",tabindex = 5 })
                                        @Html.ValidationMessageFor(Model=>Model.CustomerContactDetail.Title,"",new { @class = "text-danger w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> Phone</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.CustomerContactDetail.PhoneNumber, new { @class = "form-control  col-md-12",id="IsPhoneNumber",data_mask = "000.000.0000",tabindex = 7 })
                                        @Html.ValidationMessageFor(Model=>Model.CustomerContactDetail.PhoneNumber,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-6 control-label"> Cell </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.CustomerContactDetail.CellPhone, new { @class = "form-control col-md-12",data_mask = "000.000.0000",id="IsCellPhone",tabindex = 9 })
                                        @Html.ValidationMessageFor(Model=>Model.CustomerContactDetail.CellPhone,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>                            
                            <div id="LoginShow">
                                <div class="form-group">
                                    <label class="col-md-6 control-label"hidden> Client Login  </label>
                                    <div class="col-md-10">
                                        <div class="input-group" hidden>
                                            @Html.TextBoxFor(model => model.CustomerContactDetail.ClientLogin, new { @class = "form-control col-md-12",id="IsClientLogin"})
                                            @Html.ValidationMessageFor(Model=>Model.CustomerContactDetail.ClientLogin,"",new { @class = "text-danger w-100" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6 control-label"> Password <span class="spanvalidate"> * </span> </label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.CustomerContactDetail.ClientPassword, new {@onfocus = "this.type='password'" ,@autocomplete = "off",@class = "form-control col-md-12",id="IsClientPassword",@type="Password" })
                                            @Html.ValidationMessageFor(Model=>Model.CustomerContactDetail.ClientPassword,"",new { @class = "text-danger w-100" })
                                            <span class="text-danger w-100" id="Pwderrortext1">Your password must be at least 8 characters long.</span>
                                            <span class="text-danger w-100" id="Pwderrortext2">Passwords must contain number, uppercase, lowercase and special character.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">                                   
                                    <div class="col-md-10">
                                        <div class="input-group flex-nowrap">
                                        @Html.CheckBoxFor(model => model.CustomerContactDetail.IsActive, new { @checked = "checked",id="IsActive"})
                                        <span class="control-label col-md-10">Active </span>
                                        </div>
                                   </div>
                                </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-6 control-label"> Fax</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.CustomerContactDetail.FaxNumber, new { @class = "form-control  col-md-12",data_mask = "000.000.0000",id="IsFaxNumber",tabindex = 2 })
                                        @Html.ValidationMessageFor(Model=>Model.CustomerContactDetail.FaxNumber,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label"> Email <span class="spanvalidate"> * </span></label>
                                <div class="col-md-10" >
                                    <div class="input-group" >
                                        @*<input type='email' autocomplete='off' />*@
                                        @Html.TextBoxFor(model => model.CustomerContactDetail.EmailAddress, new {@onfocus = "this.type='email'" ,@autocomplete = "off", @class = "form-control  col-md-12 ",id="IsEmailAddress",tabindex = 4 })
                                        @Html.ValidationMessageFor(Model=>Model.CustomerContactDetail.EmailAddress,"",new { @class = "text-danger  w-100" } )

                                        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label">Alt Num 1</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.CustomerContactDetail.AltNumber1, new { @class = "form-control  col-md-12",data_mask = "000.000.0000",id="IsAltNumber1",tabindex = 6 })
                                        @Html.ValidationMessageFor(Model=>Model.CustomerContactDetail.AltNumber1,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label">Alt Num 2</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.CustomerContactDetail.AltNumber2, new { @class = "form-control col-md-12",data_mask = "000.000.0000",id="IsAltNumber2",tabindex = 8 })
                                        @Html.ValidationMessageFor(Model=>Model.CustomerContactDetail.AltNumber2,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label">Contact Type<span class="spanvalidate"> * </span></label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(model => model.CustomerContactDetail.ContactType,Model.ContactModule,new { @class = "form-control" ,id="IsContactType",  tabindex = 9, Class="status"})
                                        @Html.ValidationMessageFor(Model=>Model.CustomerContactDetail.ContactType,"",new { @class = "text-danger w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label">Notes </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextAreaFor(model => model.CustomerContactDetail.Notes, new { @class = "form-control col-md-12",id="IsNotes",tabindex = 10 })
                                        @Html.ValidationMessageFor(Model=>Model.CustomerContactDetail.Notes,"",new { @class = "text-danger  w-100" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="submit" value="Save" class="btn btnloginColor" id="btn" />
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

   document.getElementById("Pwderrortext1").hidden = true;
   document.getElementById("Pwderrortext2").hidden = true;

     var contact_id=  document.getElementById("ContactId").value;
     var facility_id = document.getElementById("FacilityId").value;
     $('#LoginShow').show();
     

    if (contact_id == 0 || contact_id == undefined) {
         $('#ContactTilte').append("Add Customer Contact");
    }
    else {
         $('#ContactTilte').append("Edit Customer Contact");
    }   
     
</script>

