﻿@model HMSMemri.Models.GetFacilityResponse
@{
    ViewBag.Title = "AddEditFacility";
    Layout = "_Layout";
}

<div class="headertag">
    <a class="header-brand" href="/Customer">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
        </svg>
    </a>
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
    <a class="header-brand headtagname" href="/Facilities">Facilities</a>
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
    <span class="header-brand headtagname" id="FacilityTilte"></span>
</div>
@* Add/Edit  Facility UI*@
<div class="row">
    <div class="col-md-12">
        <div class="add-edit-section">
            @using (Html.BeginForm("AddEditFacility", "Facilities", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "add-facility", onSubmit = "return SubmitFormFacility(this)" }))
            {
                if (@Model.facilitydetail != null && @Model.facilitydetail.FacilityId > 0)
                {
                    <div class="editfacility m-t-20">
                        <div class="row" id="IsEditshown">
                            <div class="col-md-9 col-lg-9">
                                <div class="editfacility-left m-l-15">
                                    <h5 class="customer-name">Edit Facility -  @Html.DisplayFor(model => model.facilitydetail.FacilityName)</h5>
                                    <div class="facility-field">
                                       <div><a class="header-link headtagname k-link"  onclick="clkInventory()">Inventory </a><span> Count: (@Html.DisplayFor(model => model.facilitydetail.Inventory_cnt))  Inventory items associated with this facility.</span> </div>
                                        <div><a class="header-link headtagname k-link"onclick="clkTicket()">Ticket </a> <span>Count: (@Html.DisplayFor(model => model.facilitydetail.TicketCount)) tickets associated with this facility.</span> </div>
                                        <div><a class="header-link headtagname" href="#">Open Ticket </a><span> Count: (@Html.DisplayFor(model => model.facilitydetail.OpenTicketCount))  Open tickets associated with this facility.</span> </div>
                                        <div><a class="header-link headtagname" href="@Url.Action("Index", "Contracts")" onclick="clkContracts()">Contract </a> <span> Count: (@Html.DisplayFor(model => model.facilitydetail.ContractCount)) Contracts  associated with this facility.</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <span id="FacilityId"> </span>
                            <h4 class="form-page-title">Add Facility</h4>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                <hr>
                @Html.HiddenFor(model => model.facilitydetail.FacilityId, new {id="FacilityId" })
                @Html.HiddenFor(model => model.facilitydetail.cust_id, new {id="CustomerId" })
                @Html.HiddenFor(model => model.facilitydetail.ContactCount, new {id="ContactCountId" })
                @Html.HiddenFor(model => model.facilitydetail.Inventory_cnt, new {id="InventoryCountId" })
                @Html.HiddenFor(model => model.facilitydetail.TicketCount, new {id="TickeCountId" })
                @Html.HiddenFor(model => model.facilitydetail.OpenTicketCount, new {id="OpenTicketCountId" })
                @Html.HiddenFor(model => model.facilitydetail.ContractCount, new {id="ContractCountId" })
                <div class="form-section">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                             <div class="form-group" >
                                <label class="col-md-12 control-label">Customer <span class="spanvalidate"> * </span></label>
                                <div class="col-md-10" >
                                    <div class="input-group selct-opt" id="divCustomerDrop">
                                        @Html.DropDownListFor(m=>m.facilitydetail.cust_id,Model.CustomerDropdownModule,new { @class = "form-control" ,id="IsCustomer", tabindex = 1, Class="status"} )
                                    </div>
                                    @Html.ValidationMessageFor(model => model.facilitydetail.cust_id, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12 control-label">Facility Name <span class="spanvalidate"> * </span></label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.facilitydetail.FacilityName, new { @class = "form-control  col-md-12", id="IsFacilityName",tabindex = 3 })
                                        @Html.ValidationMessageFor(model => model.facilitydetail.FacilityName, "", new { @class = "text-danger w-100" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 control-label">Address 1 </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.facilitydetail.Address1, new { @class = "form-control",id="IsAddress1", tabindex = 5})
                                        @Html.ValidationMessageFor(model => model.facilitydetail.Address1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 control-label">Address 2 </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.facilitydetail.Address2, new { @class = "form-control",id="IsAddress2",tabindex = 7})
                                        <label class="control-label" id=lblAddress2></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 control-label">City </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.facilitydetail.City, new { @class = "form-control" ,id="IsCity",tabindex = 9} )
                                        @Html.ValidationMessageFor(model => model.facilitydetail.City, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 control-label">State </label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(m=>m.facilitydetail.State,Model.StateModule,new { @class = "form-control" ,id="IsState", tabindex = 10, Class="status"} )
                                        @Html.ValidationMessageFor(model => model.facilitydetail.State, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 control-label"> Zip Code </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.facilitydetail.ZipCode, new { @class = "form-control", @onkeypress = "return isNumberKey(this,event)",id="IsZipCode",tabindex = 11})
                                        @Html.ValidationMessageFor(model => model.facilitydetail.ZipCode, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" hidden>
                                <label class="col-md-12 control-label">Country</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.facilitydetail.Country, new { @class = "form-control",id="IsCountry",tabindex = 8 , @Value = "US" })
                                        <label class="control-label" id=lblCountry></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-12 control-label">Phone Number </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.facilitydetail.PhoneNumber, new { @class = "form-control" ,data_mask = "000.000.0000",id="IsPhoneNumber",tabindex = 2})
                                        @Html.ValidationMessageFor(model => model.facilitydetail.PhoneNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 control-label">Fax</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.facilitydetail.Fax, new { @class = "form-control" ,data_mask = "000.000.0000",id="IsFax" ,tabindex = 4})
                                        @Html.ValidationMessageFor(model => model.facilitydetail.Fax, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 control-label">Facility Status <span class="spanvalidate"> * </span></label>
                                <div class="col-md-10">
                                    <div class="input-group selct-opt">
                                        @Html.DropDownListFor(m=>m.facilitydetail.FacilityStatus,Model.FacilityStatusModule,new { @class = "form-control" ,id="IsFacilityStatus", tabindex = 6, Class="status"} )
                                        <label class="control-label" id=lblFacilityStatus></label>
                                        <div class="input-group" hidden>
                                            <span>Last Status Change:</span>
                                            <label style="font-weight:bold" id=lblStatusChange></label>
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.facilitydetail.FacilityStatus, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 control-label">Assigned Tech</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.facilitydetail.Tech_id, new { @class = "form-control",id="IsAssignedTech",tabindex = 8,@onkeypress="return isNumber(event)"})
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 control-label">Assigned Sales</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.facilitydetail.Sales_rep_id, new { @class = "form-control",id="IsAssignedSales",tabindex = 10,@onkeypress="return isNumber(event)"})
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 control-label">Notes </label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        @Html.TextAreaFor(model => model.facilitydetail.Notes, new { @class = "form-control",id="IsNotes" , tabindex = 12})
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="submit" value="Save" class="btn btnloginColor" id=btn_Save tabindex="15" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

@*Javascript code start here*@
    //Initialize the status date,FacilityID and count variables
    $(document).ready(function() {
        var currentdate = new Date();
        var datetime = currentdate.getDate() + "/"
            + (currentdate.getMonth() + 1) + "/"
            + currentdate.getFullYear() + "  "
            + currentdate.getHours() + ":"
            + currentdate.getMinutes() + ":"
            + currentdate.getSeconds();

        $('#FacilityNameId').append($("#IsFacilityName").val())
        $('#ContactCount').append($("#ContactCountId").val())
        $('#Inventory_cnt').append($("#InventoryCountId").val())
        $('#TicketCount').append($("#TickeCountId").val())
        $('#OpenTicketCount').append($("#OpenTicketCountId").val())
        $('#ContractCount').append($("#ContractCountId").val())
    });
    var FcId = document.getElementById("FacilityId").value;
    if (FcId == 0 || FcId == undefined) {
        $('#FacilityTilte').append("Add Facility");
        $("#IsCustomer").prop( "disabled", false );
    }
    else {
        $('#FacilityTilte').append("Edit Facility");
         $("#IsCustomer").prop( "disabled", true );
    }

    function isNumberKey(el, evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        var number = el.value.split('.');

        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        //just one dot
        if (number.length > 1 && charCode == 46) {
            return false;
        }
        //get the carat position
        var caratPos = getSelectionStart(el);

        var dotPos = el.value.indexOf(".");
        var maxNum = number[0];
        if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
            return false;
        }
        return true;
    }

    function getSelectionStart(o) {
        if (o.createTextRange) {
            var r = document.selection.createRange().duplicate()
            r.moveEnd('character', o.value.length)
            if (r.text == '') return o.value.length
            return o.value.lastIndexOf(r.text)
        } else return o.selectionStart
    }

    // Only number validation
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
    function clkContracts() {
        var custID = document.getElementById("CustomerId").value;
        var facilityID = document.getElementById("FacilityId").value;

        sessionStorage.setItem("cust_id", custID);
        sessionStorage.setItem("facility_id", facilityID);
    }
   
    function clkInventory(){
         var customerid= document.getElementById("CustomerId").value;
        var facilityid= document.getElementById("FacilityId").value;
          sessionStorage.setItem("inventory_custid", customerid);
          sessionStorage.setItem("inventory_fac_id", facilityid);
         window.location.href = "@Url.Action("Index", "Inventory")";           
    }

    function clkTicket(){
         var CustomerID= document.getElementById("CustomerId").value;
         var FacilityID= document.getElementById("FacilityId").value;
          sessionStorage.setItem("Ticket_cus_Id", CustomerID);
          sessionStorage.setItem("Ticket_fac_id", FacilityID);
             window.location.href = "@Url.Action("Index", "Tickets")";
    }
	
</script>