﻿@{
    ViewData["Title"] = "Facilities";
    Layout = "_Layout";
    bool showAll = false;
    bool IsinventoryshowAll = false;
}

<div class="headertag">
    <a class="header-brand" href="/Customer">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 8.00009C14 8.55321 13.5531 9.00009 13 9.00009C12.7156 9.00009 12.4562 8.88134 12.275 8.68759L12 8.41571V13.0001C12 13.5532 11.5531 14.0001 11 14.0001H9C8.44687 14.0001 8 13.5532 8 13.0001V10.0001H6V13.0001C6 13.5532 5.55312 14.0001 5 14.0001H3C2.44688 14.0001 2 13.5532 2 13.0001V8.39384L1.74062 8.67196C1.55625 8.87509 1.29375 9.00009 1 9.00009C0.446875 9.00009 0 8.55321 0 8.00009C0 7.73446 0.103125 7.49697 0.26875 7.31572L0.275 7.30946C0.284375 7.30009 0.296875 7.28759 0.30625 7.27821L6.275 1.3001C6.28438 1.29072 6.29375 1.28135 6.30625 1.26885C6.4875 1.09697 6.73125 0.990723 7 0.990723C7.28438 0.990723 7.54063 1.10947 7.72188 1.3001L13.6969 7.28134C13.7031 7.28759 13.7125 7.29697 13.7188 7.30322L13.7281 7.31259C13.8969 7.49384 14 7.73446 14 8.00009Z" fill="#424242" />
        </svg>
    </a>
    <span class="r-arrow">
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939331 1.06066L4.87871 5.00003L0.939331 8.93944L1.99999 10L6.99999 5.00003L1.99999 0L0.939331 1.06066Z" fill="#424242" />
        </svg>
    </span>
    <span class="headtagname">Facilities</span>
</div>

@*New Facilities button*@
<div class="d-flex justify-content-between flex-wrap">
        <div class="d-flex align-items-center flex-wrap">
            <a href="@Url.Action("AddEditFacility", "Facilities")" class="btn btnDefault newcustomer m-t-15 m-r-4"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 4V0H4V4H0V6H4V10H6V6H10V4H6Z" fill="white" /></svg> New Facility</a>
            
            <div class="k-button-group save-load-btn">
                <button id="save" class="btn btnDefault m-t-15">Save View</button>
                <button id="load" class="btn btnDefault m-t-15 d-none">Load State</button>
            </div>
        <div class="d-flex justify-content-between flex-wrap">
              <a href="#" onclick="onclickExport()" class="right-arrow m-t-15 export-link"><svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.00007 14C1.8657 14 1.73445 13.975 1.60945 13.9219C1.4907 13.8719 1.38132 13.8 1.2907 13.7063C1.20007 13.6156 1.12507 13.5062 1.07507 13.3875C1.02195 13.2656 0.996948 13.1312 0.996948 12.9969V5C0.996948 4.86562 1.02195 4.73438 1.07507 4.60938C1.12507 4.49062 1.19695 4.38125 1.2907 4.29063C1.38132 4.2 1.4907 4.125 1.60945 4.075C1.73132 4.02187 1.8657 3.99687 2.00007 3.99687H5.00945V4.99375H2.01257V13.0031H11.9844V4.99687H8.98757V4H12.0001C12.5532 4 13.0001 4.44687 13.0001 4.99687C13.0001 4.99687 13.0001 4.99687 13.0001 5V13C13.0001 13.5531 12.5532 14 12.0032 14C12.0032 14 12.0032 14 12.0001 14H2.00007ZM8.00007 9V2.9375H10.0157L7.00007 0L3.98445 2.9375H6.00007V9H8.00007Z" fill="#D56126" /></svg> Export</a>
        </div>
        </div>

  <div class="toolbar d-flex flex-grow-1">
        <div class="right-toolbar-only d-flex align-items-end m-t-15">
            <div class="custom-input-group d-flex flex-wrap flex-sm-nowrap">
                <span class="custom-input-group checkbox-group">
                    <label for="showAll" class="d-flex align-items-center"><input name="showAll" id="showAll" type="checkbox" @(showAll ? "checked" : "") onclick="toggleCheckbox(this)" /> Include Inactive Facilities</label>
                </span>
                <span class="custom-input-group checkbox-group">
                      <label for="IsfacilityshowAll" class="d-flex align-items-center"><input name="IsinventoryshowAll" id="IsinventoryshowAll" type="checkbox" @(IsinventoryshowAll ? "checked" : "") onclick="IsinventorytoggleCheckbox(this)" />  Include Inactive Inventory</label>
                </span>
            </div>
            <div class="custom-input-group search-block">
                <span class="input-group-btn">
                    <input type="text" id="filter" class="form-control search-field" oninput="filter()" placeholder="Search" />
                </span>
            </div>     
            <input type="text" class="text-hide" />
        </div>
    </div>
</div>
<script type="text/x-kendo-template" id="toolbarInventory">
    <div class="toolbar d-flex">
        <div class="right-toolbar-only">
            <div class="custom-input-group">
        </div>
                
            </div>
        </div>
    </div>
</script>

<div id="container">
    <div id="gridFacilities" class="custom-grid m-t-15"></div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/jquery.loading.block.js"></script>
<script type="text/javascript">
// Initialize the grid values
$(document).ready(function () {
    //Load the Facilities Grid
    loadData(false, false);

      var filterOption = {
             extra: false,
             operators: {
                 string: {
                     eq: "Is Equal To",
                     startswith: "Starts With",
                     contains: "Contains",
                     endswith: "Ends With"
                 }
             }
         };
         var dataSource = new kendo.data.DataSource({});
         $("#gridFacilities").kendoGrid({
             dataSource: dataSource,
             toolbar: kendo.template($("#toolbarInventory").html()),
             sortable: true,
             resizable: true,
             pageable: {
                 refresh: true,
                 pageSizes: true,
                 buttonCount: 5,
                 messages: { itemsPerPage: "Items Per Page" },
                 pageSizes: [10,15, 25, 50, 100]
             },
             scrollable: true,
             sortable: true,
             navigatable: true,
             resizable: true,
             reorderable: true,
             filterable: true,
             columnMenu: true,
             groupable:true,
             detailInit: Getinventory,
             detailExpand: function(e){
             e.sender.tbody.find('.k-detail-row').each(function(idx, item){
               if(item !== e.detailRow[0]){
                 e.sender.collapseRow($(item).prev());
               }
             })
            },
            detailCollapse:onDetailCollapse,
             columns: [
                 {
                     field: "facility_name",
                     title: "Facility Name",
                     template: "<a class='anchorNavLinkStyle' href='javascript:void(0)' data-ID='#= facility_id #' onclick='onChange(this)'>#=facility_name#</a>",
                     filterable: filterOption,
                     width: '35%',
                 },
                 {
                     field: "address1",
                     title: "Address",
                     attributes: { title: "#=address1#" },
                     width: '25%',
                 },
                 {
                     field: "city",
                     title: "City",
                     attributes: { title: "#=city#" },
                     width: '10%',
                 },
                 {
                     field: "st",
                     title: "State",
                     attributes: { title: "#=st#" },
                     width: '10%',
                 },
                 {
                     field: "zip",
                     title: "Zip Code",
                     attributes: { title: "#=zip#" },
                     width: '10%',
                 },
                  {
                     field: "facility_stat_desc",
                     title: "Status",
                     attributes: { title: "#=facility_stat_desc#" },
                     width: '10%',
                 }

             ]
               });
         });
         
          function Getinventory(e){
            sessionStorage.setItem("facility_id", e.data.facility_id);
            var facility_id =  e.data.facility_id
            $("#IsinventoryshowAll").toggleClass('checked');
            const inventorycheckbox = document.querySelector('#IsinventoryshowAll');

            var el = $("<div/>").appendTo(e.detailCell).kendoGrid({
             dataSource: {
                 transport: {
                    type: 'json',
                    read: function (e) {    
                        $.ajax({ 
                            method: 'POST', 
                            url: '/Facilities/LoadFacilityInventoryGrid',   
                            data: { facility_id: facility_id, isactive: inventorycheckbox.checked }}).
                        success(function (result) {
                                e.success(result.data)
                        }).
                        error(function (data, status, headers, config) {
                        });
                    },
                    schema: {
                        data: "data",
                        total: "total"
                    }
                },
            },
             columns: [
               { 
                   field: "inv_id",
                   title: "Invertory", 
                   template: "<i class='showId'  href='javascript:void(0)' data-ID='#= inv_id #' onclick='onChangeinv(this)'> <img src='/images/Edit.png' width='25px'></i> <p class='hideId'>#= inv_id #</p>",
                    width:'6%',
               },
               {
                field: "parts",
                title: "Parts",
                template: "<i href='javascript:void(0)' data-ID='#= inv_id #' onclick='clkPartsView(this)'><img src='/images/settings.png' width='25px'> </i>",
                width:'6%',
                menu: false,                       
            },
               { field: "hos_control_num",title: "Hospital Control Number" },
               { field: "control_num",  title: "Control Number" },
               { field: "serial_no",   title: "Serial Number" },
               { field: "model",   title: "Model" },
               { field: "is_active",   title: "Status" },
             ]
           });

           el.data("kendoGrid").table.kendoSortable({
             filter: ">tbody >tr:not(.k-detail-row)",
             hint: function(element) { //customize the hint
               var grid = el.data("kendoGrid"),
                   table = grid.table.clone(), //clone Grid's table
                   wrapperWidth = grid.wrapper.width(), //get Grid's width
                   wrapper = $("<div class='k-grid k-widget'></div>").width(wrapperWidth),
                   hint;

               table.find("thead").remove(); // Remove the Grid header from the hint.
               table.find("tbody").empty(); // Remove the existing rows from the hint.
               table.wrap(wrapper); //wrap the table
               table.append(element.clone()); // Append the dragged element.

               hint = table.parent(); // Get the wrapper.

               return hint; // Return the hint element.
             },

             placeholder: function(element) { //customize the placeholder
               return element.clone().addClass("k-state-hover").css("opacity", 0.65);
             }
           });

         }

         function  IsinventorytoggleCheckbox(arg){
               var facility_id = sessionStorage.getItem("facility_id");
               onloadData(facility_id ,arg.checked); 
                document.getElementById('filter').value = '';
         }

        function onChangeinv(arg) 
        {
             $.loadingBlockShow();
             encodedStr = btoa(arg.dataset.id);
             var link = '@Url.Action("AddEditInventory", "Inventory", new { id = "replace" })';
             link = link.replace("replace", encodedStr);
             window.location.href = link;
             $.loadingBlockHide();
        }

        function onloadData(id ,isactive) {
                $.ajax({
                   type: 'POST',
                   url: "/Facilities/LoadFacilityInventoryGrid",
                   data: { facility_id: id, isactive: isactive },
                   success: function (response) {
                       result = response;               
                       var firstMasterRow = $('.k-grid').find("tr.k-master-row")
                        var detailGrid = $(firstMasterRow).next('tr').find('.k-grid').data('kendoGrid')
                        if (detailGrid != undefined) {
                          var dataSource = new kendo.data.DataSource({
                            data: result.data                                           
                          });
                           detailGrid.setDataSource(dataSource);
                       }
                   }
               });
        }
        //Redirect to Parts View
     function clkPartsView(arg) {
        $.loadingBlockShow();
         encodedStr = btoa(arg.dataset.id);
        var link = '@Url.Action("Index", "InventoryParts",new { id = "replace" })';
        link = link.replace("replace", encodedStr);
        window.location.href = link;
    }
     // Customer name click event to trigger the Edit form based the customerID
     function onChange(arg) {
         $.loadingBlockShow();
         encodedStr = btoa(arg.dataset.id);
         var link = '@Url.Action("AddEditFacility", "Facilities", new { id = "replace" })';
         link = link.replace("replace", encodedStr);
         window.location.href = link;       
        }


       function loadData(isactive, toggleActive) {
             $.loadingBlockShow();
       $.ajax({
           type: 'POST',
           url: "/Facilities/LoadFacilitesGrid",
           data: { isactive: isactive, toggleActive: toggleActive },
           pageSize: 10,
           success: function (result) {
               if (result.errors == "true") {
                    document.getElementById('load').click();
                }
               if (result.success == null) {
                   var grid = $("#gridFacilities").data("kendoGrid");
                   var currPage = grid.dataSource.page();
                   var dataSource = new kendo.data.DataSource({
                       data: result.data,
                       pageSize: 15,
                       page: 0 ,
                       schema: {
                           model: {
                               fields: {
                                   Zip: { type: "number" },
                                   contract_end_dt: { type: "date" },
                               }
                           }
                       },
                   });
                   grid.setDataSource(dataSource);
                   $.loadingBlockHide();
               }
               else {
                   $("#alert_error").text(result.message).show();
                   window.location.href ="/Home/Error_Log";
               }
           }
       });
    }
    function toggleCheckbox(arg) {
       $("#showAll").toggleClass('checked');
       const cb = document.querySelector('#showAll');
       loadData((cb.checked), false);
       document.getElementById('filter').value = '';
       document.getElementById('IsinventoryshowAll').checked = false;
    }
    $("#filter").keydown(function (e) {
          //$.loadingBlockShow();
           if (e.keyCode === 13) {
               filter();
           }
       });
       function filter() {
            //Initially clear the session values
        sessionStorage.clear()
       var queryString = $("#filter").val();

        //Set Session storage when get the export
        sessionStorage.setItem("search", queryString );

       var grid = $("#gridFacilities").data("kendoGrid");
       var orfilter = { logic: "or", filters: [] };
       orfilter.filters.push(
           { field: "facility_name", operator: "contains", value: queryString },
           { field: "address1", operator: "contains", value: queryString },
           { field: "city", operator: "contains", value: queryString },
           { field: "st", operator: "contains", value: queryString },
           { field: "zip", operator: "contains", value: queryString },
           { field: "facility_stat_desc", operator: "contains", value: queryString }
       );
       if (queryString) {
           grid.dataSource.filter(orfilter);
           $.loadingBlockHide();
       } else {
           grid.dataSource.filter({});
           $("#filter").val('');
           grid.dataSource.read();
       }
    }
    function onDetailCollapse(e){
          var grid = $("#gridFacilities").data("kendoGrid");
                var expanded = $.map(grid.tbody.children(":has(> .k-hierarchy-cell .k-i-collapse)"), function (row) {
                    return $(row).data("uid");
                });

                grid.one("dataBound", function () {
                    grid.expandRow(grid.tbody.children().filter(function (idx, row) {
                        return $.inArray($(row).data("uid"), expanded) >= 0;
                    }));
                });
                grid.refresh();
        }
        
        function onclickExport() {
                var dataSource = $("#gridFacilities").data("kendoGrid").dataSource;
                var filters = dataSource.filter();
                var allData = dataSource.data();
                var query = new kendo.data.Query(allData);
                var data = query.filter(filters).data;
                var list=data.map(x => x.facility_id);
                 if (list == 0) {
                    $.iaoAlert({
						msg:"No Record!!",
						type: "error",
						mode: "dark",
					})
                 }
              else {
                  $.loadingBlockShow();
                  $.ajax({
                      type:"POST",
                      url: "/Facilities/ExportFacilities",
                      data: { FacilityList: JSON.parse(JSON.stringify(list)) },
                      success: function(result) {
                          if (result.excelLink != null) {
                            var link = result.excelLink;
                            window.location = link;
                            $.loadingBlockHide();
                          }
                          else {
                            window.location.href ="/Home/Error_Log";
                          }
                      }

                  });
              }          
          }

    //save state
     var grid = $("#gridFacilities").data("kendoGrid");
     $("#save").click(function(e) {
            $.loadingBlockShow();
            e.preventDefault();
            dataSource = $("#gridFacilities").data("kendoGrid").dataSource,
            state = {
                     sortable: true,
                     resizable: true,
                     pageable: {
                         refresh: true,
                         pageSizes: true,
                         buttonCount: 5,
                         messages: { itemsPerPage: "Items Per Page" },
                         pageSizes: [10,15, 25, 50, 100]
                     },
                     scrollable: true,
                     sortable: true,
                     navigatable: true,
                     resizable: true,
                     reorderable: true,
                     filterable: true,
                     columnMenu: true,
                     groupable:true,
                    columns: $("#gridFacilities").data("kendoGrid").columns,
                }
            var KeyValue = JSON.stringify(state);
            localStorage.setItem("Key", KeyValue);
            var usr_id = localStorage.getItem("UserId");
            var grid_id = 20;
            var json_col_ord = localStorage.getItem("Key");
            $.ajax({
                type: "POST",
                url: "/Facilities/SaveStateData",
                data: { usr_id: usr_id, grid_id: grid_id, json_col_ord: json_col_ord },
                success: function(result) {
                    if (result) {
                        result = kendo.stringify($("#gridFacilities").data("kendoGrid").getOptions());
                        var columnOptionsForSaving = kendo.stringify($("#gridFacilities").data("kendoGrid").dataSource.columns);
                        var options = $("#gridFacilities").data("kendoGrid").getOptions();
                        $.iaoAlert({
                            msg: "Save View Successfully",
                            type: "success",
                            mode: "dark",
                        })
                        $.loadingBlockHide();
                    }
                }
            });
     });

     //Load State
        $("#load").click(function(e) {
            $.loadingBlockShow();
            var usr_id = localStorage.getItem("UserId");
            var grid_id = 20;
            $.ajax({
                type: "POST",
                url: "/Facilities/LoadFacilitiesState",
                data: { usr_id: usr_id, grid_id: grid_id },
                success: function(result) {
                    if (result.loadState) {
                        //state = JSON.parse(state);

                        var options = result.loadState.json_col_ord;
                        if (options) {
                            $("#gridFacilities").data("kendoGrid").setOptions(JSON.parse(options));
                        }
                        $.loadingBlockHide();
                    }
                }
            });
        });

</script>