﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
/*menu style*/
#navigate .navbar-nav li:hover ul {
    transition: none;
    position: absolute;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 1px #e4e0dc;box-shadow: 1px 1px 1px #e4e0dc;
    padding: 0;
    padding-right: 10px;
}
#navigate #navi li:hover .nav-link {
    padding-bottom: 5px;
    padding-top: 5px;
}
#navigate .navbar-nav li:hover ul .nav-link {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-item:hover {
    background-color: #d56227!important;
    color: #fff!important;
}

ul .dropdown-item {
    background-color: inherit !important;
}
show.nav-link:after {
    border-top: 6px solid #424242;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    top: 5px;
}
#navigate .navbar-nav li:hover ul .nav-link {
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-nav .dropdown-menu {
    -webkit-box-shadow: 0px 1px 5px 1px #e4e0dc;box-shadow: 0px 1px 5px 1px #e4e0dc;
    padding: 0;
    margin-top: 0;
    border: none!important;
}
ul.dropdown-menu.show li .nav-link {
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav-bullets {
    margin-right: -2px;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.login-form {
    margin: 10% auto;
    font-size: 15px;
}

    .login-form form {
        margin-bottom: 0;
        padding: 30px 0;
    }

    .login-form h2 {
        margin: 0 0 15px;
    }

.form-control, .btn {
    min-height: 30px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

.btnloginColor, .btnDefault {
    background-color: #D56227;
    border-radius: 2px;
    border: 1px solid #D66127;
    margin-top: 20px;
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    height: 30px;
}

    .btn.btnloginColor:hover, .btnDefault:hover {
        color: #fff;
    }

    .btn.btnloginColor:focus, button.btn.btn-light.loginbtn, .btn.btncancelColor:focus, .btnDefault:focus {
        outline: none;
        box-shadow: none;
    }

input.logintext {
    height: 30px;
    width: 246px;
    left: 0px;
    top: 20px;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px;
    position: static;
    width: 246px;
    height: 30px;
    left: 0px;
    top: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    border-radius: 2px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-flex-positive: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

button.loginbtn {
    font-family: 'Roboto' !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    background: #fff;
    border-color: #fff;
}

    button.loginbtn:hover {
        background: rgba(66, 66, 66, 0.04);
    }

btn.loginbtn {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

span.text-danger.logintext {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

label.logintext {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.modal-content {
    border-radius: 0;
    border: 0;
}

.Disclaimertext {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
}

.modal-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.modalheader {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}

.forgetpwdtext {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-top: 30px;
    color: #666666;
}
/*a:visited {
    color: #D56126;
}*/
.headertag {
    overflow: hidden;
    background-color: rgba(196, 196, 196, 0.3);
    padding: 9px 20px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 10px;
}

.headtagname {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #D56126;
}

.textcolor {
    border: white;
}

.btncancelColor {
    background-color: #F5F5F5;
    border-radius: 2px;
    border: 1px solid #F5F5F5;
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    height: 30px;
}

.btn.btncancelColor:hover {
    color: black;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #D56227;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

/*EditCustomer*/

#IsNotes {
    height: 120px;
    width: 100%;
}

.form-page-title {
    /* margin: 20px 0; */
    font-size: 28px;
    font-weight: 300;
    font-family: 'Roboto';
    color: #000000;
    margin-top: 20px;
    margin-bottom: 0;
}

hr {
    border: 1px solid #000000;
    margin-top: 12px !important;
}

.control-label {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 7px !important;
}
select#subclassModel, select#subclass {
    width: 100%;
    padding: 5px 30px 2px 10px;
    outline: none;
}

select {
    /* styling */
    /* background-color: white;*/
    border: thin solid rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 5px 30px 5px 10px;
    width: 80%;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    color: #424242;
    /*background-image: linear-gradient(45deg, transparent 50%, #424242 50%), 
        linear-gradient(135deg, #424242 50%, transparent 50%), linear-gradient(to right, #F5F5F5, #F5F5F5);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;*/
    position: relative;
}

.lstatus {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    margin-bottom: 0;
    margin-top: 5px;
}

    .lstatus span {
        font-weight: 700;
    }

#btn_Reset {
    background-color: #F5F5F5;
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 5px 9px;
    width: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
    margin-left: 15px;
}

.add-edit-section {
    width: 85%;
    margin: auto;
}

.form-section {
    width: 100%;
    margin-top: 30px;
}

.classic {
    margin-bottom: 35px;
}

.selct-opt::after {
    content: "";
    background-image: url(/images/down-arrow.svg) !important;
    background-color: #F5F5F5;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    background-repeat: no-repeat;
    pointer-events: none;
    background-position: center 13px;
}

select.status {
    webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #ffffff;
    color: #000;
    width: 100%;
    outline: none;
    line-height: 2.3;
}

.selct-opt {
    position: relative;
    /*width: 300px;*/
}

#IsCustomerName, #IsPhoneNumber, #IsFax, #IsDefaultLabor {
    width: 100%;
    height: 30px;
    /*max-width: 174px;*/
}

#IsEmail {
    width: 100%;
    height: 30px;
}

#IsCustomerCode {
    width: 100%;
    height: 30px;
    /*max-width: 259px;*/
}

#IsAddress1, #IsAddress2 {
    width: 100%;
    height: 30px;
    /*max-width: 333px;*/
}

.status {
    width: 100%;
    height: 30px;
    /*max-width: 258px;*/
}

.disc-button .btnRestColor {
    background-color: #F5F5F5;
    font-size: 14px;
    font-weight: 400;
    color: #424242;
    font-family: 'Roboto';
    padding: 5px 9px;
    float: right;
}

.add-edit-section .btnRestColor {
    margin-right: 5px;
}

.editcustomer {
    margin-top: 20px;
}

.customer-name {
    font-size: 28px;
    font-weight: 300;
    font-family: 'Roboto';
    color: #000000;
}

.customer-field span {
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #000000;
    line-height: 1;
}

#FacilityCount, #ContactCount, #TicketCount {
    font-weight: 700;
}

.contact-count {
    margin-left: -5px;
}

.ticket-count {
    margin-left: 5px;
}

.editcustomer-left {
    margin-left: 15px;
}

.spanvalidate {
    color: red;
}

.customer-field {
    margin-top: 15px;
}

.customer-field > div {
    margin-top: 13px;
}

.customer-field button {
    margin-top: 0;
    min-width: 120px;
    margin-right: 10px;
}

#grid .k-grid-toolbar {
    padding: .6em 1.3em .6em .4em;
}

.category-label {
    vertical-align: middle;
    padding-right: .5em;
}

#category {
    vertical-align: middle;
}

.refreshBtnContainer {
    display: inline-block;
}

.toolbar {
    margin-left: auto;
    margin-right: 0;
}
#AddEditInventoryForm .form-section{
    max-width: 100%;
}

.divCalendrs {
    background-color: #8080801f;
    padding: 7px;
    margin-bottom: -5px;
    padding-left: 15px;
    padding-top: 0;
}
.divCalendrs #set {
    font-size: 15px;
    border-radius: 5px;
    }
.inventory-time-sec{
    margin: 0;
    padding: 0;
}

/*Manufacturer page*/
#gridManufacturer th:nth-child(5) {
    width: 8%;
}
#gridManufacturer table tr td:nth-child(5){
    width: 8%;
}
#gridManufacturer table th:nth-child(6) {
    width: 10%;
}

#gridManufacturer table tr td:nth-child(6) {
    width: 10%;
    padding-left: 13px;
}
#gridManufacturer th:nth-child(7) {
    width: 10%;
}

#gridManufacturer table tr td:nth-child(7) {
    width: 10%;
    padding-left: 10px;
}

/*Tickets page*/
#IsCallerName, #IsCallerPhone, #IsSummary, #IsStartDate, #IsDeadLineDate {
    width: 100%;
}
/*.add-edit-section .form-section {
    margin-left: -14px;
}*/
/*.add-edit-section .form-section h5 {
    margin-left: 15px;
}*/
.add-edit-section .form-section .row .form-group {
    margin-left: -15px;
    margin-right: -15px;
}


/*end*/
.nowrap {
    white-space: nowrap;
}
.size-width {
    min-width: 300px;
    width: auto;
}
.contract-dropdown-sec .size-width {
    min-width: 285px;
}
.inven-new-customer-sec .customer-dd, .inven-new-customer-sec .inventory-dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.contract-dropdown-sec .customer-dd, .contract-dropdown-sec #hidefacility {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#gridInventory .k-grid-content table tbody tr:hover,
#gridContracts .k-grid-content table tbody tr:hover,
#grid .k-grid-content table tbody tr:hover,
#gridContact .k-grid-content table tbody tr:hover,
#gridManufacturer .k-grid-content table tbody tr:hover,
#gridLogs .k-grid-content table tbody tr:hover,
#gridRepair .k-grid-content table tbody tr:hover,
#gridFile .k-grid-content table tbody tr:hover,
#gridaudit .k-grid-content table tbody tr:hover,
#gridNotify .k-grid-content table tbody tr:hover,
#gridContact .k-grid-content table tbody tr:hover {
    background: rgba(255, 99, 88, 0.2);
}
.multiselect-native-select {
    width: 100%;
}
.multiselect-native-select .btn-group {
    width: 100%;
}
.multiselect-native-select .btn-group .multiselect {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 35px;
    position: relative;
    border: thin solid rgba(0, 0, 0, 0.08);
    font-size: 14px;
    text-align: left;
}
.multiselect-native-select .btn-group .multiselect:focus {
    box-shadow: none;
}
.multiselect-native-select .btn-group .multiselect .multiselect-selected-text {
    text-overflow: ellipsis;
    display: inline;
    font-weight: normal;
    right: 0;
}
.multiselect-native-select .btn-group .multiselect .caret {
    position: absolute;
    right: 0;
    background: #F5F5F5;
    width: 30px;
    height: 35px;
    top: 0;
}
.multiselect-native-select .btn-group .multiselect.dropdown-toggle::after {
    content: "";
    background-image: url(/images/down-arrow.svg) !important;
    background-color: #F5F5F5;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    background-repeat: no-repeat;
    pointer-events: all;
    background-position: center;
    border: none;
    top: 3px;
}
.multiselect-native-select .multiselect-container > li > a > label {
    padding-left: 13px;
}
.multiselect-native-select .multiselect-container {
    width: 100%;
}
.multiselect-native-select .multiselect-container > li > a {
    color: #000;
}
.multiselect-native-select .multiselect-container > li > a.multiselect-all label {
    font-weight: normal;
}
select.serviceClass {
    width: 100%;
    outline: none;
    height: 30px;
}
.right-arrow:after {
    border-left: none;
}

a.header-link, a.header-link:hover {
    color: #d6534a !important;
}

.myFieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
    border-color: #2b30301f;
}

.myLegend {
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    display: inline-block;
    width: auto;
    margin-bottom: 1px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
}

.lblLegend {
    margin-bottom: 8px;
}

.lblModel {
    margin-left: 10px;
}

a.header-link, a.header-link:hover {
    color: #d6534a !important;
}

.right-arrow:after {
    border-left: none;
}

/*.k-list {
    height: 100%;
    overflow: auto;
}*/

.k-list-scroller {
    overflow: auto;
}

.fas fa-file-download {
    width: 200px;
}

.fas fa-cogs {
    width: 200px;
}

.k-link k-link-time {
    display: none;
}

/*Tooltip */
.hideId {
    visibility: hidden;
    min-width: 40px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    /* Position the tooltip */
    position: absolute;
    margin-top: -60px;
    z-index: 1;
    margin-left: 2%;
}

.showId:hover + .hideId {
    visibility: visible;
}
/*.contract-dropdown-sec {
    flex-grow: 1;
}
.contract-dropdown-sec .customer-dd {
    flex-grow: 1;
}
.contract-dropdown-sec #hidefacility {
    flex-grow: 1;
}
.contract-dropdown-sec .customer-dd span.k-dropdown {
    width: 100%;
}
.contract-dropdown-sec #hidefacility span.k-dropdown {
    width: 100%;
}*/
.k-list-scroller ul {
    font-size: 14px;
}
#gridContracts .k-grid-content tbody > tr > td:first-child, #gridFacilities .k-grid-content .k-detail-row .k-detail-cell .k-grid-content tbody > tr > td:first-child, #gridInventoryParts .k-grid-content tbody > tr > td:first-child, #gridInventory .k-grid-content tbody > tr > td:first-child {
    text-align: center;
}

.contract-dropdown-sec:not(.flex-grow-auto), .contract-dropdown-sec .customer-dd, .contract-dropdown-sec #hidefacility, .contract-dropdown-sec .size-width {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.inven-sec.inven-flex-grow > .row > .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
/*.inven-sec.inven-flex-grow .right-toolbar-only {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}*/
.c-f-dropdown .checkbox {
    white-space: nowrap;
}
.c-f-dropdown .customer-dd {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.c-f-dropdown #hidefacility {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.inven-sec.inven-flex-grow .size-width {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.inven-customer-name label {
    margin-bottom: 0;
}
.min-w-460 {
    min-width: 460px;
}
.contract-sec .new-customer-sec .export-link {
    position: relative;
    top: 3px;
}

/*Sidebar*/
.sidebar-menu ul.navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.sidebar-menu ul.navbar-nav .nav-link.active {
    background-color: #d56227 !important;
    color: #fff;
}
.sidebar-menu ul.navbar-nav .nav-link:hover {
    background-color: #d56227;
    color: #fff;
}
.ticket-section h2 { font-weight: 400; }
.ticketpopup label {
    display: inline;
}
.ticketpopup .form-group input {
    width: 100%;
}
.ticketpopup .select2-container {
    width: 100% !important;
}
.ticketpopup .select2-selection {
    height: 30px;
}
.ticketpopup .select2-container--default .select2-selection--single {
    border-color: #424242;
}
.ticketpopup {
    margin-top: 0;
}
.ticketheader {
    background-color: #D56227;
}
.ticketheader h4 {
    color: #fff;
    margin-bottom: 0;
}
.ticketheader .close {
    line-height: 28px;
}
.ticketheader .close:focus {
    outline: none;
}
.sidenav {
    max-width: 160px;
    background: #fff;
    -webkit-box-shadow: 3px 0px 0px 0px rgb(196 196 196 / 30%);box-shadow: 3px 0px 0px 0px rgb(196 196 196 / 30%);
}
.ticketmain {
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.ticketheaderrow {
    -webkit-box-shadow: 5px 2px 5px 0 rgb(0 0 0 / 15%);box-shadow: 5px 2px 5px 0 rgb(0 0 0 / 15%);
    border-bottom: 1px solid rgb(0 0 0 / 15%);
    margin-left: -15px;
    margin-right: -15px;
    padding: 25px 30px 20px;
}
.ticketbodyrow {
    padding: 5px 15px 20px;
}
/* .ticket-section {
    margin-top: 10px;
} */
.ticket-section .form-section {
    margin-top: 10px;
}
.ticketpopup #btn-cancel {
    background-color: #f3f3f3;
    color: #424242;
    border-color: #f3f3f3;
    max-width: 150px;
}
.editbtn {
    background: transparent;
    border: none;
}
/*Ticker Details Page*/
.selectpriority ul {
    padding-left: 0;
}

/* Radio Button */
/* Radio Button */
 input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    /* transition: background 0.3s, border-color 0.3s, box-shadow 0.2s; */
    -webkit-transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;-o-transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;transition: background 0.3s, border-color 0.3s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
}
 input[type='radio']:after {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background: #fff;
    opacity: 1;
    -webkit-transform: scale(0.6);-ms-transform: scale(0.6);transform: scale(0.6);
}
 input[type='radio']:checked, input[type='radio']:hover {
     background: #D56227;
}

 input[type='radio'] + label {
     line-height: 25px;
     cursor: pointer;
}
.glyphicon {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.glyphicon.glyphicon-chevron-up:before {
    content: "\f077";
}
.glyphicon.glyphicon-chevron-down:before {
    content: "\f078";
}
.fullheight {
    height: 100%;
}
.fullheight body, .fullheight .container-fluid, .fullheight main {
    height: 100%;
}
.ticket-section {
    height: 100%;
}
.details-field label {
    min-width: 125px;
    text-align: right;
}
.details-field > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    line-height: 1;
    font-size: 14px;
    margin-bottom: 0px;
}
.details-field span {
    padding-left: 10px;
}
.heightauto {
    height: auto;
}
.fullheight main.pb-3 {
    padding-bottom: 0 !important;
}
.inventoryfieldsection label {
    min-width: 160px;
}
.inventoryfieldsection span {
    padding-left: 10px;
    font-weight: 700;
    line-height: 1;
}
.inventoryfieldsection .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    line-height: 1.4;
    margin-bottom: 5px !important;
}
.addlogentry {
    max-width: 125px;
    padding-right: 0;
    padding-bottom: 5px;
}
#IsActionSummary {
    min-height: 200px;
}
.logtype {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.actionmodal {
    background: #ff0000;
    color: #fff;
    border: none;
}
.actionmodal:focus {
    border: none;
}
.action-section input[type=radio] {
    margin-top: 2px;
}
.action-section .form-section {
    max-width: 1035px;
}
.action-section em { font-size: 14px; }
.btnCancel {
    background-color: #d7d7d7;
    color: #424242;
    border-color: #d7d7d7;
}
.btnCancel:hover {
    color: #424242 !important;
}
.radiobtngroup input {
    margin-top: 5px !important;
}
.action-section .radiobtngroup > label:first-child { margin-right: 13px; }
.action-section .radiobtngroup { margin-top: 2px; }
#ActionModal .content-bot {
    padding: 7px;
    border-top: 1px solid #dfdfdf;
}
.actionmodal:focus {
    outline: none;
}
#ActionModal .content-bot .btn {
    margin-top: 0;
}
#ActionModal .modal-dialog {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#ActionModal #btn-cancel {
    background-color: #f3f3f3;
    color: #424242;
    max-width: 150px;    
    height: auto;
}
#ActionModal .modalheader {
    font-size: 16px;
}
#ActionModal .Disclaimer-body {
    margin-top: 35px;
    margin-bottom: 35px;
}
.actionmodal {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    border-radius: 4px;
}
.attachment-col {
    margin-top: 30px;
}
.attachment-col .m-t-10 {
    margin-top: 10px;
}
#gridInvContracts table tbody tr > td:first-child {
    text-align: center;
}
#gridInvContracts .k-grid-header > .k-grid-header-wrap > table > thead > tr > th.k-header:first-child,
#gridInvContracts .k-grid-content > table > tbody > tr > td:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#AddEdiContractForm .form-section .btnloginColor {
    margin-top: 0;
}
.ticketbodyrow #gridRepair input.editbtn.btnloginColor, .ticketbodyrow #gridLogs input.editbtn.btnloginColor {
    background-color: #D56227;
    border: 1px solid #D66127;
    margin-right: 8px;
}
.ticketbodyrow #gridRepair tr td:last-child, .ticketbodyrow #gridLogs tr td:last-child {
    display: flex;
    align-items: center;
}
/*media query*/
@media screen and (min-width: 768px) {
    .form-section {
        width: 100%;
        max-width: 800px;
    }
    .detailscolfirst label {
        min-width: 78px;
    }
    .detailscolsecond label {
        min-width: 83px;
    }
    .form-section.inventoryfieldsection {
        max-width: 1140px;
    }
}
@media screen and (min-width: 810px) {
    .inven-flex-grow .customer-dd span.checkbox {
        margin-left: 83px;
    }
    .inven-flex-grow .inventory-dropdown span.checkbox {
        margin-left: 67px;
    }
}
@media screen and (max-width: 575px) {
    .add-edit-section {
        width: 100%;
        margin: auto;
    }
    #navigate .navbar-nav li:hover ul {
        position: relative;
        box-shadow: 0px 0px 2px 1px #e9e9e9;
        padding: 0;
        padding-right: 10px;
        padding-left: 10px;
    }
    #navigate .dropdown-menu.show {
        position: relative !important;
    }

    .navbar-nav .dropdown-menu {
        margin-top: -30px;
        padding: 0 10px;
        border: none;
    }
    .ticket-filter .toolbar {
        width: 100%;
    }
}
@media screen and (min-width: 576px){
    #navigate li:hover ul {
        display: block;
    }
    #ActionModal .modal-dialog {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 667px){
    .divCalendrs{
        display: block!important;
    }
}
@media (max-width: 352px){
    .divCalendrs #set {
        margin-top: 10px;
    }
}
@media (min-width: 992px) {

    /*customer page*/
    body .k-widget.custom-grid .k-grid-header, body .k-widget.custom-grid .k-grid-header *,
    body .k-widget.custom-grid .k-grid-content, body .k-widget.custom-grid .k-grid-content * {
        box-sizing: border-box
    }


    #gridCustomer .k-grid-header-wrap {
        border: 0
    }

    #gridCustomer > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-of-type(2), #gridCustomer > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-of-type(3) {
        width: 28%;
    }

    #gridCustomer > .k-grid-content > table > tbody > tr > td:nth-of-type(2), #gridCustomer > .k-grid-content > table > tbody > tr > td:nth-of-type(3) {
        width: 28%;
    }

    #gridCustomer .k-detail-row > .k-detail-cell .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:first-child, #gridCustomer .k-detail-row > .k-detail-cell .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-of-type(2) {
        width: 28%;
    }
    #gridCustomer .k-detail-row > .k-detail-cell .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:last-child {
        width: 17%;
    }

    #gridCustomer .k-detail-row > .k-detail-cell .k-grid-content > table > tbody > tr > td:first-child, #gridCustomer .k-detail-row > .k-detail-cell .k-grid-content > table > tbody > tr > td:nth-of-type(2) {
        width: 28%;
    }
    #gridCustomer .k-detail-row > .k-detail-cell .k-grid-content > table > tbody > tr > td:last-child {
        width: 17%;
    }

    #gridCustomer .k-detail-row > .k-detail-cell .k-grid-content > table > tbody > tr > td:first-child {
        border-left: 0;
    }

    #gridCustomer .k-grid-header > .k-grid-header-wrap > table > thead > tr > th.k-hierarchy-cell:first-child,
    #gridCustomer .k-grid-content > table > tbody > tr > td.k-hierarchy-cell:first-child {
        width: 27px
    }

    /*facilities page*/
    #gridFacilities .k-grid-header-wrap {
        border: 0
    }
    #gridFacilities .k-detail-row > .k-detail-cell .k-grid-content > table > tbody > tr > td:first-child {
        border-left: 0;
    }
    #gridFacilities > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-of-type(2), #gridFacilities > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-of-type(3) {
        width: 27%;
    }

    #gridFacilities > .k-grid-content > table > tbody > tr > td:nth-of-type(2), #gridFacilities > .k-grid-content > table > tbody > tr > td:nth-of-type(3) {
        width: 27%;
    }

    #gridFacilities .k-grid-header > .k-grid-header-wrap > table > thead > tr > th.k-hierarchy-cell:first-child,
    #gridFacilities .k-grid-content > table > tbody > tr > td.k-hierarchy-cell:first-child {
        width: 27px
    }

    /*inventory page*/
    #gridInventory .k-grid-header-wrap {
        border: 0
    }
    #gridInventory .k-detail-row > .k-detail-cell .k-grid-content > table > tbody > tr > td:first-child {
        border-left: 0;
    }
    #gridInventory > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-of-type(3) {
        width: 19%;
    }
    #gridInventory > .k-grid-content > table > tbody > tr > td:nth-of-type(3) {
        width: 19%;
    }
    #gridInventory > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-of-type(4) {
        width: 15%;
    }

    #gridInventory > .k-grid-content > table > tbody > tr > td:nth-of-type(4) {
        width: 15%;
    }
    
    #gridInventory > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-of-type(5),
    #gridInventory > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-of-type(6) {
        width: 12%;
    }
    #gridInventory > .k-grid-content > table > tbody > tr > td:nth-of-type(5),
    #gridInventory > .k-grid-content > table > tbody > tr > td:nth-of-type(6) {
        width: 12%;
    }
    
    #gridInventory .k-grid-header > .k-grid-header-wrap > table > thead > tr > th.k-hierarchy-cell:first-child,
    #gridInventory .k-grid-content > table > tbody > tr > td.k-hierarchy-cell:first-child {
        width: 27px
    }

    /*vendor page*/
    #gridVendors .k-grid-header-wrap {
        border: 0
    }

    #gridVendors .k-detail-row > .k-detail-cell .k-grid-content > table > tbody > tr > td:first-child {
        border-left: 0;
    }

    #gridVendors > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-of-type(2), #gridVendors > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-of-type(3) {
        width: 25%;
    }

    #gridVendors > .k-grid-content > table > tbody > tr > td:nth-of-type(2), #gridVendors > .k-grid-content > table > tbody > tr > td:nth-of-type(3) {
        width: 25%;
    }

    #gridVendors .k-grid-header > .k-grid-header-wrap > table > thead > tr > th.k-hierarchy-cell:first-child,
    #gridVendors .k-grid-content > table > tbody > tr > td.k-hierarchy-cell:first-child {
        width: 27px
    }
    
    /*contract page*/
    #gridContracts .k-grid-header-wrap {
        border: 0
    }

    #gridContracts .k-detail-row > .k-detail-cell .k-grid-content > table > tbody > tr > td:first-child {
        border-left: 0;
    }
    #gridContracts > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-of-type(2),
    #gridContracts > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-of-type(3) {
        width: 25%;
    }

    #gridContracts > .k-grid-content > table > tbody > tr > td:nth-of-type(2),
    #gridContracts > .k-grid-content > table > tbody > tr > td:nth-of-type(3) {
        width: 25%;
    }
    #gridContracts .k-grid-header > .k-grid-header-wrap > table > thead > tr > th.k-hierarchy-cell:first-child,
    #gridContracts .k-grid-content > table > tbody > tr > td.k-hierarchy-cell:first-child {
        width: 27px
    }
    #gridNotify {
        max-width: 1000px;
    }
    #gridInventory .k-grid-content, #gridContracts .k-grid-content, #gridFacilities .k-detail-cell .k-grid-content, #gridInventoryParts .k-grid-content, .ticketgrid .k-grid-content {
        overflow: visible !important;
    }
    #gridFacilities .hideId, #gridInventory .hideId {
        margin-left: 0;
    }
    #gridInventoryParts .hideId {
        margin-left: 2%;
    }
    .contract-dropdown-sec.flex-grow-auto .size-width {
        min-width: 460px;
    }
    /* .inven-new-customer-sec .size-width {
        min-width: 460px;
    } */
    #gridInventory, #gridContracts {
        overflow: hidden;
    }
    .inven-flex-grow .customer-dd label {
        min-width: 83px;
    }
    .inven-flex-grow .customer-dd span.checkbox {
        width: 100%;
        padding-top: 5px;
    }
    .inven-flex-grow .inventory-dropdown label {
        min-width: 67px;   
    }
    .inven-flex-grow .inventory-dropdown span.checkbox {
        width: 100%;
        padding-top: 5px;
    }
    .inven-flex-grow .right-toolbar-only.m-t-15 {
        margin-top: -34px;
        width: auto;
        margin-left: auto;
    }
    .sidenavblock, .sidenavicon {
        display: none;
    }
    #gridFileContract table, #gridInvContracts table {
        min-width: auto;
    }
    /* .fullheight {
        overflow: hidden;
    } */
}
@media screen and (min-width: 1356px) {
    /*.contract-dropdown-sec .size-width {
        min-width: 460px;
    }*/
}
@media screen and (min-width: 1401px) {
    #gridFacilities .hideId, #gridInventory .hideId {
        margin-left: 1%;
    }
    #gridInventoryParts .hideId {
        margin-left: 3%;
    }
    .inven-flex-grow .customer-dd span.checkbox {
        padding-top: 15px;
    }
    .inven-flex-grow .inventory-dropdown span.checkbox {
        padding-top: 15px;
    }
}
@media screen and (max-width: 1800px) {
    .contract-sec .col-md-12, .inven-sec .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contract-sec .right-toolbar-only, .inven-sec .right-toolbar-only {
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
    }
}
@media screen and (min-width: 1555px) {
    .inven-new-customer-sec #hidefacility .size-width {
        min-width: 460px;
    }
}
@media screen and (max-width: 1465px) {
    .inven-new-customer-sec {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1400px) {
    .hideId {
        margin-left: 1%;
    }

    /*.inven-sec.inven-flex-grow .inven-new-customer-sec .export-link {
    padding: 0;
}*/
}

    @media screen and (max-width: 1355px) {
        .inven-sec .col-md-12 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }

        .inven-sec .right-toolbar-only {
            -webkit-box-pack: left;
            -ms-flex-pack: left;
            justify-content: left;
        }
    }

    @media screen and (max-width: 1199px) {
        .contract-sec .right-toolbar-only {
            width: auto;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: start;
        }
        .details-field > div {
            margin-bottom: 5px;
        }
    }

    @media screen and (max-width: 1023px) {
        .contract-sec .new-customer-sec {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .contract-dropdown-sec {
            margin-bottom: 10px;
        }

        .inven-new-customer-sec {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .contract-sec #save {
            margin-left: 0;
            margin-top: 0;
        }

        .contract-dropdown-sec, .c-f-dropdown {
            width: 100%;
        }

        /*.inven-new-customer-sec .export-link {
            padding: 0;
        }*/
        .contact-customer-login .export-link {
            margin-top: 0;
            padding-left: 0;
        }
    }

    @media screen and (max-width: 991px) {
        .inven-new-customer-sec .customer-dd, .inven-new-customer-sec .inventory-dropdown {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .contract-dropdown-sec .customer-dd, .contract-dropdown-sec #hidefacility {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .hideId {
            margin-top: -30px;
            margin-left: 40px;
        }

        #gridInventoryParts .hideId {
            margin-left: 55px;
        }
        .inven-new-customer-sec .save-load-btn {
            float: left;
        }
        .sidenav {
            margin-left: -262px;
            max-width: 260px;
            transition: .5s;
            position: absolute;
            left: 0;
            z-index: 1;
            box-shadow: none;
        }
        .ticket-section.move .sidenav {
            margin-left: 0;
            visibility: visible;
            height: 100%;
        }
        .ticket-section.move .ticketmain {
            z-index: -1;
        }
        .ticketmain {
            transition: .5s;
            margin-top: 40px;
        }
        .sidenavicon {
            position: relative;
            width: 40px;
            cursor: pointer;
            margin-top: 0px;
            margin-bottom: 0px;
            background: #d56227;
            float: right;
            margin-right: -40px;
            height: 37px;
            align-items: center;
            display: flex;
            justify-content: center;
        }
        .sidenavicon:before, .sidenavicon:after  {
            width: 25px;
            height: 2px;
            content: '';
            position: absolute;
            left: 0;
        }
        .sidenavicon:before {
            top: 5px;
        }
        .sidenavicon:after  {
            bottom: 5px;
        }
        .sidenavblock{
            display: flex;
            padding: 0;
            align-items: center;
            margin-bottom: 10px;
        }
        .sidenavblock span {
            display: inline-block;
            color: #fff;
            margin-left: 10px;
            font-size: 13px;
        }
        .sidenavicon {
            font-size: 20px;
        }
        .sidenavicon i {
            color: #fff;
        }
        .ticket-section.move {
            background: rgba(0,0,0,0.2);
            overflow: hidden;
        }
        .ticket-section.move .sidenavicon .fa-indent:before {
            content: "\f00d";
        }
    }
    @media screen and (max-width: 859px) {
        .inven-customer-login {
            flex-wrap: wrap;
        }
        .inven-customer-login .export-link {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            padding-left: 0;
            padding-bottom: 0;
        }
    }
    @media screen and (max-width: 767px) {
        .disc-button .btnRestColor {
            float: none;
            margin-top: 10px;
            margin-left: 15px;
        }

        #gridCustomer > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-child(2), #gridCustomer > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-child(3),
        #gridFacilities > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-child(2), #gridFacilities > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-child(3) {
            padding-left: 8px;
        }

        #gridContracts > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:first-child {
            padding-left: 9px;
        }

        #gridContracts > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-child(2),
        #gridContracts > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-child(3) {
            padding-left: 8px;
        }

        #gridVendors table tr td:nth-child(6) {
            padding-left: 3px;
        }

        .new-customer-sec {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .hideId {
            margin-left: 35px;
        }

        #gridInventoryParts .hideId {
            margin-left: 45px;
        }

        .contract-sec .right-toolbar-only {
            width: 100%;
        }

        .contract-sec .search-block {
            max-width: 100%;
        }

        .inven-sec .search-block {
            max-width: 100%;
        }

        .sidenavicon {
            height: 35px;
        }
    }

    @media (max-width: 991px) {
        #gridFacilities > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-child(2) {
            width: 15% !important;
            padding-left: 8px;
        }

        #gridFacilities > .k-grid-content > table > tbody > tr > td:nth-child(2) {
            width: 15% !important;
        }

        /*#gridInventory > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-child(2),*/
        #gridInventory > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-child(3) {
            width: 12%;
        }

        /*#gridInventory > .k-grid-content > table > tbody > tr > td:nth-child(2),*/
        #gridInventory > .k-grid-content > table > tbody > tr > td:nth-child(3) {
            width: 12%;
        }
    }

    @media (max-width: 906px) {
        /*Manufacturer PAGE*/
        #gridManufacturer th:nth-child(8) {
            width: 14%;
        }

        #gridManufacturer table tr td:nth-child(8) {
            width: 14%;
            padding-left: 7px;
        }

        #gridManufacturer th:nth-child(7) {
            width: 13%;
        }

        #gridManufacturer table tr td:nth-child(7) {
            width: 13%;
            padding-left: 10px;
        }

        #gridManufacturer table th:nth-child(6) {
            width: 12%;
        }

        #gridManufacturer table tr td:nth-child(6) {
            width: 12%;
            padding-left: 9px;
        }

        #gridManufacturer th:nth-child(3) {
            width: 12%;
        }

        #gridManufacturer table tr td:nth-child(3) {
            width: 12%;
        }

        #gridManufacturer th:nth-child(2) {
            width: 12%;
        }

        #gridManufacturer table tr td:nth-child(2) {
            width: 12%;
        }

        #gridManufacturer th.k-header:first-child {
            width: 15%;
        }

        #gridManufacturer tbody td:first-child {
            width: 15%;
        }
    }

    @media (max-width: 640px) {
        .contract-sec .contract-dropdown-sec {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .contract-dropdown-sec #hidefacility {
            margin-top: 10px;
            padding-left: 0 !important;
        }

        .inven-new-customer-sec, #hidefacility label {
            padding-left: 0;
            margin-top: 0;
        }

        .inventory-dropdown {
            margin-top: 10px;
            padding-left: 0 !important;
        }

        .size-width, .contract-dropdown-sec .size-width {
            min-width: 100%;
        }

        .inven-new-customer-sec .customer-dd, .inven-new-customer-sec .inventory-dropdown {
            width: 100%;
        }

        .contract-dropdown-sec .customer-dd, .contract-dropdown-sec #hidefacility {
            width: 100%;
        }

        .contract-dropdown-sec, .c-f-dropdown {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
    }

    @media (min-width: 320px) and (max-width: 370px) {
        .c-f-dropdown {
            display: block !important;
        }
    }

    @media (min-width: 320px) and (max-width: 660px) {
        .new-customer-sec {
            display: block !impoat;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .new-customer-sec {
            display: block !important;
        }

        #gridInventory > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-child(2),
        #gridInventory > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-child(3) {
            padding-left: 7px;
        }

        #gridInventory > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-child(5),
        #gridInventory > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:nth-child(6) {
            padding-left: 7px;
        }

        #gridInventory > .k-grid-header > .k-grid-header-wrap > table > thead > tr > th:last-child {
            width: 10%;
            padding-left: 8px;
        }

        #gridInventory > .k-grid-content > table > tbody > tr > td:last-child {
            width: 10%;
        }
    }


    @media (max-width: 480px) {
        .contract-dropdown-sec {
            margin-bottom: 0;
        }

        .sidenav {
            max-width: 50%;
            margin-left: -51%;
        }

        .fullheight .headertag {
            margin-bottom: 0;
        }

        .details-field label {
            text-align: left;
        }

        .text-right.mobile-left {
            text-align: left !important;
        }

        .inventoryfieldsection label {
            min-width: 125px;
            max-width: 125px;
            font-size: 13px;
        }

        .inventoryfieldsection span {
            font-size: 13px;
        }

        #IsActionSummary {
            min-height: 100px;
        }

        #ActionModal input[type=submit] {
            white-space: pre-wrap;
            height: auto;
        }

        #ActionModal .modal-dialog {
            max-width: 100%;
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
    }