﻿body {
    color: #424242;
}

.primary-color {
    color: #D56126;
}

.p-lr-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.p-lr-0 {
    padding-left: 0;
    padding-right: 0;
}

.m-b-35 {
    margin-bottom: 35px;
}

.m-r-4 {
    margin-right: 4px;
}

.m-l-7 {
    margin-left: 7px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-r-9 {
    margin-right: 9px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-r-14 {
    margin-right: 14px;
}
a:hover {
    text-decoration: none;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.font14 {
    font-size: 14px;
}
/* Login page */
.login-form {
    max-width: 585px;
    width: 100%;
}

    .login-form .logo {
        margin-bottom: 60px;
    }

    .login-form .logo-01 {
        margin-top: 30px;
    }

    .login-form .form-control {
        max-width: 246px;
        width: 100%;
    }

.form-control {
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

    .form-control:focus {
        box-shadow: inherit;
        border-color: rgba(0, 0, 0, 0.08);
    }

.logintext {
    width: 100%;
}

    .logintext .fpassword a {
        color: #D66127;
        font-size: 12px;
        font-style: italic;
    }

        .logintext .fpassword a:hover {
            color: #D66127;
        }

.text-danger.logintext {
    color: #F31700 !important;
    font-style: italic;
    font-size: 13px;
}

.text-danger {
    color: #F31700 !important;
    font-style: italic;
    font-size: 13px;
    margin-top: 5px;
}

.text-dangers {
    color: #F31700 !important;
    font-style: italic;
    font-size: 55px;
}

.input-group .control-label {
    width: 100%;
}

label.logintext {
    color: #424242;
    margin-bottom: 2px;
}

.Disclaimertext {
    color: #666666;
    line-height: 21px;
}

.Disclaimer-content {
    max-width: 760px;
    width: 100%;
}

.forgetpwd-01 {
    max-width: 255px;
    width: 100%;
    padding-right: 0;
}

.forgetpwd-02 {
    max-width: 160px;
    width: 100%
}

.forget-row {
    margin-top: 40px;
}

.forget-content {
    max-width: 760px;
    width: 100%;
    min-height: 318px;
}

.forget-header {
    background: #D56126;
}

.logo-01 img {
    max-width: 130px;
    width: 100%;
}

.modal-header .close {
    opacity: 1;
    padding-right: 22px;
}

.fpassword {
    float: right;
    cursor: pointer;
}

.btn.btnloginColor:focus, button.btn.btn-light.loginbtn {
    border: 1px solid transparent;
}

.Disclaimer-body {
    margin-bottom: 20px;
}
/* Header */
.header-section {
    padding-top: 20px;
    padding-bottom: 5px;
}

.header-logo {
    padding-left: 5px;
}

.pipe {
    position: relative;
    top: -2px;
    color: #424242;
}

#subLogOut {
    color: #424242;
    margin-left: 13px;
    font-family: 'Roboto';
}

#customDropdown {
    cursor: pointer;
    font-family: 'Roboto';
}

.export-link {
    font-family: 'Roboto';
}

.logged-user .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
}

    .logged-user .dropdown-menu .dropdown-item {
        cursor: pointer;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-align: center;
    }

        .logged-user .dropdown-menu .dropdown-item:active, .logged-user .dropdown-menu .dropdown-item:hover {
            background-color: #d56227;
            color: #ffffff;
        }

.arrow-right {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid #424242;
    width: 0;
    height: 0;
}

.primary-color.arrow-right {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid #D56126;
    width: 0;
    height: 0;
    display: inline-block;
}

#subLogOut:hover {
    color: #D56126;
}

.k-grouping-header {
    display: none;
}
/* Menu */
.nav-link, .right-arrow {
    font-size: 14px;
    color: #D56126;
    position: relative;
}
   

    .nav-link:not(.dropdown-item):after, .right-arrow:after {
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 6px solid #D56126;
        width: 0;
        height: 0;
        content: '';
        margin: auto;
    }

.right-arrow {
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

    .right-arrow:after {
        right: 5px;
        border-left: none;
    }

.headerlist {
    padding-left: 5px;
    padding-right: 20px;
}

.nav-link.active {
    color: #424242;
}

    .nav-link.active:after {
        border-top: 6px solid #424242;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        top: 5px;
    }

.nav-link:hover {
    color: #424242;
}

.nav-link:not(.active):hover:after {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid #424242;
}
.dropdown .nav-link:not(.active):hover:after {
    border-top: 6px solid #424242;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    top: 7px;
}
    /* Breadcrumb */
    .r-arrow {
    margin-left: 13px;
    margin-right: 8px;
}

.header-brand svg {
    margin-top: -4px;
}

a.header-brand {
    color: #424242;
}

    a.header-brand:hover {
        color: #d6534a;
    }

.newcustomer {
    padding-left: 10px;
    padding-right: 10px;
}

.newcustomer svg {
    margin-right: 4px;
    margin-bottom: 2px;
}

.right-toolbar-only {
    width: 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
}

    .right-toolbar-only label {
        margin-bottom: 5px;
        font-family: 'Roboto';
        font-size: 14px;
    }

    .right-toolbar-only .checkbox-group {
        margin-right: 20px;
        white-space: nowrap;
    }

        .right-toolbar-only .checkbox-group input {
            width: 16px;
            height: 16px;
            margin-right: 5px;
        }

.search-block {
    max-width: 220px;
    width: 100%;
}

.search-field {
    font-family: 'Roboto';
    font-size: 14px;
}

#gridCustomer {
    margin-top: 15px;
}

.k-header.k-grid-toolbar {
    display: none;
}

#IsfacilityshowAll, #IsinventoryshowAll {
    opacity: 0.2;
}
/* Password Change */
.password-field {
    max-width: 250px;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.passwordmsg .logintext {
    max-width: 100%;
}
/*Datatable*/
.export-link svg {
    margin-top: -5px;
    margin-right: 5px;
}

.export-link:hover {
    color: #424242;
}

#showAll {
    opacity: 0.2;
}

    #showAll.checked {
        opacity: 1;
    }

.search-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #424242;
}

.search-field::-moz-placeholder { /* Firefox 19+ */
    color: #424242;
}

.search-field:-ms-input-placeholder { /* IE 10+ */
    color: #424242;
}

.k-grid-header, .k-header {
    background-image: none !important;
    background-color: transparent !important;
}

.k-widget, .k-header, .k-grid-header-wrap, .k-grid-header {
    border-color: #EBEBEB !important;
}

.k-grid tr td {
    border-width: 0px 0 0 1px !important;
}

table tr td a {
    color: #424242;
}

.k-header-column-menu .k-icon {
    background-image: url(/images/more.svg) !important;
    background-position: center center !important;
    background-size: auto !important;
}

.k-grid-header th.k-header {
    box-shadow: none !important;
}

.k-header.k-with-icon .k-link .k-icon {
    background-image: url(/images/uparrow.svg) !important;
    background-size: auto !important;
}

.k-grid-header th > .k-link > .k-icon {
    vertical-align: middle !important;
    margin-left: 11px;
}

.k-grid-header th.k-header > .k-link {
    min-height: 23px !important;
    line-height: 23px !important;
}

.k-state-selected {
    background-image: none !important;
    background-color: rgba(255, 99, 88, 0.2) !important;
    border-color: rgba(255, 99, 88, 0.2) !important;
    border-style: none !important;
    border-radius: 0 !important;
    color: #D56126 !important;
}

.k-pager-numbers .k-link:hover {
    background-image: none !important;
    background-color: rgba(255, 99, 88, 0.2) !important;
    border-color: rgba(255, 99, 88, 0.2) !important;
    border-style: none !important;
}

.k-pager-numbers .k-link {
    border-radius: 0 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    border-style: none !important;
}

.k-pager-numbers .k-link {
    color: #D56126 !important;
    font-family: 'Roboto';
}

.k-pager-wrap {
    background-image: none !important;
    background-color: #ffffff !important;
}

table tr td a:hover {
    color: #D56126;
}

.k-pager-nav {
    border-color: transparent !important;
}

    .k-pager-nav:hover {
        background-image: none !important;
        background-color: transparent !important;
    }

.k-i-seek-w {
    background-image: url(/images/page-nav-first.svg) !important;
    background-position: center center !important;
    background-size: auto !important;
}

.k-i-arrow-w {
    background-image: url(/images/page-nav-left.svg) !important;
    background-position: center center !important;
    background-size: auto !important;
}

.k-i-arrow-e {
    background-image: url(/images/page-nav-right.svg) !important;
    background-position: center center !important;
    background-size: auto !important;
}

.k-i-seek-e {
    background-image: url(/images/page-nav-last.svg) !important;
    background-position: center center !important;
    background-size: auto !important;
}

.k-grid .k-pager-numbers, .k-pager-numbers .k-link, .k-pager-numbers .k-state-selected {
    vertical-align: middle !important;
}

.k-dropdown-wrap.k-state-default {
    border: 1px solid rgba(0, 0, 0, 0.08) !important;
    background: linear-gradient(180deg, rgba(0, 0, 0, 2e-06) 0%, rgba(0, 0, 0, 0.02) 100%), #F5F5F5 !important;
}

.k-state-hover, .k-state-hover:hover {
    background-image: none !important;
    background-color: rgba(255, 99, 88, 0.2) !important;
    border-color: rgba(255, 99, 88, 0.2) !important;
}

.k-i-expand {
    background-image: url(/images/expand.svg) !important;
    background-position: center center !important;
    background-size: auto !important;
}

.k-i-collapse {
    background-image: url(/images/collapse.svg) !important;
    background-position: center center !important;
}

.k-grid tr td {
    font-size: 14px;
    font-family: 'Roboto';
    line-height: 1.8;
}

.k-detail-cell th {
    line-height: 1.8;
}

.k-pager-info {
    font-size: 14px;
}

.k-pager-numbers {
    overflow: hidden;
}

    .k-pager-numbers li {
        font-size: 14px;
        width: 30px !important;
    }

    .k-pager-numbers .k-state-selected, .k-pager-numbers .k-link {
        width: 30px !important;
        line-height: 30px !important;
        font-family: 'Roboto';
    }

.k-dropdown-wrap.k-state-default {
    font-size: 14px;
    font-family: 'Roboto';
}

.k-detail-cell {
    padding: 0 !important;
    border: 0 !important;
}

.k-grid-header th.k-with-icon .k-link {
    font-size: 14px;
    padding-left: 0 !important;
    font-family: 'Roboto';
}

.k-grid-header {
    padding-right: 0px !important;
}

.k-grid-content {
    overflow-y: auto !important;
}

    .k-grid-content tr:nth-child(even) {
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.04)), to(rgba(0, 0, 0, 0.04))), #FFFFFF;
        background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)), #FFFFFF;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)), #FFFFFF;
    }

.k-master-row:hover {
    background: rgba(255, 99, 88, 0.2) !important;
}

.k-animation-container .k-menu-group.k-popup .k-item input[type=checkbox] {
    margin-right: 10px;
}

.k-pager-info {
    font-family: 'Roboto';
}

.k-grid table {
    min-width: 760px;
}

@media (min-width: 768px) and (max-width: 991px){
    /* .right-toolbar-only{
        display: block!important;
    }
    .align-items-md-end{
        align-items: center!important;
    }*/
} 

@media screen and (max-width: 1050px) {
    .right-toolbar-only {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }
}

@media screen and (min-width: 681px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-left: 15px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 767px) {
    .login-form-row {
        max-width: 275px;
        margin: auto;
    }

    .login-form .form-control {
        max-width: 275px;
    }

    .logintext {
        max-width: 275px;
    }

    .submit-btn {
        text-align: center;
    }

    .forgetpwd-01 {
        max-width: 255px;
        padding-right: 15px;
    }

    .forgetpwd-02 {
        max-width: 100%;
        text-align: center;
    }

    #username {
        margin-bottom: 5px;
    }
    .new-customer-sec {
        align-items: end;
    }
}

@media screen and (max-width: 680px) {
    .nav-link:after {
        right: 0!important;
    }

    .navbar-expand-sm .navbar-nav .nav-link {
        padding-left: 15px;
        padding-right: 14px;
    }
}

@media screen and (max-width: 575px) {
    .headerlist {
        padding-left: 20px;
    }

    .header-logo img {
        max-width: 100px;
    }

    .navbar-expand-sm .navbar-nav .nav-link {
        padding-left: 0;
        padding-right: 0;
    }

    .login-form .logo img {
        max-width: 175px;
    }

    .login-form .logo {
        margin-bottom: 40px;
    }

    .right-toolbar-only {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-top: 5px;
    }

    .k-webkit .k-pager-numbers .k-current-page .k-link {
        padding-left: 10px !important;
        padding-right: 10px !important;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .headertag {
        margin-bottom: 10px;
    }

    /*.save-load-btn {
        margin-right: 10px;
    }*/

    .export-link {
        /*padding-left: 0;*/
        margin-top: 5px;
        margin-top: 5px;
    }

    .newcustomer {
        margin-top: 5px;
        margin-right: 10px;
    }

    .save-load-btn button {
        margin-top: 5px;
    }
}

@media screen and (max-width: 375px) {
    .header-logo {
        padding-left: 0;
    }

    .user-info {
        margin-right: 0;
        padding-right: 0;
    }

    #subLogOut {
        margin-left: 7px;
    }

    #customDropdown .arrow-right {
        margin-right: 7px;
    }

    #UserNameId {
        font-size: 11px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 56px;
        white-space: nowrap;
        margin-right: 0px;
        position: relative;
        top: 5px;
    }
}
/*latest update*/
#gridFileInv.k-grid table {
    min-width: 0px;
}
#gridFileInv .k-pager-wrap.k-grid-pager {padding-left:0}
#gridFileInv .k-pager-wrap.k-grid-pager .k-pager-sizes{padding-left:0;padding-right:0}
#gridFileInv .k-pager-refresh.k-link{display:none}
#CloneModal .selct-opt::after{z-index:100;min-height:35px;}
#CloneModal .ticketpopup #btn-cancel{max-width:none;background-color:#ededed}
#InvMovePopModal .btncancelColor, #InvDeletePopModal .btncancelColor{background-color:#ededed}
.moveinventory-data .size-width {  width: 100%; } 
#gridFileInv .k-pager-wrap.k-grid-pager .k-pager-info {
    padding-left: 0;
    padding-right: 8px;
    position: relative;
    top: 3px;
} 