﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Error";
}
<style>
    .errorlog{
    color: #F31700 !important;
    font-style: italic;
    }
</style>
<h4 class="errorlog">Error.</h4>
<h4 class="errorlog"><strong>Please Contact Admin...!</strong></h4>

<a class="btn btnloginColor" href="@Url.Action("Index", "Login")" onclick="clkLogout()">Go to login page</a>